Repository Ericsson/codechecker, pull requests merged in 2018-03, with the labels that each got.

#1413 Fix non existing field for superuser
  libcodechecker/server/permissions.py
Labels: Kind: Bugfix, Target: Server

#1419 Fix dependency gen problem in xerces
  libcodechecker/analyze/analysis_manager.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1431 Adding some unknown flags.
  libcodechecker/log/option_parser.py
Labels: Kind: Enhancement

#1364 Extend product listing page with new fields
  api/v6/products.thrift
  libcodechecker/server/api/product_server.py
  libcodechecker/version.py
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/util.js
  www/scripts/productlist/ListOfProducts.js
  www/scripts/version.js
Labels: Kind: Enhancement, Target: API, Target: Server, Target: WebGUI

#1417 Use consistent run name filter at cmd line
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
  tests/functional/diff/test_diff.py
Labels: Kind: Bugfix, Kind: Enhancement, Target: Command-line

#1416 Filter cmd line checker statistics
  libcodechecker/cmd/cmd_line_client.py
Labels: Kind: Bugfix, Kind: Enhancement, Target: Command-line

#1434 Use prefix search for run name at the List of runs
  www/scripts/codecheckerviewer/ListOfRuns.js
Labels: Kind: Bugfix, Kind: Enhancement, Target: WebGUI

#1439 Fix diff type filter label
  www/scripts/codecheckerviewer/filter/DiffTypeFilter.js
Labels: Kind: Bugfix, Target: WebGUI

#1435 Improve performance of bug path draw
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Enhancement, Target: WebGUI

#1425 Fix check command clean option
  libcodechecker/libhandlers/check.py
Labels: Kind: Bugfix, Target: Command-line

#1440 Rename File filter to File path filter
  www/scripts/codecheckerviewer/filter/BugFilterView.js
Labels: Target: WebGUI

#1447 fix errors found by pylint
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/libhandlers/server.py
  libcodechecker/server/database/database.py
Labels: Kind: Bugfix

#1415 Configurable run limit on products.
  api/v6/products.thrift
  config_db_migrate/versions/bb5278995f41_run_limitation_for_products.py
  libcodechecker/server/api/product_server.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/database/config_db_model.py
  libcodechecker/version.py
  www/scripts/productlist/ProductSettingsView.js
  www/scripts/version.js
Labels: Kind: Enhancement, Target: API, Target: Database, Target: Server, Target: WebGUI

#1457 update gitignore
  .gitignore
Labels: Target: Developer environment

#1446 add initial pylintrc
  .pylintrc
Labels: Kind: Enhancement, Target: Developer environment

#1452 Give a better error message on DN lookup failure
  libcodechecker/libauth/cc_ldap.py
Labels: Kind: Enhancement, Target: Server

#1456 improve api mismatch errors
  libcodechecker/libclient/client.py
  libcodechecker/server/api/bad_api_version.py
  libcodechecker/server/server.py
  libcodechecker/version.py
Labels: Target: Server

#1448 move thrift client call wrapper to a separate module
  libcodechecker/libclient/authentication_helper.py
  libcodechecker/libclient/product_helper.py
  libcodechecker/libclient/thrift_call.py
  libcodechecker/libclient/thrift_helper.py
Labels: Target: Command-line, Target: Developer environment

#1451 hardening parse if source files or directories are missing
  libcodechecker/libhandlers/parse.py
  libcodechecker/util.py
Labels: Kind: Enhancement, Target: Command-line

#1450 Don't log linking build actions by default.
  libcodechecker/libhandlers/log.py
  libcodechecker/log/build_manager.py
  vendor/build-logger/src/ldlogger-tool-gcc.c
  vendor/build-logger/src/ldlogger-util.c
  vendor/build-logger/src/ldlogger-util.h
Labels: Kind: Enhancement, Target: Command-line

#1414 modify make targets
  .travis.yml
  Makefile
  tests/Makefile
  tests/README.md
Labels: Target: Developer environment

#1467 fix thrift call wrapper host, port
  libcodechecker/libclient/thrift_call.py
Labels: Kind: Bugfix, Status: WIP

#1458 Create local auth session by database session
  config_db_migrate/versions/6b9f832d0b20_add_user_name_and_group_to_session.py
  libcodechecker/server/database/config_db_model.py
  libcodechecker/server/session_manager.py
  tests/functional/products/test_config_db_share.py
Labels: Kind: Enhancement, Target: Server

#1433 Trim leading path from stored results
  api/v6/report_server.thrift
  docs/user_guide.md
  libcodechecker/libclient/thrift_helper.py
  libcodechecker/libhandlers/store.py
  libcodechecker/server/api/report_server.py
  libcodechecker/util.py
  tests/unit/test_trim_path_prefix.py
Labels: Kind: Enhancement, Target: API, Target: Command-line, Target: Server

#1430 Adding statistics collection support
  .ci/basic_python_requirements
  docs/user_guide.md
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/config_handler.py
  libcodechecker/analyze/ctu_manager.py
  libcodechecker/analyze/pre_analysis_manager.py
  libcodechecker/analyze/statistics_collector.py
  libcodechecker/host_check.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/util.py
  tests/functional/analyze/test_analyze.py
  tests/functional/statistics/__init__.py
  tests/functional/statistics/test_statistics.py
  tests/unit/test_statistics_collectors.py
Labels: Kind: Enhancement, Target: Analyzer handling

#1472 Load run history asynchronously
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/RunHistory.js
Labels: Kind: Enhancement, Target: WebGUI

#1468 Fix diff view
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Bugfix

#1471 Fix server product list mismatch in multi server
  libcodechecker/server/server.py
Labels: Kind: Bugfix, Kind: Enhancement, Target: Server

#1473 Reset diff type filter items on change
  www/scripts/codecheckerviewer/filter/DiffTypeFilter.js
Labels: Kind: Bugfix, Target: WebGUI

#1478 Support old suppress comment format files
  libcodechecker/suppress_file_handler.py
  tests/functional/suppress/test_suppress_generation.py
  tests/projects/suppress/suppress.expected
Labels: Kind: Bugfix, Kind: Enhancement
