Repository Ericsson/codechecker, pull requests merged in 2018-05, with the labels that each got.

#1540 Fix non existing filter member
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/RunHistory.js
Labels: Kind: Bugfix, Target: WebGUI

#1524 Apply ignore first, and ignore -flto flag.
  libcodechecker/log/option_parser.py
Labels: Kind: Bugfix, Target: Command-line

#1530 Allow more product endpoint names to be valid
  libcodechecker/server/routing.py
  tests/functional/products/test_products.py
Labels: Kind: Enhancement, Target: Server

#1537 Give better message when source files are missing
  libcodechecker/libhandlers/store.py
Labels: Kind: Enhancement, Target: Command-line

#1544 Update readme with animation gif demo
  README.md
  docs/images/demo.gif
Labels: Kind: Enhancement, Target: Documentation

#1543 Fix inline source comment in html output
  docs/user_guide.md
  libcodechecker/analyze/plist_parser.py
  libcodechecker/libhandlers/parse.py
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Enhancement, Target: Command-line

#1515 Allow html output only for diff and results at cmd
  docs/user_guide.md
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Bugfix, Target: Command-line

#1517 Command line deduplication
  docs/usage.md
  libcodechecker/analyze/plist_parser.py
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/parse.py
  libcodechecker/report.py
  libcodechecker/server/api/report_server.py
  tests/functional/analyze_and_parse/test_files/Makefile
  tests/functional/analyze_and_parse/test_files/simple1.deduplication.output
  tests/projects/cpp/Makefile
  tests/unit/test_report_path_hash.py
Labels: Kind: Bugfix, Kind: Enhancement, Target: Command-line, Target: Documentation

#1449 Consistent report counting
  api/v6/report_server.thrift
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
  libcodechecker/server/api/report_server.py
  libcodechecker/source_code_comment_handler.py
  tests/functional/report_viewer_api/test_run_data.py
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/UniqueFilter.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: Command-line, Target: WebGUI

#1492 Filter by Source components
  api/v6/report_server.thrift
  db_migrate/versions/3793e361a752_source_components.py
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/cmd/source_component_client.py
  libcodechecker/libclient/thrift_helper.py
  libcodechecker/libhandlers/cmd.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/database/run_db_model.py
  libcodechecker/util.py
  tests/functional/component/__init__.py
  tests/functional/component/test_component.py
  tests/libtest/env.py
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
  www/scripts/codecheckerviewer/filter/SelectFilter.js
  www/scripts/codecheckerviewer/filter/SelectedFilterItem.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: API, Target: Command-line, Target: Server

#1497 Create separate filter options for cmd line
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Enhancement, Kind: Usability, Target: Command-line, Target: Documentation

#1528 Diff two different tagged versions of the same run
  api/v6/report_server.thrift
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/server/api/report_server.py
  tests/functional/diff/__init__.py
  tests/functional/diff/test_diff.py
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/RunBaseFilter.js
  www/scripts/codecheckerviewer/filter/RunHistoryTagFilter.js
Labels: Kind: Enhancement, Target: API, Target: Command-line, Target: WebGUI

#1441 Add further detection date filter values
  www/scripts/codecheckerviewer/filter/DateFilter.js
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
  www/style/bugfilter.css
  www/style/codecheckerviewer.css
  www/style/icons.css
Labels: Kind: Enhancement, Target: WebGUI

#1561 Fix UI filter tooltip toggling items
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
Labels: Kind: Bugfix, Target: WebGUI

#1563 Show full file path in parse output
  libcodechecker/analyze/plist_parser.py
  tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: Kind: Enhancement, Target: Command-line

#1564 Show review status meaning at bug tooltip
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Enhancement, Target: WebGUI

#1565 Clickable 'Entered call from'
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Enhancement, Target: WebGUI

#1551 review status C style comment format
  docs/user_guide.md
  libcodechecker/source_code_comment_handler.py
  tests/functional/analyze_and_parse/test_files/Makefile
  tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.cpp
  tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.output
  tests/unit/source_code_comment_test_files/test_file_1
  tests/unit/source_code_comment_test_files/test_file_3
  tests/unit/test_source_code_comment.py
Labels: Kind: Enhancement

#1569 Notify other filters on date filter change
  www/scripts/codecheckerviewer/filter/DateFilter.js
Labels: Kind: Bugfix, Target: WebGUI

#1558 Generate index.html file by using PlistToHTML
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/parse.py
  vendor/plist_to_html/Makefile
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
  vendor/plist_to_html/plist_to_html/dist/index.html
  vendor/plist_to_html/plist_to_html/dist/js/bugviewer.js
  vendor/plist_to_html/plist_to_html/dist/layout.html
Labels: Kind: Enhancement, Target: Command-line

#1406 split up analyze and parse tests
  tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: Kind: Enhancement, Target: Test

#1574 Set default filter values on run history click
  www/scripts/codecheckerviewer/RunHistory.js
  www/scripts/codecheckerviewer/filter/SelectFilter.js
Labels: Kind: Bugfix, Target: WebGUI

#1577 Init run filters with the correct values
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
Labels: Kind: Bugfix, Target: WebGUI

#1573 Use file path from main section at plist-to-html
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Bugfix, Target: Command-line

#1579 New column id in index.html at plistToHtml parser
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Enhancement, Target: Command-line, Target: WebGUI

#1578 Reset URL parameters when history tab is active
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Bugfix, Target: WebGUI

#1581 Setting up checker severities
  config/checker_severity_map.json
  config/config.json
Labels: Kind: Enhancement, Target: Analyzer handling, Target: Documentation

#1576 Show tooltip by hovering on unique checkbox label
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/filter/UniqueFilter.js
  www/scripts/codecheckerviewer/util.js
  www/style/codecheckerviewer.css
  www/style/icons.css
Labels: Kind: Enhancement, Target: WebGUI

#1562 Disable detection status counts in unique mode
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/DetectionStatusFilter.js
  www/scripts/codecheckerviewer/filter/UniqueFilter.js
  www/style/bugfilter.css
  www/style/icons.css
Labels: Target: WebGUI

#1584 Using NullPool for database connections
  libcodechecker/server/database/database.py
Labels: Kind: Enhancement, Target: Database

#1586 Refactoring filter UI
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/ReportCount.js
  www/style/bugfilter.css
Labels: Kind: Enhancement, Kind: Usability, Target: WebGUI

#1590 Fix userguide
  docs/user_guide.md
Labels: Kind: Bugfix, Target: Documentation

#1591 Create a new tab on the UI for change logs
  www/changelog.html
  www/index.html
  www/scripts/codecheckerviewer/HeaderMenu.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/style/changelog.css
  www/style/codecheckerviewer.css
  www/style/icons.css
  www/userguide/images/component_filter.png
  www/userguide/images/plist_to_html_index.png
  www/userguide/images/run_tag_diff.png
Labels: Kind: Enhancement, Target: Documentation, Target: WebGUI

#1594 Fix getProducts API function to do exact match
  libcodechecker/libclient/client.py
  libcodechecker/server/api/product_server.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/database/database.py
  tests/functional/products/test_config_db_share.py
  www/scripts/productlist/ListOfProducts.js
Labels: Kind: Bugfix, Target: Server, Target: Test

#1595 Fix source component filter query in pgsql
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Database, Target: Server

#1597 Fix removing source component
  libcodechecker/cmd/source_component_client.py
Labels: Kind: Bugfix, Target: Command-line

#1598 Support component filter in the command line
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Enhancement, Target: Command-line

#1592 Show detection status dates in tooltip
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Enhancement, Target: WebGUI

#1608 fix skip file arguments
  libcodechecker/libhandlers/check.py
  libcodechecker/libhandlers/parse.py
  tests/functional/analyze_and_parse/test_files/multi_error_skipped.output
Labels: Kind: Bugfix, Target: Command-line, Target: Test

#1610 Fix get report data while generating HTML reports
  libcodechecker/cmd/cmd_line_client.py
  tests/functional/diff/test_diff.py
Labels: Kind: Bugfix, Target: Command-line
