Repository Ericsson/codechecker, pull requests merged in 2018-09, with the labels that each got.

#1719 Query reports only when shown.
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Enhancement, Target: WebGUI

#1722 Zombie processes remain on analysis interruption
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/pre_analysis_manager.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1726 Fix some JS and python alerts
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libclient/authentication_helper.py
  libcodechecker/log/build_manager.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/api/store_handler.py
  libcodechecker/server/session_manager.py
  www/scripts/codecheckerviewer/BugViewer.js
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/HeaderMenu.js
  www/scripts/codecheckerviewer/HeaderPane.js
  www/scripts/codecheckerviewer/HtmlTree.js
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/RunHistory.js
  www/scripts/codecheckerviewer/SourceComponentManager.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/util.js
  www/scripts/login/login.js
  www/scripts/productlist/ListOfProducts.js
  www/scripts/productlist/ProductSettingsView.js
Labels: Kind: Enhancement

#1721 Upload analyzer statistics information
  api/v6/report_server.thrift
  config/server_config.json
  docs/server_config.md
  libcodechecker/libclient/thrift_helper.py
  libcodechecker/libhandlers/store.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/session_manager.py
  tests/functional/storage_of_analysis_statistics/__init__.py
  tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
  tests/libtest/env.py
Labels: Kind: Enhancement, Target: API, Target: Server, Target: Test

#1727 Hide Remove filtered reports button
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/ReportCount.js
  www/style/bugfilter.css
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: WebGUI

#1723 calculate bug path length at store (schema change)
  db_migrate/versions/e89887e7d3f0_add_bug_path_length.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/api/store_handler.py
  libcodechecker/server/database/run_db_model.py
Labels: Kind: Enhancement, Target: Database

#1728 New configuration options for statistical counting
  docs/user_guide.md
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/pre_analysis_manager.py
  libcodechecker/analyze/statistics_collector.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/check.py
  tests/functional/statistics/test_statistics.py
  tests/projects/cpp/Makefile
  tests/projects/cpp/statistical_checkers.c
  tests/unit/test_statistics_collectors.py
Labels: Kind: Enhancement, Target: Analyzer handling

#1712 Describe new features of v6.8
  www/changelog.html
  www/style/changelog.css
Labels: Target: Documentation, Target: WebGUI

#1736 Increase API version
  libcodechecker/version.py
  www/scripts/version.js
Labels: Kind: Bugfix

#1737 handle missing documentation file
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Server

#1720 Default compiler standard
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/log_parser.py
  libcodechecker/generic_package_context.py
  libcodechecker/libhandlers/analyze.py
  tests/functional/analyze/test_analyze.py
  tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
  www/changelog.html
Labels: Kind: Enhancement, Target: Analyzer handling

#1686 Refactoring Checker statistics page
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/CheckerStatisticsFilter.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/ReviewStatusFilter.js
  www/scripts/codecheckerviewer/filter/SeverityFilter.js
Labels: Kind: Enhancement, Target: WebGUI

#1738 Show detection status in same reports selector
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Enhancement, Target: WebGUI

#1739 Show ctu and stats labels besides the run name
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: WebGUI

#1724 Analyzer statistics
  api/v6/report_server.thrift
  db_migrate/versions/39f9e96071c0_analyzer_statistics.py
  db_migrate/versions/9987aa593ca7_add_codechecker_version_to_run_history.py
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/api/store_handler.py
  libcodechecker/server/database/run_db_model.py
  libcodechecker/version.py
  www/changelog.html
  www/scripts/codecheckerviewer/AnalyzerStatisticsDialog.js
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/RunHistory.js
  www/scripts/version.js
  www/style/codecheckerviewer.css
  www/style/icons.css
  www/style/runhistory.css
Labels: Kind: Enhancement, Target: API, Target: Command-line, Target: Database, Target: Server, Target: WebGUI

#1741 Fix sql query
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Server

#1742 Fix non existing attribute in command line
  libcodechecker/cmd/cmd_line_client.py
Labels: Kind: Bugfix, Target: Command-line

#1744 Skip '-Xclang <opt>'
  libcodechecker/log/option_parser.py
  tests/unit/test_option_parser.py
Labels: Target: Analyzer handling

#1751 fix plist to html converter missing severity
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Bugfix
