Repository Ericsson/codechecker, pull requests merged in 2018-12, with the labels that each got.

#1824 Write more info logs at the server
  libcodechecker/server/api/authentication.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/permissions.py
  libcodechecker/server/server.py
Labels: Kind: Enhancement, Kind: Refactoring, Target: Server

#1828 Set user name in the HTTP response header
  libcodechecker/server/server.py
Labels: Kind: Enhancement, Target: Server

#1816 upgrade test environment for clang7
  .travis.yml
  config/checker_severity_map.json
  config/config.json
  docs/README.md
  docs/deps.md
  docs/tests/README.md
  tests/Makefile
  tests/check_clang.py
  tests/functional/analyze_and_parse/test_files/source_code_comments.output
  tests/functional/analyze_and_parse/test_files/tidy_check.output
  tests/functional/detection_status/test_detection_status.py
  tests/projects/suppress/suppress.cpp
  tests/projects/suppress/suppress.expected
Labels: Target: Developer environment, Target: Test

#1788 Constructing config handler is the analyzer classes' responsibility
  config/config.json
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/analyzer_env.py
  libcodechecker/analyze/analyzers/analyzer_base.py
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/analyzer_types.py
  libcodechecker/analyze/analyzers/config_handler.py
  libcodechecker/analyze/host_check.py
  libcodechecker/analyze/pre_analysis_manager.py
  libcodechecker/analyze/statistics_collector.py
  libcodechecker/host_check.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/check.py
  libcodechecker/libhandlers/checkers.py
  libcodechecker/log/option_parser.py
  libcodechecker/package_context.py
  libcodechecker/server/api/report_server.py
  libcodechecker/util.py
Labels: Kind: Enhancement, Target: Analyzer handling
