Repository Ericsson/codechecker, pull requests merged in 2018-10, with the labels that each got.

#1750 Add logo files
  docs/logo/logo.svg
  docs/logo/logo_blue.png
  docs/logo/logo_white.png
Labels: Target: Documentation

#1746 Gerrit-Jenkins integration
  docs/images/gerrit_jenkins/build_trigger.png
  docs/images/gerrit_jenkins/gerrit_plugin_restapi.png
  docs/images/gerrit_jenkins/gerrit_plugin_values.png
  docs/images/gerrit_jenkins/http_request_changed_files.png
  docs/images/gerrit_jenkins/http_request_post_review.png
  docs/images/gerrit_jenkins/source_code_management.png
  docs/jenkins_gerrit_integration.md
  scripts/gerrit_jenkins/create_skipfile.py
  scripts/gerrit_jenkins/parse_output_parser.py
Labels: Kind: Enhancement, Target: CI loop, Target: Documentation

#1755 Fix changing run tab
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Bugfix, Target: WebGUI

#1754 fix non breakable space character
  libcodechecker/util.py
  tests/functional/analyze_and_parse/test_files/source_code_comments.cpp
  tests/unit/test_source_code_comment.py
Labels: Kind: Bugfix

#1753 Slugify run name when storing analysis statistics
  libcodechecker/server/api/report_server.py
  libcodechecker/util.py
  tests/unit/test_slugify_file_name.py
Labels: Kind: Bugfix

#1763 Fix instance manager file lock
  libcodechecker/server/instance_manager.py
Labels: Kind: Bugfix, Target: Server

#1764 Fix storing check command
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Server

#1768 Fix profileit function
  libcodechecker/profiler.py
Labels: Kind: Bugfix

#1767 Print out which product is garbage collecting
  libcodechecker/server/database/db_cleanup.py
  libcodechecker/server/server.py
Labels: Kind: Enhancement, Target: Server

#1759 Remove trivial propertys. Rename some files.
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/analyzers/analyzer_base.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/analyzer_types.py
  libcodechecker/analyze/analyzers/config_handler.py
  libcodechecker/analyze/analyzers/config_handler_clangsa.py
  libcodechecker/analyze/analyzers/result_handler_base.py
  libcodechecker/analyze/log_parser.py
  libcodechecker/analyze/plist_parser.py
  libcodechecker/analyze/statistics_collector.py
  libcodechecker/analyze/tidy_output_converter.py
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/host_check.py
  libcodechecker/libclient/authentication_helper.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/analyzers.py
  libcodechecker/libhandlers/checkers.py
  libcodechecker/libhandlers/log.py
  libcodechecker/libhandlers/parse.py
  libcodechecker/libhandlers/server.py
  libcodechecker/libhandlers/store.py
  libcodechecker/libhandlers/version.py
  libcodechecker/log/build_action.py
  libcodechecker/log/option_parser.py
  libcodechecker/package_context.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/database/database.py
  libcodechecker/server/session_manager.py
  libcodechecker/source_code_comment_handler.py
  libcodechecker/suppress_handler.py
Labels: Kind: Refactoring

#1773 Remove lock file at the end of logging
  libcodechecker/log/build_manager.py
Labels: Kind: Bugfix, Target: Command-line

#1774 Slightly cleaner handling of constructing analyzers
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzers/analyzer_base.py
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/analyzer_types.py
  libcodechecker/analyze/analyzers/config_handler.py
  libcodechecker/analyze/analyzers/config_handler_clang_tidy.py
  libcodechecker/host_check.py
  libcodechecker/libhandlers/checkers.py
Labels: Kind: Enhancement, Target: Analyzer handling

#1779 Preserve -nostdinc++ in command line, the same as for -nostdinc
  libcodechecker/log/option_parser.py
  tests/unit/test_option_parser.py
Labels: Kind: Enhancement, Target: Analyzer handling, Target: Command-line, Target: Test

#1783 Break long lines at cmd analyze and check commands
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/check.py
Labels: Kind: Bugfix, Target: Command-line

#1785 Fix long line
  libcodechecker/libhandlers/analyze.py
Labels: Kind: Bugfix

#1776 Add missing images to user guide
  www/userguide/images/analysis_statistics.png
  www/userguide/images/report_hash_filter.png
Labels: Kind: Bugfix, Target: Documentation, Target: WebGUI

#1784 Fix exception message printing at server
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Server

#1762 Handle SIGTERM to stop the server running.
  bin/CodeChecker
  libcodechecker/server/server.py
Labels: Kind: Enhancement, Target: Server

#1758 Fix plist to html parser
  vendor/plist_to_html/plist_to_html/dist/js/bugviewer.js
Labels: Kind: Bugfix, Target: WebGUI
