Repository Ericsson/codechecker, pull requests merged in 2018-04, with the labels that each got.

#1490 Add ctu-clang6 compatibility
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
Labels: Kind: Bugfix

#1495 Refactor CSS code and move to separate files
  www/images/minus.png
  www/images/plus.png
  www/index.html
  www/login.html
  www/products.html
  www/style/bugfilter.css
  www/style/codecheckerviewer.css
  www/style/comment.css
  www/style/icons.css
  www/style/runhistory.css
Labels: Target: WebGUI

#1494 Do not use globals at bug filter view
  www/scripts/codecheckerviewer/filter/BugFilterView.js
Labels: Kind: Bugfix, Target: WebGUI

#1493 Highlight last bug path message fix
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Bugfix, Target: WebGUI

#1503 Use cogwheel for filter option icon
  www/scripts/codecheckerviewer/filter/SelectFilter.js
  www/style/bugfilter.css
  www/style/icons.css
Labels: Kind: Bugfix, Target: WebGUI

#1486 List out latest version tag at runs command
  libcodechecker/cmd/cmd_line_client.py
Labels: Kind: Enhancement, Target: Command-line

#1511 Show bug path length for a report
  libcodechecker/server/api/report_server.py
  www/scripts/codecheckerviewer/BugViewer.js
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/util.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: WebGUI

#1500 Run history command
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libclient/thrift_helper.py
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Enhancement, Target: Command-line

#1516 Highlight occurences of the selected text
  www/index.html
  www/scripts/codecheckerviewer/BugViewer.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: WebGUI

#1487 Do not show false positive and intentional bugs at parse
  libcodechecker/analyze/plist_parser.py
  libcodechecker/generic_package_suppress_handler.py
  libcodechecker/source_code_comment_handler.py
  tests/functional/analyze_and_parse/test_files/Makefile
  tests/functional/analyze_and_parse/test_files/source_code_comments.cpp
  tests/functional/analyze_and_parse/test_files/source_code_comments.output
Labels: Kind: Bugfix, Kind: Enhancement, Target: Command-line

#1521 Fix UI file path filter for run results
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Bugfix, Target: WebGUI

#1510 Unified report filter
  www/fonts/codechecker.eot
  www/fonts/codechecker.svg
  www/fonts/codechecker.ttf
  www/fonts/codechecker.woff
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/DiffTypeFilter.js
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
  www/scripts/codecheckerviewer/filter/SelectFilter.js
  www/style/bugfilter.css
  www/style/icons.css
Labels: Kind: Enhancement, Target: WebGUI

#1520 fix bug event/path parsing
  libcodechecker/server/api/store_handler.py
  tests/Makefile
  tests/unit/__init__.py
  tests/unit/test_store_handler.py
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Bugfix, Target: WebGUI

#1427 fix Default product config modification
  libcodechecker/libhandlers/server.py
Labels: Kind: Bugfix, Target: Server

#1305 ldap hardening and tests
  libcodechecker/libauth/cc_ldap.py
  tests/requirements.txt
  tests/unit/test_ccldap.py
Labels: Kind: Enhancement, Target: Test

#1489 Refactor list of products page
  www/scripts/productlist/ListOfProducts.js
  www/style/productlist.css
Labels: Target: WebGUI

#1454 Add check command to run history
  api/v6/report_server.thrift
  db_migrate/versions/080349e895d7_add_check_command_to_run_history.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/api/store_handler.py
  libcodechecker/server/database/run_db_model.py
  libcodechecker/version.py
  www/scripts/codecheckerviewer/RunHistory.js
  www/scripts/version.js
  www/style/runhistory.css
Labels: Kind: Enhancement, Target: API, Target: WebGUI

#1531 fix debug log in parse if report is skipped
  libcodechecker/analyze/plist_parser.py
Labels: Kind: Bugfix, Target: Command-line
