Repository Ericsson/codechecker, pull requests merged in 2018-08, with the labels that each got.

#1694 increase scan-build version for osx install
  requirements_py/osx/requirements.txt
Labels: Target: Analyzer handling

#1635 Allow comparison of two report directories
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
  libcodechecker/report.py
  tests/functional/diff/__init__.py
  tests/functional/diff/test_diff.py
Labels: Kind: Enhancement, Target: Command-line, Target: Test

#1681 Set default severity level for compiler warnings
  libcodechecker/analyze/plist_parser.py
  libcodechecker/generic_package_context.py
  libcodechecker/libhandlers/checkers.py
  libcodechecker/server/api/store_handler.py
  tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Enhancement, Target: Test

#1701 Pass severity map dictionary instead of the file
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/parse.py
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Bugfix, Kind: Enhancement

#1682 Extend filter text input field hint with example
  www/scripts/codecheckerviewer/filter/CheckerMessageFilter.js
  www/scripts/codecheckerviewer/filter/FileFilter.js
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
  www/scripts/codecheckerviewer/filter/RunBaseFilter.js
  www/style/bugfilter.css
  www/userguide/userguide.md
Labels: Kind: Enhancement, Target: Documentation, Target: WebGUI

#1649 Delete filtered run results
  api/v6/report_server.thrift
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libclient/thrift_helper.py
  libcodechecker/server/api/report_server.py
  tests/functional/report_viewer_api/test_remove_run_results.py
  www/scripts/codecheckerviewer/ListOfRuns.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/style/bugfilter.css
Labels: Kind: Enhancement, Target: API, Target: Test, Target: WebGUI

#1705 Fixed Spelling.
  docs/db_schema_guide.md
  libcodechecker/logger.py
  libcodechecker/server/server.py
  scripts/debug_tools/failure_lib.py
Labels: Target: Documentation

#1699 Encode html entities in PlistToHtml parser
  vendor/plist_to_html/plist_to_html/dist/js/bugviewer.js
Labels: Kind: Bugfix

#1708 Fix JavaScript old browser compatibility
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/util.js
Labels: Kind: Bugfix, Kind: Enhancement, Target: WebGUI

#1711 Removing run reports in chunks
  libcodechecker/server/api/report_server.py
Labels: Kind: Bugfix, Target: Server

#1706 Update web userguide
  www/userguide/images/checker_statistics.png
  www/userguide/images/checker_statistics_filter.png
  www/userguide/images/list_of_source_components.png
  www/userguide/images/manage_source_components.png
  www/userguide/images/remove_filtered_reports.png
  www/userguide/images/reports.png
  www/userguide/userguide.md
Labels: Target: Documentation

#1713 Print statistics at the end of parse command
  libcodechecker/analyze/plist_parser.py
  libcodechecker/libhandlers/parse.py
Labels: Kind: Enhancement, Target: Command-line

#1703 add checker and analyzer configuration documentation
  docs/checker_and_analyzer_configuration.md
  docs/usage.md
  docs/user_guide.md
Labels: Target: Documentation
