Repository Ericsson/codechecker, pull requests merged in 2018-07, with the labels that each got.

#1630 Use bug filter bar at Checker statistics
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/CheckerStatisticsFilter.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/CheckerMessageFilter.js
  www/scripts/codecheckerviewer/filter/CheckerNameFilter.js
  www/scripts/codecheckerviewer/filter/FileFilter.js
  www/scripts/codecheckerviewer/filter/SourceComponentFilter.js
  www/scripts/codecheckerviewer/hashHelper.js
Labels: Kind: Enhancement, Target: WebGUI

#1645 Add statistics checkers' flags to CodeChecker check sub-command
  libcodechecker/libhandlers/check.py
Labels: Kind: Bugfix, Target: Command-line

#1658 Fix tidy output converter
  libcodechecker/analyze/tidy_output_converter.py
  tests/unit/test_tidy_output_converter.py
  tests/unit/tidy_output_test_files/tidy6.out
Labels: Kind: Bugfix, Target: Analyzer handling, Target: Test

#1663 Plist to html browser support
  vendor/plist_to_html/Makefile
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
  vendor/plist_to_html/plist_to_html/dist/index.html
  vendor/plist_to_html/plist_to_html/dist/js/browsersupport.js
  vendor/plist_to_html/plist_to_html/dist/js/bugviewer.js
  vendor/plist_to_html/plist_to_html/dist/layout.html
Labels: Kind: Enhancement, Kind: Usability, Target: WebGUI

#1654 Fine grain control of Clang warnings
  docs/user_guide.md
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/config_handler_clang_tidy.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/check.py
  libcodechecker/libhandlers/cmd.py
  libcodechecker/util.py
  tests/functional/analyze_and_parse/test_files/Makefile
  tests/functional/analyze_and_parse/test_files/compiler_warning.cpp
  tests/functional/analyze_and_parse/test_files/compiler_warning_no_warn.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple2.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wunused.output
  tests/functional/detection_status/test_detection_status.py
  tests/projects/cpp/Makefile
Labels: Kind: Enhancement, Target: Analyzer handling, Target: Test

#1667 Update group field of the users tokens on login
  libcodechecker/server/api/authentication.py
  libcodechecker/server/session_manager.py
Labels: Kind: Bugfix, Target: Server

#1664 Filter results by report hash on the GUI
  libcodechecker/server/api/report_server.py
  www/scripts/codecheckerviewer/BugViewer.js
  www/scripts/codecheckerviewer/ListOfBugs.js
  www/scripts/codecheckerviewer/filter/BugFilterView.js
  www/scripts/codecheckerviewer/filter/ReportHashFilter.js
  www/scripts/codecheckerviewer/filter/SelectFilter.js
  www/style/bugfilter.css
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Target: WebGUI

#1641 Fix non existing report in the GUI
  www/scripts/codecheckerviewer/ListOfBugs.js
Labels: Kind: Bugfix, Target: WebGUI

#1669 Fix compiler warning test cases
  docs/usage.md
  tests/functional/analyze_and_parse/test_files/compiler_warning_no_warn.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple2.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wunused.output
Labels: Kind: Bugfix, Target: Test

#1670 Call getSeverityCounts correctly
  www/scripts/codecheckerviewer/CheckerStatistics.js
Labels: Kind: Bugfix, Target: WebGUI

#1668 sysroot parameter can be given multiple ways
  libcodechecker/analyze/log_parser.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1677 Fix CTU test
  tests/functional/ctu/test_ctu.py
Labels: Kind: Bugfix, Target: Test

#1675 Filter reports by report hash at the command line
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Enhancement, Target: Command-line, Target: Documentation

#1676 Fix utf8 error at diff when generating html output
  libcodechecker/cmd/cmd_line_client.py
Labels: Kind: Bugfix, Target: Command-line

#1685 Fasten tests
  tests/libtest/codechecker.py
Labels: Kind: Bugfix, Kind: Usability, Target: Test

#1678 Set default filter values at Checker statistics
  www/scripts/codecheckerviewer/CheckerStatistics.js
  www/scripts/codecheckerviewer/CheckerStatisticsFilter.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
Labels: Kind: Bugfix, Target: WebGUI

#1587 Show run store in progress at Product page
  api/v6/products.thrift
  libcodechecker/server/api/product_server.py
  libcodechecker/version.py
  www/scripts/productlist/ListOfProducts.js
  www/scripts/version.js
Labels: Kind: Enhancement, Kind: Usability, Target: API, Target: WebGUI

#1679 Multiline messages are displayed properly
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
  vendor/plist_to_html/plist_to_html/dist/js/bugviewer.js
  www/scripts/codecheckerviewer/BugViewer.js
Labels: Kind: Bugfix, Target: Command-line, Target: WebGUI

#1672 Ignore target dependent -mabi compiler option.
  libcodechecker/log/option_parser.py
  tests/unit/test_option_parser.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1689 restructure python requirements files
  .ci/osx_extra_python_requirements
  Makefile
  README.md
  docs/authentication.md
  requirements_py/auth/requirements.txt
  requirements_py/db_pg8000/requirements.txt
  requirements_py/db_psycopg2/requirements.txt
  requirements_py/dev/requirements.txt
  requirements_py/osx/requirements.txt
  requirements_py/requirements.txt
  tests/Makefile
Labels: Target: Developer environment

#1690 Fix confirmed bug icon at Checker statistics page
  www/scripts/codecheckerviewer/CheckerStatistics.js
Labels: Kind: Bugfix, Target: WebGUI
