Repository Ericsson/codechecker, pull requests merged in 2019-02, with the labels that each got.

#1772 Refactoring fail zip
  Makefile
  config/package_layout.json
  libcodechecker/analyze/analysis_manager.py
  scripts/build_package.py
  tests/Makefile
  tests/unit/__init__.py
  vendor/tu_collector/Makefile
  vendor/tu_collector/tests/project/main.cpp
  vendor/tu_collector/tests/tu_collector_test.py
  vendor/tu_collector/tu_collector/__init__.py
  vendor/tu_collector/tu_collector/tu_collector.py
Labels: Kind: Refactoring, Target: Analyzer handling

#1691 Common severity for a checker
  libcodechecker/package_context.py
  libcodechecker/server/database/db_cleanup.py
  libcodechecker/server/server.py
  tests/functional/db_cleanup/__init__.py
  tests/functional/db_cleanup/test_db_cleanup.py
Labels: Kind: Enhancement, Target: Server, Target: Test

#1899 Filter by detection date in command line
  docs/user_guide.md
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/libhandlers/cmd.py
Labels: Kind: Enhancement, Target: Command-line, Target: Documentation

#1900 Upload compiler_info.json
  libcodechecker/libhandlers/store.py
Labels: Kind: Bugfix, Target: Command-line

#1901 Fix storage of analysis statistics test
  tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
Labels: Kind: Bugfix, Target: Test

#1883 New features of v6.9
  www/changelog.html
  www/userguide/images/macro_expansion.png
Labels: Target: Documentation, Target: WebGUI

#1902 Store statistics if it contains failed zips
  libcodechecker/libhandlers/store.py
Labels: Kind: Bugfix, Target: Server

#1836 Change context free hash algorithm
  docs/report_identification.md
  docs/usage.md
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/result_handler_base.py
  libcodechecker/analyze/analyzers/result_handler_clang_tidy.py
  libcodechecker/analyze/analyzers/result_handler_clangsa.py
  libcodechecker/report.py
  libcodechecker/util.py
  tests/functional/analyze_and_parse/test_files/context_free_hash.output
  tests/functional/analyze_and_parse/test_files/context_hash.cpp
  tests/functional/analyze_and_parse/test_files/context_sensitive_hash.output
  tests/unit/test_report.py
Labels: Target: Analyzer handling, Target: Documentation, Target: Test, WARN: Backward compatibility breaker!

#1903 Small log parser fixes.
  libcodechecker/log/log_parser.py
Labels: Kind: Bugfix

#1907 Add tooltips to detection status filter items
  www/scripts/codecheckerviewer/filter/DetectionStatusFilter.js
  www/scripts/codecheckerviewer/filter/FilterTooltip.js
  www/scripts/codecheckerviewer/filter/SelectFilter.js
  www/scripts/codecheckerviewer/filter/SelectedFilterItem.js
Labels: Kind: Enhancement, Target: WebGUI

#1905 Enable statistics checkers before workers
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1910 Fix password request for cmd
  libcodechecker/libclient/client.py
Labels: Kind: Bugfix, Target: Command-line

#1862 New notification banner
  api/v6/Makefile
  api/v6/configuration.thrift
  config_db_migrate/versions/dec6feb991e6_new_table_for_server_config.py
  libcodechecker/server/api/config_handler.py
  libcodechecker/server/database/config_db_model.py
  libcodechecker/server/server.py
  tests/functional/server_configuration/__init__.py
  tests/functional/server_configuration/test_server_configuration.py
  tests/libtest/env.py
  tests/libtest/thrift_client_to_db.py
  www/index.html
  www/login.html
  www/products.html
  www/scripts/codecheckerviewer/HeaderPane.js
  www/scripts/codecheckerviewer/codecheckerviewer.js
  www/scripts/login/login.js
  www/scripts/productlist/ListOfProducts.js
  www/scripts/productlist/NotificationView.js
  www/scripts/productlist/productlist.js
  www/style/codecheckerviewer.css
Labels: Kind: Enhancement, Status: WIP, Target: WebGUI

#1911 finish logging cleanup
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzers/analyzer_types.py
  libcodechecker/libauth/cc_ldap.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/store.py
  libcodechecker/server/api/product_server.py
  libcodechecker/server/api/report_server.py
  libcodechecker/server/server.py
  libcodechecker/server/session_manager.py
  libcodechecker/suppress_file_handler.py
  libcodechecker/util.py
  requirements_py/test/requirements.txt
  tests/Makefile
  tests/functional/analyze_and_parse/test_files/compiler_warning_no_warn.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple2.output
  tests/functional/analyze_and_parse/test_files/compiler_warning_wunused.output
  tests/functional/analyze_and_parse/test_files/context_free_hash.output
  tests/functional/analyze_and_parse/test_files/context_sensitive_hash.output
  tests/functional/analyze_and_parse/test_files/multi_error.en1.output
  tests/functional/analyze_and_parse/test_files/multi_error.en2.output
  tests/functional/analyze_and_parse/test_files/multi_error.output
  tests/functional/analyze_and_parse/test_files/multi_error.steps.output
  tests/functional/analyze_and_parse/test_files/multi_error_skipped.output
  tests/functional/analyze_and_parse/test_files/multi_error_suppress.output
  tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.output
  tests/functional/analyze_and_parse/test_files/multi_error_suppress_typo.output
  tests/functional/analyze_and_parse/test_files/nofail.output
  tests/functional/analyze_and_parse/test_files/nofail.steps.output
  tests/functional/analyze_and_parse/test_files/saargs_forward.noforward.output
  tests/functional/analyze_and_parse/test_files/saargs_forward.output
  tests/functional/analyze_and_parse/test_files/simple1.deduplication.output
  tests/functional/analyze_and_parse/test_files/simple1.output
  tests/functional/analyze_and_parse/test_files/simple1.steps.output
  tests/functional/analyze_and_parse/test_files/simple2.output
  tests/functional/analyze_and_parse/test_files/simple2.steps.output
  tests/functional/analyze_and_parse/test_files/source_code_comments.output
  tests/functional/analyze_and_parse/test_files/tidy_check.output
Labels: Kind: Refactoring

#1921 Prepare split up
  libcodechecker/analyze/analysis_manager.py
  libcodechecker/analyze/analyzer.py
  libcodechecker/analyze/analyzer_env.py
  libcodechecker/analyze/analyzers/analyzer_clang_tidy.py
  libcodechecker/analyze/analyzers/analyzer_clangsa.py
  libcodechecker/analyze/analyzers/analyzer_types.py
  libcodechecker/analyze/pre_analysis_manager.py
  libcodechecker/cmd/cmd_line_client.py
  libcodechecker/cmd/product_client.py
  libcodechecker/database_status.py
  libcodechecker/env.py
  libcodechecker/host_check.py
  libcodechecker/libhandlers/analyze.py
  libcodechecker/libhandlers/check.py
  libcodechecker/libhandlers/checkers.py
  libcodechecker/libhandlers/parse.py
  libcodechecker/libhandlers/server.py
  libcodechecker/libhandlers/store.py
  libcodechecker/package_context.py
  libcodechecker/plist_parser.py
  libcodechecker/server/api/report_server.py
  libcodechecker/skiplist_handler.py
  tests/unit/test_plist_parser.py
  tests/unit/test_report_path_hash.py
  tests/unit/test_store_handler.py
Labels: Kind: Refactoring

#1922 python3 compatible exception cleanup
  libcodechecker/libclient/client.py
  libcodechecker/libclient/thrift_call.py
  libcodechecker/libhandlers/check.py
  libcodechecker/server/server.py
Labels: Kind: Refactoring

#1917 fix pylint old-style class warnings
  libcodechecker/libclient/credential_manager.py
  libcodechecker/util.py
  scripts/debug_tools/failure_lib.py
  scripts/debug_tools/prepare_analyzer_cmd.py
  tests/Makefile
  vendor/plist_to_html/plist_to_html/PlistToHtml.py
Labels: Kind: Refactoring

#1926 py3 fix iterator protocol (next method change)
  libcodechecker/log/log_parser.py
Labels: Kind: Refactoring

#1925 fix dict.items referenced when not iterating py3
  libcodechecker/libhandlers/store.py
  libcodechecker/util.py
Labels: Kind: Refactoring

#1923 remove py3 incompatible uppercase conversion
  libcodechecker/logger.py
Labels: Kind: Refactoring

#1928 fix dict item was referenced when not iterating py3
  libcodechecker/server/server.py
Labels: Kind: Refactoring

#1929 Download external dependencies with Makefile
  .gitignore
  Makefile
  scripts/build_package.py
  vendor/Makefile
  vendor_projects.json
Labels: Kind: Refactoring

#1927 Add example for CodeChecker cmd diff
  docs/user_guide.md
Labels: Target: Documentation

#1933 Give better error message on keyerror at package context
  libcodechecker/package_context.py
Labels: Kind: Refactoring

#1931 Extend version file with git information
  Makefile
  scripts/build/extend_version_file.py
  scripts/build_package.py
Labels: Kind: Refactoring

#1932 Create commands.json for sub-commands
  Makefile
  scripts/build/create_commands.py
  scripts/build_package.py
Labels: Kind: Refactoring

#1936 Fix verbosity in build scripts
  scripts/build/create_commands.py
  scripts/build/extend_version_file.py
Labels: Kind: Bugfix

#1937 Use Makefile to build CodeChecker package
  Makefile
  scripts/build_package.py
Labels: Kind: Refactoring

#1938 fix action list length check
  libcodechecker/libhandlers/analyze.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1909 Tool to create new compiler info files from old ones.
  scripts/debug_tools/renew_info_files.py
Labels: Target: Developer environment

#1942 Fix failed source list of analysis statistics
  analyzer/codechecker/analyze/analysis_manager.py
Labels: Kind: Bugfix, Target: Analyzer handling

#1945 Revert back package build scripts to py2
  scripts/build/create_commands.py
  scripts/build/extend_version_file.py
  scripts/create_new_subcommand.py
Labels: Target: Developer environment

#1946 Handle cases when plugin directory does not exist
  analyzer/codechecker/analyze/analyzers/config_handler.py
Labels: Kind: Usability, Target: Analyzer handling

#1947 Move analyzer specific test projects under analyzer
  analyzer/tests/Makefile
  analyzer/tests/projects/ctu_failure/buildlog.json
  analyzer/tests/projects/ctu_failure/lib.c
  analyzer/tests/projects/ctu_failure/main.c
  analyzer/tests/projects/ctu_failure_with_headers/buildlog.json
  analyzer/tests/projects/ctu_failure_with_headers/lib.c
  analyzer/tests/projects/ctu_failure_with_headers/lib.h
  analyzer/tests/projects/ctu_failure_with_headers/main.c
  analyzer/tests/projects/macros/macros.cpp
  analyzer/tests/projects/macros/macros.plist
  analyzer/tests/projects/notes/notes.cpp
  analyzer/tests/projects/notes/notes.plist
Labels: Kind: Refactoring, Target: Analyzer handling, Target: Test

#1950 Fix cleanup target
  Makefile
Labels: Kind: Bugfix

#1951 Add more test targets to the main Makefile
  Makefile
Labels: Kind: Enhancement, Target: Test

#1952 Add pylint and pycodestyle targets
  Makefile
  analyzer/tests/Makefile
  webserver/tests/Makefile
Labels: Kind: Refactoring, Target: Test

#1948 Move server related test projects under server
  scripts/test/run_server_performance_test.py
  tests/performance/readme.md
  tests/performance/run_performance_test
  webserver/tests/Makefile
  webserver/tests/projects/README.md
  webserver/tests/projects/cpp/Makefile
  webserver/tests/projects/cpp/call_and_message.cpp
  webserver/tests/projects/cpp/divide_zero.cpp
  webserver/tests/projects/cpp/divide_zero_duplicate.cpp
  webserver/tests/projects/cpp/file_to_be_skipped.cpp
  webserver/tests/projects/cpp/has a space.cpp
  webserver/tests/projects/cpp/new_delete.cpp
  webserver/tests/projects/cpp/null_dereference.cpp
  webserver/tests/projects/cpp/path_begin.cpp
  webserver/tests/projects/cpp/path_begin1.cpp
  webserver/tests/projects/cpp/path_begin2.cpp
  webserver/tests/projects/cpp/path_end.h
  webserver/tests/projects/cpp/project_info.json
  webserver/tests/projects/cpp/skip.h
  webserver/tests/projects/cpp/skip_header.cpp
  webserver/tests/projects/cpp/stack_address_escape.cpp
  webserver/tests/projects/cpp/statistical_checkers.cpp
  webserver/tests/projects/macros/macros.cpp
  webserver/tests/projects/macros/macros.plist
  webserver/tests/projects/notes/notes.cpp
  webserver/tests/projects/notes/notes.plist
  webserver/tests/projects/objc/DeallocUseAfterFreeErrors.m
  webserver/tests/projects/objc/Makefile
  webserver/tests/projects/simple/Makefile
  webserver/tests/projects/simple/main.cpp
  webserver/tests/projects/simple/project_info.json
  webserver/tests/projects/single_bug/Makefile
  webserver/tests/projects/single_bug/bug.cpp
  webserver/tests/projects/single_bug/project_info.json
  webserver/tests/projects/suppress/Makefile
  webserver/tests/projects/suppress/project_info.json
  webserver/tests/projects/suppress/suppress.cpp
  webserver/tests/projects/suppress/suppress.expected
Labels: Kind: Refactoring, Target: Server, Target: Test

#1943 Do not store failed files when using 6.9.0 version
  webserver/server/codechecker/server/api/store_handler.py
Labels: Kind: Bugfix, Target: Server

#1958 Fix run_test target
  webserver/tests/Makefile
Labels: Kind: Bugfix, Target: Test

#1954 Build the package before running functional tests
  Makefile
Labels: Kind: Enhancement, Target: Test

#1959 Skip generated files from tests projects in gitignore
  .gitignore
Labels: Kind: Refactoring

#1960 Move some files to webserver common
  webserver/client/cmd/store.py
  webserver/client/codechecker/client/client.py
  webserver/client/codechecker/client/credential_manager.py
  webserver/client/codechecker/cmdhelper/product_client.py
  webserver/cmd/webserver_version.py
  webserver/common/database_status.py
  webserver/common/db_version.py
  webserver/common/host_check.py
  webserver/common/pgpass.py
  webserver/common/version.py
  webserver/common/webserver_context.py
  webserver/server/cmd/server.py
  webserver/server/codechecker/server/api/bad_api_version.py
  webserver/server/codechecker/server/database/database.py
  webserver/server/codechecker/server/routing.py
  webserver/server/codechecker/server/server.py
  webserver/server/codechecker/server/session_manager.py
  webserver/tests/libtest/thrift_client_to_db.py
Labels: Kind: Refactoring, Target: Server

#1955 Move webserver unit tests under server
  webserver/Makefile
  webserver/server/tests/Makefile
  webserver/server/tests/unit/__init__.py
  webserver/server/tests/unit/newline
  webserver/server/tests/unit/plist_test_files/clang-3.7-noerror.plist
  webserver/server/tests/unit/plist_test_files/clang-3.7.plist
  webserver/server/tests/unit/plist_test_files/clang-3.8-trunk.plist
  webserver/server/tests/unit/plist_test_files/clang-4.0.plist
  webserver/server/tests/unit/plist_test_files/clang-5.0-trunk.plist
  webserver/server/tests/unit/plist_test_files/empty_file
  webserver/server/tests/unit/plist_test_files/gen_plist/gen_noerror_plist
  webserver/server/tests/unit/plist_test_files/gen_plist/gen_plist
  webserver/server/tests/unit/plist_test_files/gen_plist/gen_plist.md
  webserver/server/tests/unit/plist_test_files/gen_plist/noerror.cpp
  webserver/server/tests/unit/plist_test_files/gen_plist/test.cpp
  webserver/server/tests/unit/plist_test_files/gen_plist/test.h
  webserver/server/tests/unit/source_code_comment_test_files/test_file_1
  webserver/server/tests/unit/source_code_comment_test_files/test_file_2
  webserver/server/tests/unit/source_code_comment_test_files/test_file_3
  webserver/server/tests/unit/test_ccldap.py
  webserver/server/tests/unit/test_plist_parser.py
  webserver/server/tests/unit/test_report.py
  webserver/server/tests/unit/test_report_path_hash.py
  webserver/server/tests/unit/test_request_routing.py
  webserver/server/tests/unit/test_slugify_file_name.py
  webserver/server/tests/unit/test_source_code_comment.py
  webserver/server/tests/unit/test_store_handler.py
  webserver/server/tests/unit/test_subprocess_timeout.py
  webserver/server/tests/unit/test_trim_path_prefix.py
  webserver/server/tests/unit/test_url_understanding.py
  webserver/server/tests/unit/test_util_fileread.py
  webserver/server/tests/unit/unit_template.py
  webserver/tests/Makefile
Labels: Kind: Refactoring, Target: Test

#1962 Fix CodeChecker version after split up
  libcodechecker/libhandlers/version.py
Labels: Kind: Enhancement, Kind: Refactoring

#1961 Get analyzer_statistics module from analyzer
  analyzer/cmd/analyze.py
Labels: Kind: Refactoring, Target: Analyzer handling

#1966 Cache downloaded binary osx packages on travis
  .travis.yml
Labels: Kind: Enhancement, Target: Test

#1964 Split up source repository
  .dockerignore
  .gitignore
  .pylintrc
  Makefile
  analyzer/codechecker_analyzer/cmd/__init__.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/analyzer_version.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/Makefile
  analyzer/tools/build-logger/Makefile.manual
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/src/ldlogger-hooks.c
  analyzer/tools/build-logger/src/ldlogger-hooks.h
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/src/ldlogger-tool-javac.c
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/src/ldlogger-tool.h
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
  analyzer/tools/build-logger/test/test_logger.sh
  bin/CodeChecker.py
  libcodechecker/cmd/__init__.py
  libcodechecker/cmd/version.py
  libcodechecker/libhandlers/__init__.py
  scripts/build/create_commands.py
  tools/plist_to_html/Makefile
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/plist_to_html/__init__.py
  tools/plist_to_html/plist_to_html/dist/css/icon.css
  tools/plist_to_html/plist_to_html/dist/css/style.css
  tools/plist_to_html/plist_to_html/dist/index.html
  tools/plist_to_html/plist_to_html/dist/js/browsersupport.js
  tools/plist_to_html/plist_to_html/dist/js/bugviewer.js
  tools/plist_to_html/plist_to_html/dist/layout.html
  tools/tu_collector/Makefile
  tools/tu_collector/tests/project/main.cpp
  tools/tu_collector/tests/tu_collector_test.py
  tools/tu_collector/tu_collector/__init__.py
  tools/tu_collector/tu_collector/tu_collector.py
  web/client/codechecker_client/cmd/__init__.py
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd/store.py
  web/codechecker_web/cmd/__init__.py
  web/codechecker_web/cmd/web_version.py
  web/server/codechecker_server/cmd/__init__.py
  web/server/codechecker_server/cmd/server.py
  web/tests/Makefile
Labels: Kind: Refactoring

#1967 Remove .noserc from root
  .noserc
Labels: Kind: Refactoring
