Repository Ericsson/codechecker, pull requests merged in 2019-09, with the labels that each got.

#2296 import get_logger in clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
Labels: analyzer :chart_with_upwards_trend:

#2280 -fstack-reuse is not supported by clang
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2255 return 0 in case no analysis is needed
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_skipped.output
  analyzer/tests/functional/skip/test_skip.py
Labels: analyzer :chart_with_upwards_trend:

#2266 create reports and project for the update test
  docs/tests.md
  web/tests/functional/update/__init__.py
  web/tests/functional/update/test_proj/Makefile
  web/tests/functional/update/test_proj/main.cpp
  web/tests/functional/update/test_proj/reports/base/base.plist
  web/tests/functional/update/test_proj/reports/disabled/disabled.plist
  web/tests/functional/update/test_update_mode.py
  web/tests/libtest/plist_test.py
  web/tests/libtest/project.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, test :ballot_box_with_check:

#2277 Determine language based on compiler name
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2309 Fix ld_logger crash
  analyzer/tools/build-logger/Makefile.manual
  analyzer/tools/build-logger/src/ldlogger-hooks.c
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2311 Fix ld_logger crash
  analyzer/tools/build-logger/Makefile.manual
  analyzer/tools/build-logger/src/ldlogger-hooks.c
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2300 Crash in splitting output of "clang -### ..."
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/tests/unit/test_triple_arch.py
Labels: bugfix :hammer:

#2313 Incremention CodeChecker version to 6.11.0
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: version :tada:

#2314 Crash in splitting output of "clang -### ..."
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/tests/unit/test_triple_arch.py
Labels: bugfix :hammer:

#2272 Keep GCC include-fixed dirs in include paths
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/flag.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_option_parser.py
  docs/analyzer/user_guide.md
Labels: enhancement :star2:

#2310 Make placeholder help for source components more descriptive
  web/server/www/scripts/codecheckerviewer/SourceComponentManager.js
Labels: documentation :book:, web :earth_africa:

#2317 ld_logger improvement
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/test/test_logger.sh
  docs/analyzer/user_guide.md
Labels: enhancement :star2:, ldlogger :page_with_curl:

#2318 Keep GCC include-fixed dirs in include paths
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/flag.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_option_parser.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2321 ld_logger improvement
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/test/test_logger.sh
  docs/analyzer/user_guide.md
Labels: enhancement :star2:, ldlogger :page_with_curl:

#2324 Make placeholder help for source components more descriptive
  web/server/www/scripts/codecheckerviewer/SourceComponentManager.js
Labels: documentation :book:, web :earth_africa:

#2322 [web] Left indent at Returned allocated memory notes
  web/server/www/scripts/codecheckerviewer/BugViewer.js
Labels: bugfix :hammer:, web :earth_africa:

#2325 [cmd] Extend the help message of "CodeChecker cmd del" command
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
Labels: client :trollface:, documentation :book:

#2319 [server] Redirect unauthorized user from run page
  web/server/codechecker_server/server.py
  web/server/www/scripts/codecheckerviewer/util.js
Labels: bugfix :hammer:, server :desktop_computer:

#2316 [doc] Fix daily script
  docs/script_daily.md
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2329 [doc] Fix daily script
  docs/script_daily.md
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2327 [cmd] Extend the help message of "CodeChecker cmd del" command
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
Labels: client :trollface:, documentation :book:

#2328 [web] Left indent at Returned allocated memory notes
  web/server/www/scripts/codecheckerviewer/BugViewer.js
Labels: bugfix :hammer:, web :earth_africa:

#2334 [server] Fix double scroll bar on the GUI
  web/server/www/scripts/codecheckerviewer/CheckerStatistics.js
Labels: bugfix :hammer:, web :earth_africa:

#2335 [server] Fix double scroll bar on the GUI
  web/server/www/scripts/codecheckerviewer/CheckerStatistics.js
Labels: bugfix :hammer:, web :earth_africa:

#2331 [server] Handle exceptions in do_POST
  web/server/codechecker_server/auth/cc_ldap.py
  web/server/codechecker_server/server.py
  web/server/www/scripts/codecheckerviewer/codecheckerviewer.js
Labels: bugfix :hammer:, server :desktop_computer:

#2301 [server] Fix local session creation
  web/server/codechecker_server/session_manager.py
Labels: bugfix :hammer:, server :desktop_computer:

#2340 [server] Fix local session creation
  web/server/codechecker_server/session_manager.py
Labels: bugfix :hammer:, server :desktop_computer:

#2346 Fix docs
  Makefile
  docs/README.md
Labels: bugfix :hammer:, documentation :book:, test :ballot_box_with_check:

#2345 [server] Upgrade JQuery to 3.4.1
  web/server/vendor/Makefile
  web/server/www/index.html
  web/server/www/login.html
  web/server/www/products.html
Labels: web :earth_africa:

#2336 [config] Remove unused entries from config file
  config/package_layout.json
Labels: bugfix :hammer:, config :gear:
