Repository Ericsson/codechecker, pull requests merged in 2019-05, with the labels that each got.

#2094 package independent tu_collector tests
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tests/tu_collector_test.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, test :ballot_box_with_check:

#2108 [fix] Fix ldlogger symlink
  analyzer/Makefile
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2107 [doc] Fix format of web docker md file for mkdocs
  docs/web/docker.md
Labels: documentation :book:

#2104 [doc] Use codechecker-web as docker image name
  docs/web/docker.md
  web/docker/services/docker-compose.psql.auth.yml
  web/docker/services/docker-compose.psql.yml
  web/docker/services/docker-compose.sqlite.yml
Labels: documentation :book:

#2099 [fix] Not a git repository when building from tarball
  scripts/build/extend_version_file.py
Labels: bugfix :hammer:

#2111 No need for handling Clang commands separately
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2109 [fix] Fix docker runtime dependencies
  web/docker/Dockerfile
Labels: bugfix :hammer:

#2112 mkdir -> makedirs
  scripts/debug_tools/failure_lib.py
Labels: bugfix :hammer:

#2115 Revert "[fix] Fix ldlogger symlink"
  analyzer/Makefile
Labels: bugfix :hammer:

#2106 [doc] Add link to the pre-built docker images
  docs/README.md
  docs/images/docker.jpg
  docs/web/docker.md
  docs/web/user_guide.md
  web/docker/services/docker-compose.psql.auth.yml
  web/docker/services/docker-compose.psql.yml
  web/docker/services/docker-compose.sqlite.yml
Labels: documentation :book:

#2057 [gui] Handle thrift api call exceptions
  web/server/www/scripts/codecheckerviewer/BugViewer.js
  web/server/www/scripts/codecheckerviewer/CheckerStatistics.js
  web/server/www/scripts/codecheckerviewer/CommentView.js
  web/server/www/scripts/codecheckerviewer/HeaderPane.js
  web/server/www/scripts/codecheckerviewer/ListOfBugs.js
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/server/www/scripts/codecheckerviewer/SourceComponentManager.js
  web/server/www/scripts/codecheckerviewer/codecheckerviewer.js
  web/server/www/scripts/codecheckerviewer/filter/BugFilterView.js
  web/server/www/scripts/codecheckerviewer/filter/CheckerMessageFilter.js
  web/server/www/scripts/codecheckerviewer/filter/CheckerNameFilter.js
  web/server/www/scripts/codecheckerviewer/filter/DetectionStatusFilter.js
  web/server/www/scripts/codecheckerviewer/filter/DiffTypeFilter.js
  web/server/www/scripts/codecheckerviewer/filter/FileFilter.js
  web/server/www/scripts/codecheckerviewer/filter/ReportCount.js
  web/server/www/scripts/codecheckerviewer/filter/ReviewStatusFilter.js
  web/server/www/scripts/codecheckerviewer/filter/RunBaseFilter.js
  web/server/www/scripts/codecheckerviewer/filter/RunHistoryTagFilter.js
  web/server/www/scripts/codecheckerviewer/filter/SeverityFilter.js
  web/server/www/scripts/codecheckerviewer/filter/SourceComponentFilter.js
  web/server/www/scripts/codecheckerviewer/util.js
  web/server/www/scripts/login/login.js
  web/server/www/scripts/productlist/ListOfProducts.js
  web/server/www/scripts/productlist/PermissionList.js
  web/server/www/scripts/productlist/ProductSettingsView.js
  web/server/www/scripts/productlist/productlist.js
Labels: GUI :art:, refactoring :angry: ↦ :slightly_smiling_face:

#2120 extend and update the top level test targets
  Makefile
  docs/tests.md
Labels: dev env :rescue_worker_helmet:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2121 [fix] util is missing from reportCount.js
  web/server/www/scripts/codecheckerviewer/filter/ReportCount.js
Labels: bugfix :hammer:, web :earth_africa:

#2116 Fix compiler_info.json parsing
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:, bug :bug:

#1534 [cmd] Redirect output to stderr if the output format is not table
  analyzer/codechecker_analyzer/cmd/analyzer_version.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  codechecker_common/logger.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/product_client.py
  web/client/codechecker_client/source_component_client.py
  web/client/codechecker_client/token_client.py
  web/codechecker_web/cmd/web_version.py
Labels: CLI :computer:

#2128 Defines the severity for new checkers
  config/checker_severity_map.json
Labels: config :gear:, enhancement :star2:

#2123 [fix] Scroll to last selected element
  web/server/www/scripts/codecheckerviewer/ListOfBugs.js
Labels: bugfix :hammer:, web :earth_africa:

#2124 [fix] New features option in menu on PRODUCT list does nothing
  web/server/www/products.html
  web/server/www/scripts/codecheckerviewer/HeaderPane.js
  web/server/www/scripts/codecheckerviewer/codecheckerviewer.js
Labels: bugfix :hammer:, web :earth_africa:

#2132 Defines the severity for more checkers
  config/checker_severity_map.json
Labels: config :gear:, enhancement :star2:, refactoring :angry: ↦ :slightly_smiling_face:

#2088 [analyzer] Z3 constraint solver support
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2122 Fix thrift exception handling
  web/server/www/scripts/codecheckerviewer/util.js
Labels: bugfix :hammer:, web :earth_africa:

#2129 Redirect the cmd sum command output to the stderr
  docs/web/user_guide.md
  web/client/codechecker_client/cmd_line_client.py
Labels: CLI :computer:, enhancement :star2:

#2130 [cli] Reduce getRunResults API calls in CLI
  web/client/codechecker_client/cmd_line_client.py
Labels: CLI :computer:, refactoring :angry: ↦ :slightly_smiling_face:, web :earth_africa:

#2141 Defines the severity for more checkers (should be the last)
  config/checker_severity_map.json
Labels: config :gear:, enhancement :star2:

#2143 [cli] Use already generated session token in CLI
  web/client/codechecker_client/client.py
Labels: client :trollface:, refactoring :angry: ↦ :slightly_smiling_face:

#2144 TU collector crash when preprocess warning
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tests/project/main.c
  tools/tu_collector/tu_collector/tu_collector.py
Labels: bugfix :hammer:, tu_collector :page_with_curl:

#2147 [fix] Fix ldlogger symlink
  analyzer/Makefile
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2146 [fix] Fix redirect output to stderr
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/product_client.py
  web/client/codechecker_client/source_component_client.py
  web/client/codechecker_client/token_client.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: bugfix :hammer:, client :trollface:, test :ballot_box_with_check:

#2135 [cli] Reduce cli API calls to check supported API versions
  web/client/codechecker_client/client.py
  web/client/codechecker_client/thrift_call.py
  web/server/codechecker_server/api/bad_api_version.py
  web/server/codechecker_server/server.py
Labels: client :trollface:, refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2133 Update of the doc to show more recent version of clang
  docs/README.md
Labels: documentation :book:

#2138 [pylint] Add more path to sys.path in .pylintrc
  .pylintrc
Labels: config :gear:, test :ballot_box_with_check:

#2140 [cli] Mark --force option of check command as deprecated argument
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
  web/tests/functional/diff/__init__.py
  web/tests/libtest/codechecker.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ↦ :slightly_smiling_face:

#2102 fix file modification time check at store
  web/client/codechecker_client/cmd/store.py
Labels: bugfix :hammer:, client :trollface:

#2150 [analyzer] Add support for Z3 refutation
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, documentation :book:, enhancement :star2:

#2131 Don't follow symlink in the logger
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/test/test_logger.sh
Labels: enhancement :star2:, ldlogger :page_with_curl:

#2127 [cli] Extend the CLI to be able to return report details
  docs/web/user_guide.md
  web/api/v6/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/thrift_helper.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/BugViewer.js
  web/server/www/scripts/codecheckerviewer/ListOfBugs.js
  web/server/www/scripts/version.js
  web/tests/functional/component/test_component.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff/test_diff.py
  web/tests/functional/extended_report_data/test_extended_report_data.py
  web/tests/functional/report_viewer_api/test_get_lines_in_file.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
  web/tests/functional/report_viewer_api/test_hash_clash.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/functional/run_tag/test_run_tag.py
  web/tests/libtest/thrift_client_to_db.py
Labels: client :trollface:, enhancement :star2:, test :ballot_box_with_check:, web :earth_africa:

#2153 [pylint] Better output format for pylint
  .pylintrc
Labels: config :gear:, dev env :rescue_worker_helmet:
