Repository Ericsson/codechecker, pull requests merged in 2019-10, with the labels that each got.

#2348 '-' was missing from the iterator checkers argument
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:, clang sa :dragon:

#2352 Fix docs
  Makefile
  docs/README.md
Labels: bugfix :hammer:, documentation :book:

#2349 Upgrade jquery
  web/server/vendor/Makefile
  web/server/www/index.html
  web/server/www/login.html
  web/server/www/products.html
Labels: web :earth_africa:

#2351 [config] Remove unused entries from config file
  config/package_layout.json
Labels: bugfix :hammer:, config :gear:

#2359 fixed 'CodeChecker parse --print-steps' filename bug
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: CLI :computer:, bugfix :hammer:

#2360 Plist files should contain absolute paths
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2350 Handle ldap exceptions
  web/server/codechecker_server/auth/cc_ldap.py
  web/server/codechecker_server/server.py
  web/server/www/scripts/codecheckerviewer/codecheckerviewer.js
Labels: bugfix :hammer:, server :desktop_computer:

#2356 [server] Fix source code comment regex
  codechecker_common/source_code_comment_handler.py
  web/server/tests/unit/source_code_comment_test_files/test_file_1
  web/server/tests/unit/test_source_code_comment.py
Labels: bugfix :hammer:

#2342 Do not apply skip list to CTU pre-analysis
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  docs/analyzer/user_guide.md
Labels: bugfix :hammer:

#2365 [analyzer] Fix non existing argument name
  analyzer/codechecker_analyzer/analyzer.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2364 [server] Fix source code comment regex
  codechecker_common/source_code_comment_handler.py
  web/server/tests/unit/source_code_comment_test_files/test_file_1
  web/server/tests/unit/test_source_code_comment.py
Labels: bugfix :hammer:

#2361 fixed 'CodeChecker parse --print-steps' filename bug
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: CLI :computer:, bugfix :hammer:

#2367 Do not apply skip list to CTU pre-analysis
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  docs/analyzer/user_guide.md
Labels: bugfix :hammer:

#2366 Removing MallocOverflow throws too many FPs
  config/config.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2344 -nostdinc[++] affects implicit include paths too
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/unit/test_option_parser.py
  docs/analyzer/gcc_incompatibilities.md
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:, clang sa :dragon:, clang-tidy :dragon:, documentation :book:, enhancement :star2:

#2362 [cmd] Remove whitespace characters at cmd results
  web/client/codechecker_client/cmd_line_client.py
Labels: CLI :computer:, enhancement :star2:

#2371 [cmd] Remove whitespace characters at cmd results
  web/client/codechecker_client/cmd_line_client.py
Labels: CLI :computer:, enhancement :star2:

#2370 Increase the severity of some checker that indicate Undefined Behaviour
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2355 [doc] Format main README.md
  docs/README.md
Labels: documentation :book:, enhancement :star2:

#2372 Increase the severity of some checker that indicate Undefined Behaviour
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2376 [doc] Format main README.md
  docs/README.md
Labels: documentation :book:, enhancement :star2:

#2373 [server] Store analyzer version instead of CodeChecker version
  web/server/codechecker_server/api/store_handler.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2377 [server] Store analyzer version instead of CodeChecker version
  web/server/codechecker_server/api/store_handler.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2381 Description of incremental analysis using skipfile
  docs/usage.md
Labels: documentation :book:

#2380 Description of incremental analysis using skipfile
  docs/usage.md
Labels: documentation :book:

#2379 [config] Refactoring package_layout.json file
  analyzer/codechecker_analyzer/analyzer_context.py
  config/package_layout.json
  docs/package_layout.md
  web/codechecker_web/shared/webserver_context.py
Labels: config :gear:, refactoring :angry: ➡️ :slightly_smiling_face:

#2384 [cmd] Cmd parse with multiple dirs
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/multiple_input.output
Labels: client :trollface:, refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:

#2375 [analyzer] Print a log message when overwriting a plist file
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2392 [travis] Fix travis failure
  .travis.yml
Labels: config :gear:, test :ballot_box_with_check:

#2385 [config] Add default values to the package_layout.json
  config/package_layout.json
Labels: config :gear:

#2414 add missing lxml dependency to the analyzer
  analyzer/requirements.txt
Labels: analyzer :chart_with_upwards_trend:

#2406 [api] Rename shared.thrift to codechecker_api_shared.thrift
  config/config.md
  web/api/codechecker_api_shared.thrift
  web/api/v6/authentication.thrift
  web/api/v6/configuration.thrift
  web/api/v6/products.thrift
  web/api/v6/report_server.thrift
  web/client/codechecker_client/client.py
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/thrift_call.py
  web/codechecker_web/shared/database_status.py
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/api/config_handler.py
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/store_handler.py
  web/server/codechecker_server/cmd/server.py
  web/server/codechecker_server/database/database.py
  web/server/codechecker_server/permissions.py
  web/server/codechecker_server/server.py
  web/server/www/index.html
  web/server/www/login.html
  web/server/www/products.html
  web/tests/functional/authentication/test_authentication.py
  web/tests/functional/comment/test_comment.py
  web/tests/functional/component/test_component.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/products/test_products.py
  web/tests/functional/server_configuration/test_server_configuration.py
  web/tests/functional/ssl/test_ssl.py
  web/tests/libtest/codechecker.py
  web/tests/libtest/thrift_client_to_db.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#2413 [client] Fix personal access token generation
  web/client/codechecker_client/token_client.py
  web/tests/functional/authentication/test_authentication.py
Labels: bug :bug:, client :trollface:, test :ballot_box_with_check:

#2402 [analyze] Delete the ZIP when a new failure ZIP is created for the same analysis
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2407 [server] Fix switching between tabs
  web/server/www/scripts/codecheckerviewer/ListOfBugs.js
Labels: bugfix :hammer:, web :earth_africa:

#2415 [doc] Simplify Gerrit integration documentation
  docs/images/gerrit_jenkins/gerrit_review_report.png
  docs/images/gerrit_jenkins/gerrit_review_reports.png
  docs/jenkins_gerrit_integration.md
Labels: documentation :book:

#2411 [server] Add a liveness and readiness urls
  docs/images/kubernetes.png
  docs/web/docker.md
  web/server/codechecker_server/routing.py
  web/server/codechecker_server/server.py
Labels: enhancement :star2:, server :desktop_computer:

#2404 do not parse the compile command if not needed later
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/tests/unit/test_log_parser.py
Labels: analyzer :chart_with_upwards_trend:
