Repository Ericsson/codechecker, pull requests merged in 2019-08, with the labels that each got.

#2247 move profiler from common to server
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/api/config_handler.py
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/profiler.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2252 move report parsing related code to the parse cmd
  analyzer/codechecker_analyzer/cmd/parse.py
  codechecker_common/plist_parser.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ↦ :slightly_smiling_face:

#2251 fix context free report hash generation doc
  codechecker_common/report.py
Labels: analyzer :chart_with_upwards_trend:, documentation :book:

#2254 remove argument handling class from common module
  analyzer/codechecker_analyzer/arg.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  codechecker_common/util.py
  web/client/codechecker_client/cmd/cmd.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, client :trollface:, refactoring :angry: ↦ :slightly_smiling_face:

#2253 tu_collector tests can be run independently
  tools/tu_collector/tests/tu_collector_test.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2262 Honor newlines for comments in the web GUI
  web/server/www/scripts/codecheckerviewer/CommentView.js
Labels: GUI :art:, enhancement :star2:

#2246 move proc timeout functions and tests to analyzer
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/tests/unit/test_subprocess_timeout.py
  codechecker_common/util.py
  web/server/codechecker_server/cmd/server.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ↦ :slightly_smiling_face:

#2261 enable build matrix for travis
  .travis.yml
  Makefile
  web/tests/Makefile
Labels: dev env :rescue_worker_helmet:

#2250 refactor suppress file handler
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/codechecker_analyzer/suppress_file_handler.py
  analyzer/codechecker_analyzer/suppress_handler.py
  analyzer/tests/functional/suppress/__init__.py
  analyzer/tests/functional/suppress/test_suppress_export.py
  analyzer/tests/libtest/codechecker.py
  analyzer/tests/libtest/env.py
  analyzer/tests/libtest/project.py
  analyzer/tests/projects/suppress/Makefile
  analyzer/tests/projects/suppress/project_info.json
  analyzer/tests/projects/suppress/suppress.cpp
  analyzer/tests/projects/suppress/suppress.expected
  codechecker_common/source_code_comment_handler.py
  web/api/v6/report_server.thrift
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/suppress_file_handler.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/cmd/server.py
  web/server/codechecker_server/server.py
  web/tests/functional/suppress/test_suppress_generation.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2245 move get_binary_in_path to analyzer module
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/env.py
  codechecker_common/util.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ↦ :slightly_smiling_face:

#2270 remove unused db version information
  web/codechecker_web/cmd/web_version.py
  web/codechecker_web/shared/webserver_context.py
  web/server/config/server_db_version.json
Labels: database :file_cabinet:, refactoring :angry: ↦ :slightly_smiling_face:

#2275 [makefile] Fix pg8000 test command
  web/tests/Makefile
Labels: bugfix :hammer:, test :ballot_box_with_check:, web :earth_africa:

#2279 [server] Indent item in bug tree view
  web/server/www/scripts/codecheckerviewer/BugViewer.js
  web/server/www/scripts/codecheckerviewer/HtmlTree.js
  web/server/www/style/codecheckerviewer.css
Labels: GUI :art:, enhancement :star2:

#2281 Fix a typo on setup_process_timeout call
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2283 [analyzer] Add tests for cmdline
  analyzer/tests/functional/cmdline/__init__.py
  analyzer/tests/functional/cmdline/test_cmdline.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: test :ballot_box_with_check:

#2282 [server] Fix comment update
  web/server/www/scripts/codecheckerviewer/CommentView.js
Labels: GUI :art:, bugfix :hammer:

#2284 fix env forwarding for the subprocess in ctu autodetect
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
Labels: bugfix :hammer:

#2256 Fix run deletion in GUI
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
Labels: GUI :art:, bugfix :hammer:

#2276 [server] Fix login form autocompletion
  web/server/www/scripts/login/login.js
Labels: bugfix :hammer:, server :desktop_computer:

#2288 replace StackAddressEscape checker in analyzer tests
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en1.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en2.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.steps.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_typo.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_typo.output
Labels: refactoring :angry: ↦ :slightly_smiling_face:, test :ballot_box_with_check:

#2286 Omit extra newlines while logging build commands
  analyzer/codechecker_analyzer/buildlog/build_manager.py
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2287 Introduce clang version dependent options
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/clangsa/version.py
  analyzer/tests/unit/test_clang_version_parsing.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2291 [travis] Update travis ci base image to bionic
  .travis.yml
Labels: CI :package:, config :gear:

#2273 Add standalone package target
  Makefile
  scripts/build/wrap_binary_in_venv.py
Labels: enhancement :star2:

#2265 [fix] Fix getDiffResultsHash API function
  web/api/v6/report_server.thrift
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/thrift_helper.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/version.js
  web/tests/functional/diff_local_remote/__init__.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: API change :a:, bugfix :hammer:, web :earth_africa:
