Repository Ericsson/codechecker, pull requests merged in 2019-06, with the labels that each got.

#2155 [cli] Convert report object to Thrift report data type
  web/client/codechecker_client/cmd_line_client.py
Labels: CLI :computer:, enhancement :star2:

#2154 [pylint] Fix pylint warnings
  Makefile
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/output_converter.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/tests/Makefile
  codechecker_common/env.py
  codechecker_common/output_formatters.py
  codechecker_common/source_code_comment_handler.py
  codechecker_common/util.py
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/tests/Makefile
  web/client/codechecker_client/client.py
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/product_client.py
  web/client/codechecker_client/source_component_client.py
  web/client/codechecker_client/token_client.py
  web/codechecker_web/shared/host_check.py
  web/codechecker_web/shared/pgpass.py
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/api/config_handler.py
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/auth/cc_pam.py
  web/server/codechecker_server/cmd/server.py
  web/server/codechecker_server/database/db_cleanup.py
  web/server/codechecker_server/permissions.py
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
  web/tests/Makefile
Labels: refactoring :angry: ↦ :slightly_smiling_face:

#2156 Udpate web test infrastructure
  scripts/test/add_new_func_test.py
  web/tests/functional/cmdline/__init__.py
  web/tests/functional/comment/__init__.py
  web/tests/functional/component/__init__.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff/__init__.py
  web/tests/functional/diff/test_diff.py
  web/tests/functional/diff_local/__init__.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/__init__.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/func_template/template__init__.py
  web/tests/functional/products/__init__.py
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/report_viewer_api/test_remove_run_results.py
  web/tests/functional/review_status/__init__.py
  web/tests/functional/run_tag/test_run_tag.py
  web/tests/functional/skip/__init__.py
  web/tests/functional/source_change/test_source_change.py
  web/tests/functional/suppress/__init__.py
  web/tests/functional/suppress/test_suppress_generation.py
  web/tests/functional/update/__init__.py
  web/tests/functional/update/test_update_mode.py
  web/tests/libtest/codechecker.py
  web/tests/libtest/project.py
  web/tests/projects/cpp/Makefile
Labels: refactoring :angry: ↦ :slightly_smiling_face:, test :ballot_box_with_check:, web :earth_africa:

#2159 [server] Use DBSession object to create new session
  web/server/codechecker_server/api/config_handler.py
  web/server/codechecker_server/api/product_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2149 [server] Send back a valid Thrift error response
  web/server/codechecker_server/server.py
  web/server/www/scripts/codecheckerviewer/util.js
  web/tests/functional/authentication/test_authentication.py
  web/tests/functional/ssl/test_ssl.py
Labels: bugfix :hammer:, server :desktop_computer:

#2163 optimize context creation in massStoreRun api call
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/server.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:, web :earth_africa:

#2157 New test for storage with file modification
  web/tests/functional/source_change/test_source_change.py
Labels: test :ballot_box_with_check:

#2166 fix statistics tests
  web/tests/functional/statistics/test_statistics.py
Labels: test :ballot_box_with_check:

#2136 [cli] Refactoring checker statistics results
  web/client/codechecker_client/cmd_line_client.py
Labels: client :trollface:, refactoring :angry: ↦ :slightly_smiling_face:

#2162 [server] Configure worker processes from config file
  docs/web/server_config.md
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
  web/server/config/server_config.json
Labels: server :desktop_computer:

#2167 [travis] Stop travis job after script command error
  .travis.yml
Labels: config :gear:

#2165 [client] Print summary at cmd diff
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: client :trollface:, enhancement :star2:

#2161 [server] Fix default permissions
  docs/web/permissions.md
  web/server/codechecker_server/permissions.py
  web/tests/Makefile
  web/tests/functional/comment/__init__.py
  web/tests/functional/component/__init__.py
  web/tests/functional/products/__init__.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/server_configuration/__init__.py
  web/tests/libtest/codechecker.py
  web/tests/libtest/env.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2169 authentication api call simplification
  web/client/codechecker_client/client.py
  web/client/codechecker_client/cmd/store.py
Labels: client :trollface:, refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2171 [ui] Fix report hash filter url state
  web/server/www/scripts/codecheckerviewer/filter/ReportHashFilter.js
Labels: GUI :art:, bugfix :hammer:

#2176 remove decorators.py common module
  codechecker_common/decorators.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:

#2181 [dep] Update psycopg2
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
Labels: config :gear:, web :earth_africa:

#2179 [pylint] Enable checkers in .pylintrc file
  .pylintrc
  Makefile
  analyzer/tests/Makefile
  web/tests/Makefile
Labels: config :gear:, test :ballot_box_with_check:

#2177 [server] Run history limitation
  web/api/v6/report_server.thrift
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/server/www/scripts/codecheckerviewer/util.js
  web/server/www/scripts/version.js
Labels: API change :a:, GUI :art:, refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2180 improve query limit checking
  web/server/codechecker_server/api/report_server.py
Labels: enhancement :star2:, server :desktop_computer:

#2183 [doc] Fix missing input tag at Doxygen config
  Doxyfile.in
Labels: config :gear:, documentation :book:

#2178 [server] Increase performance of getting a product
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/server.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2174 cleanup environment modules
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/env.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  codechecker_common/env.py
  web/codechecker_web/shared/env.py
  web/server/codechecker_server/cmd/server.py
  web/server/codechecker_server/database/database.py
  web/server/codechecker_server/env.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:

#2160 Logger: compiler on absolute path + refactoring
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/src/ldlogger-tool-javac.c
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/src/ldlogger-tool.h
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/test/test_logger.sh
Labels: bugfix :hammer:, enhancement :star2:, ldlogger :page_with_curl:, refactoring :angry: ↦ :slightly_smiling_face:

#2186 Implicit joker at the beginning of text field
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/filter/FilterTooltip.js
  web/server/www/scripts/productlist/ListOfProducts.js
Labels: GUI :art:, enhancement :star2:, web :earth_africa:

#2185 [test] Remove compiler_info.json file at the end of analyzer unit test
  analyzer/tests/unit/test_log_parser.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#2188 [server] read file content only if really needed
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/store_handler.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2187 [server] Case insensitive group comparison at authorization
  web/server/codechecker_server/permissions.py
  web/tests/functional/authentication/__init__.py
  web/tests/functional/authentication/test_authentication.py
  web/tests/libtest/env.py
Labels: server :desktop_computer:, test :ballot_box_with_check:

#2170 [plist] Use lxml library to parse plist files
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  codechecker_common/plist_parser.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: analyzer :chart_with_upwards_trend:

#2175 [server] getRunData limitation
  web/api/v6/report_server.thrift
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/thrift_helper.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/BugViewer.js
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/server/www/scripts/codecheckerviewer/filter/RunBaseFilter.js
  web/server/www/scripts/codecheckerviewer/filter/RunHistoryTagFilter.js
  web/server/www/scripts/version.js
  web/tests/functional/comment/test_comment.py
  web/tests/functional/component/test_component.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/delete_runs/test_delete_runs.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/extended_report_data/test_extended_report_data.py
  web/tests/functional/func_template/template_test.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/products/test_products.py
  web/tests/functional/report_viewer_api/test_get_lines_in_file.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
  web/tests/functional/report_viewer_api/test_hash_clash.py
  web/tests/functional/report_viewer_api/test_remove_run_results.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/functional/report_viewer_api/test_run_data.py
  web/tests/functional/review_status/test_review_status.py
  web/tests/functional/run_tag/test_run_tag.py
  web/tests/functional/skip/test_skip.py
  web/tests/functional/suppress/test_suppress_generation.py
  web/tests/functional/update/test_update_mode.py
Labels: API change :a:, enhancement :star2:, server :desktop_computer:, test :ballot_box_with_check:, web :earth_africa:

#2189 [server] Print an info message when the server is shutting down
  web/server/codechecker_server/server.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2182 [server] Create separate API function to get analysis statistics
  web/api/v6/report_server.thrift
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
Labels: API change :a:, web :earth_africa:

#2190 Default filter values under CodeChecker cmd sum
  web/client/codechecker_client/cmd/cmd.py
Labels: CLI :computer:, enhancement :star2:

#2184 Refactoring ImplicitCompilerInfo
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:

#2192 Symlink of tu_collector to the bin directory
  Makefile
  analyzer/Makefile
Labels: CI :package:, tools :hammer_and_wrench:, tu_collector :page_with_curl:

#2172 [server] New API function for get check command
  web/api/v6/report_server.thrift
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/server/www/scripts/version.js
  web/tests/functional/update/test_update_mode.py
Labels: API change :a:, enhancement :star2:, server :desktop_computer:, test :ballot_box_with_check:

#2030 Try to autodetect mapping tool based on clang version
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  analyzer/tests/functional/ctu/test_ctu.py
  analyzer/tests/unit/ctu_autodetection_test_files/clang_7_bin_dist_version_output
  analyzer/tests/unit/ctu_autodetection_test_files/clang_7_src_version_output
  analyzer/tests/unit/ctu_autodetection_test_files/clang_8_src_version_output
  analyzer/tests/unit/test_ctu_detection.py
Labels: WIP :bomb:, enhancement :star2:
