Repository Ericsson/codechecker, pull requests merged in 2019-03, with the labels that each got.

#1981 [plist-to-html] Link to index.html
  tools/plist_to_html/plist_to_html/dist/css/style.css
  tools/plist_to_html/plist_to_html/dist/layout.html
Labels: Kind: Usability, Target: WebGUI

#1980 Allow to set workspace for web tests
  web/tests/Makefile
Labels: Kind: Enhancement, Target: Test

#1982 fix analyzer_statistics module import
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: Kind: Bugfix

#1979 Refactoring config files
  Makefile
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/config/analyzer_version.json
  config/package_layout.json
  scripts/build/extend_version_file.py
  web/codechecker_web/shared/webserver_context.py
  web/config/session_client.json
  web/config/web_version.json
  web/server/config/server_config.json
  web/server/config/server_db_version.json
Labels: Kind: Refactoring

#1983 allow to set the base wp dir from env variable for tests
  analyzer/tests/libtest/env.py
  docs/tests/README.md
  web/tests/Makefile
  web/tests/libtest/env.py
Labels: Kind: Enhancement

#1988 Fix authentication
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/session_manager.py
  web/tests/functional/authentication/test_authentication.py
  web/tests/libtest/env.py
Labels: Kind: Bugfix, Target: Server, Target: Test

#1975 Reduce the number of travis matrices
  .travis.yml
  web/tests/Makefile
Labels: Kind: Enhancement, Kind: Refactoring

#1976 Separate directory for analyzers
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/__init__.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_manager.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/result_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/__init__.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/output_converter.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/result_handler.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  analyzer/tests/unit/test_statistics_collectors.py
  analyzer/tests/unit/test_tidy_output_converter.py
Labels: Kind: Refactoring, Target: Analyzer handling

#1986 Refactoring plist to html
  .gitignore
  .travis.yml
  Makefile
  config/package_layout.json
  tools/plist_to_html/.gitignore
  tools/plist_to_html/.noserc
  tools/plist_to_html/Makefile
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/plist_to_html/static/css/icon.css
  tools/plist_to_html/plist_to_html/static/css/style.css
  tools/plist_to_html/plist_to_html/static/index.html
  tools/plist_to_html/plist_to_html/static/js/browsersupport.js
  tools/plist_to_html/plist_to_html/static/js/bugviewer.js
  tools/plist_to_html/plist_to_html/static/layout.html
  tools/plist_to_html/requirements_py/test/requirements.txt
  tools/plist_to_html/tests/Makefile
  tools/plist_to_html/tests/libtest/__init__.py
  tools/plist_to_html/tests/libtest/env.py
  tools/plist_to_html/tests/projects/macros/macros.cpp
  tools/plist_to_html/tests/projects/macros/macros.plist
  tools/plist_to_html/tests/projects/notes/notes.cpp
  tools/plist_to_html/tests/projects/notes/notes.plist
  tools/plist_to_html/tests/projects/simple/simple.cpp
  tools/plist_to_html/tests/projects/simple/simple.plist
  tools/plist_to_html/tests/unit/__init__.py
  tools/plist_to_html/tests/unit/plist_to_html/__init__.py
  tools/plist_to_html/tests/unit/plist_to_html/plist_to_html_test.py
Labels: Kind: Refactoring, Target: Command-line, Target: Test

#1991 Increase performance of the travis jobs
  .travis.yml
Labels: Target: Test

#1996 Fix cleaning venv_dev
  Makefile
  tools/plist_to_html/Makefile
Labels: Kind: Bugfix

#1998 Update travis llvm version
  .travis.yml
Labels: Kind: Enhancement

#2000 Fix default target call
  tools/plist_to_html/Makefile
Labels: Kind: Bugfix

#2002 [userguide] Disable review status change feature
  web/server/www/userguide/images/edit_product.png
  web/server/www/userguide/images/new_product.png
  web/server/www/userguide/userguide.md
Labels: Target: Documentation

#2004 Improve web test performance
  codechecker_common/util.py
  web/tests/functional/authentication/__init__.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/instance_manager/test_instances.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/ssl/__init__.py
  web/tests/functional/storage_of_analysis_statistics/__init__.py
  web/tests/libtest/codechecker.py
Labels: Kind: Refactoring, Target: Test

#1989 Compile action contains bot compiler and preprocessor flags
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: Kind: Bugfix, Target: Command-line

#1994 Enabling expand-macros feature of clang
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  web/server/www/changelog.html
Labels: Kind: Enhancement, Target: Analyzer handling

#2005 merge dev and test virtual environments
  analyzer/Makefile
  analyzer/requirements_py/dev/requirements.txt
  tools/plist_to_html/Makefile
  tools/plist_to_html/requirements_py/dev/requirements.txt
  tools/plist_to_html/requirements_py/test/requirements.txt
  web/Makefile
  web/requirements_py/dev/requirements.txt
  web/requirements_py/test/requirements.txt
Labels: Target: Developer environment

#1990 Refactoring generated CodeChecker dependency
  Makefile
  bin/CodeChecker
  config/package_layout.json
  web/server/tests/Makefile
  web/server/tests/unit/__init__.py
  web/tests/Makefile
  web/tests/functional/__init__.py
Labels: Kind: Refactoring

#1997 return an empty string at getting compiler includes
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: Kind: Bugfix

#2006 Fix run_test target
  web/tests/Makefile
Labels: Kind: Bugfix

#1993 Pip package from plist-to-html
  Makefile
  tools/plist_to_html/.gitignore
  tools/plist_to_html/.pypirc
  tools/plist_to_html/LICENSE.txt
  tools/plist_to_html/MANIFEST.in
  tools/plist_to_html/Makefile
  tools/plist_to_html/README.md
  tools/plist_to_html/setup.py
Labels: Kind: Enhancement, Kind: Refactoring

#1995 Create pip package from tu-collector
  Makefile
  tools/tu_collector/.gitignore
  tools/tu_collector/.pypirc
  tools/tu_collector/LICENSE.txt
  tools/tu_collector/MANIFEST.in
  tools/tu_collector/Makefile
  tools/tu_collector/README.md
  tools/tu_collector/setup.py
Labels: Kind: Enhancement, Target: Analyzer handling

#1956 Split up docs
  Makefile
  docs/README.md
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/false_positives.md
  docs/analyzer/gcc_incompatibilities.md
  docs/analyzer/report_identification.md
  docs/analyzer/user_guide.md
  docs/feature_comparison.md
  docs/package_layout.md
  docs/usage.md
  docs/web/authentication.md
  docs/web/checker_docs.md
  docs/web/checker_docs/checker_doc_map.json
  docs/web/checker_docs/core_division_by_zero.md
  docs/web/db_schema_guide.md
  docs/web/images/newproduct.png
  docs/web/images/permissions.png
  docs/web/images/productconfigicons.png
  docs/web/images/products.png
  docs/web/permissions.md
  docs/web/postgresql_setup.md
  docs/web/products.md
  docs/web/server_config.md
  docs/web/user_guide.md
Labels: Kind: Refactoring, Target: Documentation

#2007 cleanup make targets with/without virtualenv
  .travis.yml
  Makefile
  analyzer/Makefile
  analyzer/tests/Makefile
  docs/tests/README.md
  tools/plist_to_html/Makefile
  tools/plist_to_html/tests/Makefile
  web/Makefile
  web/server/tests/Makefile
  web/tests/Makefile
Labels: Target: Developer environment

#2008 Processing target architecture first in log parser
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: Kind: Bugfix, Target: Analyzer handling, Target: Command-line

#2014 load only files with ".so" extension as a plugin
  analyzer/codechecker_analyzer/analyzers/config_handler.py
Labels: Target: Analyzer handling

#2015 call setup.py only in the target
  tools/plist_to_html/Makefile
  tools/tu_collector/Makefile
Labels: Target: Developer environment

#2013 Refactoring docs
  docs/README.md
  docs/deps.md
  docs/usage.md
  docs/web/api/README.md
  docs/web/permissions.md
  mkdocs.yml
Labels: Kind: Bugfix, Target: Documentation

#2011 Refactoring CONTRIBUTING.md file after split up
  CONTRIBUTING.md
Labels: Kind: Refactoring, Target: Documentation

#2016 run brew cleanup only in osx in travis
  .travis.yml
Labels: Target: Developer environment

#2017 Fix travis missing "then" keyword
  .travis.yml
Labels: Kind: Bugfix, Target: CI loop

#2022 Travis clang back to 7
  .travis.yml
Labels: Kind: Enhancement, Target: CI loop, Target: Test

#2018 Cleanup database on run remove
  web/server/codechecker_server/api/report_server.py
Labels: Kind: Bugfix, Target: Database, Target: Server

#1970 Improve command line argument escaping
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_manager.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  analyzer/tests/unit/test_buildcmd_escaping.py
  analyzer/tests/unit/test_log_parser.py
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
  analyzer/tools/build-logger/test/test_logger.sh
  docs/analyzer/user_guide.md
Labels: Kind: Bugfix, Kind: Enhancement, Target: Test
