Repository Ericsson/codechecker, pull requests merged in 2019-04, with the labels that each got.

#2024 Refactoring web docs
  docs/web/api/README.md
  docs/web/db_schema_guide.md
Labels: Kind: Refactoring, Target: Documentation

#1935 introduce readthedocs
  readthedocs.yml
  requirements_py/docs/requirements.txt
Labels: Target: Documentation

#1965 Introducing --compile-uniqueing parameter
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_buildcmd_escaping.py
  analyzer/tests/unit/test_log_parser.py
  docs/analyzer/user_guide.md
Labels: Kind: Bug, Kind: Enhancement

#1974 Add targets to build analyzer and web separately
  .travis.yml
  Makefile
  analyzer/Makefile
  web/Makefile
Labels: Kind: Enhancement, Kind: Refactoring

#2029 Fix package build
  analyzer/Makefile
  web/Makefile
Labels: Kind: Bugfix

#2028 [plist-to-html] Ordering reports
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/plist_to_html/static/css/buglist.css
  tools/plist_to_html/plist_to_html/static/index.html
  tools/plist_to_html/plist_to_html/static/js/buglist.js
Labels: Kind: Enhancement, Kind: Usability, Target: WebGUI

#2026 add new mkdocs target to build the documentation
  Makefile
  analyzer/requirements_py/dev/requirements.txt
  web/requirements_py/dev/requirements.txt
Labels: Target: Documentation

#2027 Yet another logger fix
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
  analyzer/tools/build-logger/test/test_logger.sh
Labels: Kind: Bugfix, Target: Command-line

#2023 Send all files to the server which contain source code comments
  web/client/codechecker_client/cmd/store.py
  web/tests/functional/suppress/test_suppress_generation.py
Labels: Kind: Enhancement

#2019 Specify only a substring of the checker name for suppression
  codechecker_common/source_code_comment_handler.py
  docs/web/user_guide.md
  web/tests/projects/suppress/suppress.cpp
  web/tests/projects/suppress/suppress.expected
Labels: Kind: Enhancement, Target: Server

#2033 Fix authentication documentation
  docs/web/authentication.md
  docs/web/user_guide.md
Labels: Kind: Refactoring, Target: Documentation

#2003 Keep clang flags
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: Kind: Enhancement, Target: Command-line

#2035 rename passwords json file in the doc
  docs/web/authentication.md
Labels: Target: Documentation

#2037 Improve plist-to-html sort performance
  tools/plist_to_html/plist_to_html/static/js/buglist.js
Labels: Enhancement, tools

#2036 [plist-to-html] Collect statistics
  analyzer/codechecker_analyzer/cmd/parse.py
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/plist_to_html/static/css/buglist.css
  tools/plist_to_html/plist_to_html/static/css/bugview.css
  tools/plist_to_html/plist_to_html/static/css/statistics.css
  tools/plist_to_html/plist_to_html/static/css/style.css
  tools/plist_to_html/plist_to_html/static/css/table.css
  tools/plist_to_html/plist_to_html/static/index.html
  tools/plist_to_html/plist_to_html/static/layout.html
  tools/plist_to_html/plist_to_html/static/statistics.html
  tools/plist_to_html/tests/unit/plist_to_html/plist_to_html_test.py
Labels: CLI, Enhancement, tools

#2041 add readthedocs link
  docs/README.md
Labels: Documentation

#2042 [plist-to-html] Use templates to generate html files
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/plist_to_html/static/index.html
  tools/plist_to_html/plist_to_html/static/layout.html
  tools/plist_to_html/plist_to_html/static/statistics.html
Labels: Refactoring, tools

#2034 Added severity levels and profiles of yet uncategorized checkers
  config/checker_severity_map.json
  config/config.json
Labels: Analyzer, Enhancement

#2031 Show extended report data in bugtree
  web/server/codechecker_server/api/store_handler.py
  web/server/www/fonts/codechecker.eot
  web/server/www/fonts/codechecker.svg
  web/server/www/fonts/codechecker.ttf
  web/server/www/fonts/codechecker.woff
  web/server/www/scripts/codecheckerviewer/BugViewer.js
  web/server/www/style/icons.css
Labels: GUI, Usability

#2052 add docs as a special route
  web/server/codechecker_server/routing.py
Labels: Server, Web

#2051 Set detection date filter value properly from url
  web/server/www/scripts/codecheckerviewer/filter/DateFilter.js
Labels: Bugfix, Web

#2049 [plist-to-html] Fix sorting
  tools/plist_to_html/plist_to_html/static/js/buglist.js
Labels: Bugfix, Tools

#2058 fix profile listing on name conflict
  analyzer/codechecker_analyzer/analyzers/config_handler.py
Labels: Analyzer, Bugfix

#2059 return error in case of wrong checker profile name
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: Analyzer, Enhancement

#2061 Gerrit-Jenkins integration is extended
  docs/jenkins_gerrit_integration.md
Labels: Documentation, Enhancement

#2060 isystem path was wrong
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/functional/analyze/test_analyze.py
Labels: Bugfix

#2064 fix missing sys import
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: bugfix

#2067 A compmiler doesn't provide an architecture target.
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: CLI, analyzer, bugfix

#2066 Test for dependency file
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer, test

#2062 The skipped flags are skipped in case of Clang too
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: CLI, bugfix, client

#2070 [version] Bump up version to 6.10.0
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: :tada: version

#2072 [clang] Skip sources argument when parsing the precompilation options
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: :chart_with_upwards_trend: analyzer, :hammer: bugfix

#2071 [fix][makefile] Fix pip upload targets at tools
  tools/plist_to_html/Makefile
  tools/tu_collector/Makefile
Labels: bugfix :hammer:, tools :hammer_and_wrench:

#2079 security update for SQLAlchemy
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: web :earth_africa:

#2085 [doc] Fix bad indentation in the toc of analyzer's user guide
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2076 Add --trim_path_prefix option for parser command
  analyzer/codechecker_analyzer/cmd/parse.py
  codechecker_common/plist_parser.py
  docs/analyzer/user_guide.md
  tools/plist_to_html/plist_to_html/PlistToHtml.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2089 Fix skipfile for parser command with html output (issue #2077)
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2038 CodeChecker web docker support
  docs/web/docker.md
  web/docker/Dockerfile
  web/docker/entrypoint.sh
  web/docker/services/docker-compose.psql.auth.yml
  web/docker/services/docker-compose.psql.yml
  web/docker/services/docker-compose.sqlite.yml
Labels: documentation :book:, enhancement :star2:, web :earth_africa:
