Repository Ericsson/codechecker, pull requests merged in 2019-07, with the labels that each got.

#2194 Ignore object files from the whole repo
  .gitignore
Labels: config :gear:

#2199 Minor int/string type conversion bugfix
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
Labels: bugfix :hammer:

#2196 [server] Set rowsPerPage attribute to a lower value
  web/server/www/scripts/codecheckerviewer/ListOfBugs.js
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
Labels: server :desktop_computer:, web :earth_africa:

#2200 alpha checkers removed from the default profile as they can be unstable.
  config/config.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2114 [makefile] Build logger libraries for multiple targets
  Makefile
  analyzer/Makefile
  docs/README.md
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2151 [analyzer] Use diagtool to list clang warnings
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2204 fix env package handling
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#2203 update sqlalchemy version
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: server :desktop_computer:

#2198 [server] Do not throw an exception when highlighting the bug step
  web/server/www/scripts/codecheckerviewer/BugViewer.js
Labels: bugfix :hammer:, server :desktop_computer:

#2206 Stats fix
  analyzer/codechecker_analyzer/analyzer.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2195 fix plist parsing for skip files
  analyzer/tests/functional/skip/__init__.py
  analyzer/tests/functional/skip/test_files/Makefile
  analyzer/tests/functional/skip/test_files/file_to_be_skipped.cpp
  analyzer/tests/functional/skip/test_files/skip.h
  analyzer/tests/functional/skip/test_files/skip_header.cpp
  analyzer/tests/functional/skip/test_files/skipfile
  analyzer/tests/functional/skip/test_skip.py
  codechecker_common/plist_parser.py
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/cmd_line_client.py
  web/server/codechecker_server/api/report_server.py
  web/server/tests/unit/test_plist_parser.py
  web/server/tests/unit/test_report_path_hash.py
  web/server/tests/unit/test_store_handler.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2202 Handles log parsing when ccache is called through symlink
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:

#2201 [cli] Gettings results for runs which contain colons
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: CLI :computer:, WARN :warning:: Backward compatibility breaker!, documentation :book:

#2209 encode file content for plistlib
  codechecker_common/plist_parser.py
Labels: bugfix :hammer:

#2197 Filter by Bug path length
  docs/web/user_guide.md
  web/api/v6/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/www/scripts/codecheckerviewer/CheckerStatisticsFilter.js
  web/server/www/scripts/codecheckerviewer/filter/BugFilterView.js
  web/server/www/scripts/codecheckerviewer/filter/BugPathLengthFilter.js
  web/server/www/scripts/codecheckerviewer/filter/SelectFilter.js
  web/server/www/scripts/version.js
  web/server/www/style/bugfilter.css
  web/server/www/userguide/userguide.md
  web/tests/functional/report_viewer_api/test_report_filter.py
Labels: API change :a:, CLI :computer:, server :desktop_computer:, test :ballot_box_with_check:, web :earth_africa:

#2211 [doc] Fix documentation links in the web userguide
  web/server/www/userguide/userguide.md
Labels: bugfix :hammer:, documentation :book:

#2210 use the environment from context for ctu detection
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
Labels: analyzer :chart_with_upwards_trend:

#2208 exit on missing checker or profile names
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/checkers.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_checkers.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2213 Removing aliases from the checker config
  config/config.json
Labels: analyzer :chart_with_upwards_trend:

#2215 give warning only for now if a checker is missing
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
Labels: analyzer :chart_with_upwards_trend:

#2214 [server] Refactoring review status change permission check
  web/server/codechecker_server/api/report_server.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, server :desktop_computer:

#2191 Skipping -specs flag in TU collector
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tu_collector/tu_collector.py
Labels: CLI :computer:, bugfix :hammer:, tu_collector :page_with_curl:

#2217 [web] Refactoring source code comment handler
  codechecker_common/plist_parser.py
  codechecker_common/source_code_comment_handler.py
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/cmd_line_client.py
  web/server/codechecker_server/api/report_server.py
  web/server/tests/unit/test_source_code_comment.py
Labels: refactoring :angry: ↦ :slightly_smiling_face:, web :earth_africa:

#2216 Adding clang8 checker naming related changes
  config/checker_severity_map.json
  config/config.json
Labels: config :gear:

#2043 Refactoring product listing grid
  web/server/www/scripts/productlist/ListOfProducts.js
Labels: refactoring :angry: ↦ :slightly_smiling_face:, web :earth_africa:

#2218 [server] New features of v6.10
  web/server/www/changelog.html
  web/server/www/userguide/images/bug_path_length_filter.png
Labels: server :desktop_computer:

#2212 ctu display progress flag changed in clang8
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/host_check.py
  analyzer/tests/functional/ctu_failure/test_ctu_failure.py
  analyzer/tests/functional/host_check/test_host_check.py
Labels: analyzer :chart_with_upwards_trend:

#2193 Collect compiler information for multiple languages
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/flag.py
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_flag.py
  analyzer/tests/unit/test_option_parser.py
  scripts/debug_tools/renew_info_files.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2221 fix build action handling in statistics_collector
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2223 fix variable name
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics_collector.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2225 bump up version to v6.10.1
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:, server :desktop_computer:

#2231 Fix Z3 refutation detection
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2241 Exception on regex characters in checker name
  analyzer/codechecker_analyzer/checkers.py
  analyzer/tests/unit/test_checkers.py
Labels: bugfix :hammer:

#2239 Fix Clang version regex in tests
  scripts/test/check_clang.py
Labels: bugfix :hammer:

#2227 [server] Fix reading worker_processes config value
  web/server/codechecker_server/session_manager.py
Labels: bugfix :hammer:, config :gear:, server :desktop_computer:

#2244 update travis to clang8
  .travis.yml
Labels: dev env :rescue_worker_helmet:

#2248 Fix LOG.debug
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:
