Repository Ericsson/codechecker, pull requests merged in 2020-01, with the labels that each got.

#2511 [doc] List of code analyzers supported by CodeChecker
  docs/README.md
  docs/supported_code_analyzers.md
Labels: discussion :bulb:, documentation :book:

#2515 Add severity to alpha.cplusplus.PlacementNew
  config/checker_severity_map.json
Labels: config :gear:

#2509 bump up version to v6.11.1
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:, web :earth_africa:

#2517 Add {llvm,readability}-qualified-auto
  config/checker_severity_map.json
Labels: config :gear:

#2513 Add severity for 4 checkers
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2530 Fix error when query limit is larger than max limit
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2531 add missing info to osx install guide
  docs/README.md
Labels: documentation :book:

#2536 [tu-collector][test][fix] Fix warning in tu-collector test
  tools/tu_collector/tests/project/compile_command.json
Labels: bugfix :hammer:, test :ballot_box_with_check:, tu_collector :page_with_curl:

#2534 Move PlacementNewChecker out from alpha
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2529 Skipfile normalization fix
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_log_parser.py
  codechecker_common/skiplist_handler.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:
