Repository Ericsson/codechecker, pull requests merged in 2020-11, with the labels that each got.

#2978 [api] Add helper script to change API version
  web/api/change-api-version.sh
  web/api/py/codechecker_api_shared/setup.py
Labels: web :earth_africa:

#2993 [clang] Upgrade to Clang11
  .travis.yml
  scripts/test/check_clang.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/projects/cpp/project_info.json
Labels: analyzer :chart_with_upwards_trend:, clang sa :dragon:, clang-tidy :dragon:

#2998 [api] Increment the API version to 6.34.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: API change :page_facing_up:

#2979 [report-converter][fix] Coccinelle checker fix
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/coccinelle/output_parser.py
  tools/report-converter/tests/unit/coccinelle_output_test_files/sample.expected.plist
Labels: bugfix :hammer:

#2980 [report-converter][fix] Smatch checker fix
  tools/report-converter/codechecker_report_converter/smatch/output_parser.py
  tools/report-converter/tests/unit/smatch_output_test_files/sample.expected.plist
Labels: bugfix :hammer:

#3003 [test] turn off osx tests in travis
  .travis.yml
Labels: test :ballot_box_with_check:

#2989 [web] Introduce a default other component
  web/client/codechecker_client/source_component_client.py
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
  web/server/vue-cli/src/components/Report/SourceComponent/ListSourceComponents.vue
  web/server/vue-cli/src/components/Report/SourceComponent/SourceComponentTooltip.vue
  web/server/vue-cli/src/components/Statistics/ComponentStatistics.vue
  web/tests/functional/component/test_component.py
Labels: test :ballot_box_with_check:, web :earth_africa:

#2991 refactoring and gerrit output for the parse subcommand
  Makefile
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/output/codeclimate.py
  codechecker_common/output/gerrit.py
  codechecker_common/report.py
  codechecker_common/tests/.noserc
  codechecker_common/tests/unit/Makefile
  codechecker_common/tests/unit/__init__.py
  codechecker_common/tests/unit/test_gerrit_converter.py
  docs/analyzer/user_guide.md
  web/client/codechecker_client/cmd_line_client.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:, refactoring :angry: ➡️ :slightly_smiling_face:

#2999 [server] Fix open reports date filter when no run filter is set
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: bugfix :hammer:, server :desktop_computer:

#3004 [cmd] Catch and print every exceptions in the main script
  bin/CodeChecker.py
Labels: CLI :computer:, bugfix :hammer:

#2994 Fix `checkers --warnings` command
  .pylintrc
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/tests/functional/cmdline/test_cmdline.py
Labels: bugfix :hammer:

#2971 [fix] Fix concurrency error by sharing config dict
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2959 [gui] Select tag for each run filter item
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/src/components/BulbMessage.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineRunFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineTagItems.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/Items.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectOption.vue
  web/server/vue-cli/src/services/api/cc.service.js
  web/server/vue-cli/src/services/api/index.js
Labels: API change :page_facing_up:, GUI :art:, enhancement :star2:, refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:, test :ballot_box_with_check:

#3009 [make] Use python3 and pip3 binaries in Makefiles
  analyzer/tools/merge_clang_extdef_mappings/Makefile
  analyzer/tools/statistics_collector/Makefile
  tools/codechecker_report_hash/Makefile
  web/Makefile
Labels: bugfix :hammer:

#3010 [travis] Remove thrift-compiler dependency
  .travis.yml
Labels: config :gear:

#2961 [gui] Show report info in dialog at the report detail page
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportInfo/ReportInfo.vue
  web/server/vue-cli/src/components/Report/ReportInfo/ReportInfoButton.vue
  web/server/vue-cli/src/components/Report/ReportInfo/ShowReportInfoDialog.vue
  web/server/vue-cli/src/components/Report/ReportInfo/index.js
Labels: GUI :art:, enhancement :star2:

#2995 Fix trimpath
  codechecker_common/tests/unit/Makefile
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/store/__init__.py
  web/tests/functional/store/test_proj/Makefile
  web/tests/functional/store/test_proj/divide_zero.cpp
  web/tests/functional/store/test_proj/divide_zero.plist
  web/tests/functional/store/test_proj/lib.h
  web/tests/functional/store/test_store.py
Labels: bugfix :hammer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3002 [makefile] Build UI code automatically and allow to skip building UI code
  docs/README.md
  web/Makefile
Labels: documentation :book:, web :earth_africa:

#2990 [web] Rename open reports date filter
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineOpenReportsDateFilter.vue
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, web :earth_africa:

#3011 [gui] Enable search and highlight occurences of the selected text
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/main.js
Labels: GUI :art:

#2958 [gui] Show reports line number only in non unique mode
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:, bugfix :hammer:

#3006 [server][auth] user dn postfix preference
  docs/web/authentication.md
  web/server/codechecker_server/auth/cc_ldap.py
  web/server/config/server_config.json
Labels: server :desktop_computer:

#2986 [web] Product statistics overview
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Icons/SeverityIcon.vue
  web/server/vue-cli/src/components/Statistics/BaseStatistics.vue
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Checker/CheckerStatistics.vue
  web/server/vue-cli/src/components/Statistics/Checker/CheckerStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Component/ComponentStatistics.vue
  web/server/vue-cli/src/components/Statistics/Component/ComponentStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Component/ExpandedItem.vue
  web/server/vue-cli/src/components/Statistics/ComponentStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatisticsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/index.js
  web/server/vue-cli/src/components/Statistics/Overview/FailedFilesDialog.vue
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/Overview.vue
  web/server/vue-cli/src/components/Statistics/Overview/Reports.vue
  web/server/vue-cli/src/components/Statistics/Overview/SingleLineWidget.vue
  web/server/vue-cli/src/components/Statistics/Severity/SeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/Severity/SeverityStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/SeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/SeverityStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/StatisticsHelper.js
  web/server/vue-cli/src/components/Statistics/index.js
  web/server/vue-cli/src/components/Statistics/style.scss
  web/server/vue-cli/src/main.js
  web/server/vue-cli/src/mixins/severity.mixin.js
  web/server/vue-cli/src/router/index.js
  web/server/vue-cli/src/views/Statistics.vue
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
Labels: API change :page_facing_up:, GUI :art:, enhancement :star2:, refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:, web :earth_africa:

#3015 [api] Increment the API version to 6.35.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: API change :page_facing_up:

#2988 [web][client] handle exceptions from the server at the client side
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/thrift_call.py
Labels: client :trollface:, web :earth_africa:

#3013 Less checkers in enable all
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3018 [gui] Improve component statistics page load
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/StatisticsHelper.js
Labels: GUI :art:, bugfix :hammer:, performance :runner:

#2983 [analyzer] Use maximum CPU resources by default during analysis
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#2943 Exit status
  Makefile
  analyzer/Makefile
  analyzer/bin/codechecker-analyze
  analyzer/bin/codechecker-analyzer-version
  analyzer/bin/codechecker-analyzers
  analyzer/bin/codechecker-check
  analyzer/bin/codechecker-checkers
  analyzer/bin/codechecker-fixit
  analyzer/bin/codechecker-log
  analyzer/bin/codechecker-parse
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/Makefile
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_error.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_error_disabled.output
  analyzer/tests/functional/fixit/test_fixit.py
  analyzer/tests/functional/skip/test_skip.py
  analyzer/tests/libtest/codechecker.py
  bin/CodeChecker.py
  bin/codechecker-version
  docs/analyzer/user_guide.md
  scripts/build/create_commands.py
  web/Makefile
  web/bin/codechecker-web-version
  web/client/bin/codechecker-cmd
  web/client/bin/codechecker-store
  web/client/codechecker_client/cmd/store.py
  web/server/bin/codechecker-server
  web/tests/Makefile
Labels: CLI :computer:, enhancement :star2:

#3021 [cmd] Fix HTML generation of the CodeChecker parse command
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:, test :ballot_box_with_check:

#3023 [gui] Extend new features page with 6.15.0 features
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: GUI :art:, documentation :book:

#3024 [test] Use -std=c++98 standard in fixit tests
  analyzer/tests/functional/fixit/test_fixit.py
Labels: test :ballot_box_with_check:

#3025 fix exit code check in the tests
  web/tests/libtest/codechecker.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#3030 [version] Bump up version to 6.16.0
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: version :tada:

#3028 [analyzer][fix] Unique lines when collecting statistics
  analyzer/tools/statistics_collector/codechecker_statistics_collector/post_process_stats.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3032 [server] Upgrade to thrift 0.13.0
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: API change :page_facing_up:, version :tada:

#3040 [doc] Fix broken link to the build-logger in the main readme file
  docs/README.md
Labels: documentation :book:

#3043 [gui] Fix undefined getRunIds function in baseline run filter
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineRunFilter.vue
Labels: GUI :art:, bugfix :hammer:

#3048 [api] Increment the API version to 6.36.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: version :tada:

#3017 [report-converter] Sphinx parser
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/sphinx/__init__.py
  tools/report-converter/codechecker_report_converter/sphinx/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sphinx/output_parser.py
  tools/report-converter/tests/unit/sphinx_output_test_files/files/sample.rst
  tools/report-converter/tests/unit/sphinx_output_test_files/sample.expected.plist
  tools/report-converter/tests/unit/sphinx_output_test_files/sample.out
  tools/report-converter/tests/unit/test_sphinx_parser.py
Labels: other-analyzer :speech_balloon:, tools :hammer_and_wrench:

#3045 Makefile updated to work in windows.
  Makefile
  analyzer/Makefile
  analyzer/tests/Makefile
  analyzer/tools/merge_clang_extdef_mappings/Makefile
  analyzer/tools/statistics_collector/Makefile
  codechecker_common/tests/unit/Makefile
  tools/codechecker_report_hash/Makefile
  tools/plist_to_html/Makefile
  tools/report-converter/Makefile
  tools/tu_collector/Makefile
  web/Makefile
  web/api/Makefile
  web/tests/Makefile
Labels: dev env :rescue_worker_helmet:

#3052 [gui] Design tooltips
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineOpenReportsDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionStatusFilter.vue
  web/server/vue-cli/src/components/TooltipHelpIcon.vue
Labels: GUI :art:, usability :+1:

#3055 [gui] On search event set the focus to the search bar
  web/server/vue-cli/src/components/Report/Report.vue
Labels: GUI :art:, enhancement :star2:

#3061 [makefile] Replace wrong space character in makefiles
  analyzer/Makefile
  analyzer/tools/statistics_collector/Makefile
  web/api/Makefile
Labels: bugfix :hammer:

#3057 [gui] Fix e2e test cases
  web/server/vue-cli/e2e/init.reports.js
  web/server/vue-cli/e2e/specs/login.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: bugfix :hammer:, test :ballot_box_with_check:
