Repository Ericsson/codechecker, pull requests merged in 2020-02, with the labels that each got.

#2538 Detect clang version on OSX
  Makefile
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/version.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/ctu_autodetection_test_files/apple_llvm_10_version
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:

#2548 Skipfile normalization fix
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_log_parser.py
  codechecker_common/skiplist_handler.py
Labels: bugfix :hammer:

#2550 [plist2html] Print total number of reports in plist-to-html
  analyzer/codechecker_analyzer/cmd/parse.py
  tools/plist_to_html/plist_to_html/PlistToHtml.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2556 [plist2html] Print total number of reports in plist-to-html
  analyzer/codechecker_analyzer/cmd/parse.py
  tools/plist_to_html/plist_to_html/PlistToHtml.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2532 [fix] Handle use case when ClangSA is not available
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2547 [fix] Fix row output type in command line
  codechecker_common/output_formatters.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: CLI :computer:, bugfix :hammer:

#2559 [fix] Fix row output type in command line
  codechecker_common/output_formatters.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: CLI :computer:, bugfix :hammer:

#2524 [tu-collector] Recognize CCache in build command
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tests/project/hello.c
  tools/tu_collector/tests/tu_collector_test.py
  tools/tu_collector/tu_collector/tu_collector.py
Labels: bugfix :hammer:, tu_collector :page_with_curl:

#2541 [analyzer] Handle two kinds of implicit includes differently
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/unit/test_option_parser.py
  docs/analyzer/gcc_incompatibilities.md
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:

#2561 [tu-collector][test][fix] Fix warning in tu-collector test
  tools/tu_collector/tests/project/compile_command.json
Labels: bugfix :hammer:, test :ballot_box_with_check:, tu_collector :page_with_curl:

#2560 [tu-collector] Recognize CCache in build command
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tests/project/hello.c
  tools/tu_collector/tests/tu_collector_test.py
  tools/tu_collector/tu_collector/tu_collector.py
Labels: tu_collector :page_with_curl:

#2562 [analyzer] Handle two kinds of implicit includes differently
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/unit/test_option_parser.py
  docs/analyzer/gcc_incompatibilities.md
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:

#2569 filter out include directories containing *intrin.h header files
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2567 filter out include directories containing *intrin.h header files
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2565 [analyzer] add -fno-keep-static-consts flag to gcc ingore list
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:

#2549 [refactor] Remove experimental note from the context free hash help message
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#2572 [cmd] Give warning to the user if passwords.json file is mistyped
  web/client/codechecker_client/credential_manager.py
Labels: client :trollface:, usability :+1:

#2573 [fix] there was a typo in the error code name
  web/tests/libtest/thrift_client_to_db.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2537 [cmd] Add new command line options to sort run data
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: client :trollface:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:, web :earth_africa:

#2577 convert the source file to abs path if CC_LOGGER_ABS_PATH is set
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/test/test_logger.sh
Labels: analyzer :chart_with_upwards_trend:, ldlogger :page_with_curl:

#2580 Fix CLI
  codechecker_common/output_formatters.py
  web/client/codechecker_client/cmd/cmd.py
Labels: CLI :computer:, bugfix :hammer:

#2582 [analyzer] Remove EXPERIMENTAL tag from the statistics-based feature
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#2583 [fix] OSError exception was not handled if a binary is missing from PATH
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2579 [fix][gui] Fix sorting runs on the UI
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
Labels: GUI :art:, bugfix :hammer:
