Repository Ericsson/codechecker, pull requests merged in 2020-04, with the labels that each got.

#2399 [web] Store multiple report directories with one command
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang_tidy.output
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/metadata.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/metadata.py
  web/server/tests/unit/metadata_test_files/v1.json
  web/server/tests/unit/metadata_test_files/v2.json
  web/server/tests/unit/metadata_test_files/v2_multiple.json
  web/server/tests/unit/metadata_test_files/v2_multiple_cppcheck.json
  web/server/tests/unit/test_metadata_merge.py
  web/server/tests/unit/test_metadata_parser.py
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/tests/functional/detection_status/test_detection_status.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:, refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:, web :earth_africa:

#2646 [report-converter] Support TSLint
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/tslint/__init__.py
  tools/report-converter/codechecker_report_converter/tslint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/tslint/output_parser.py
  tools/report-converter/tests/unit/test_tslint_parser.py
  tools/report-converter/tests/unit/tslint_output_test_files/Makefile
  tools/report-converter/tests/unit/tslint_output_test_files/files/index.ts
  tools/report-converter/tests/unit/tslint_output_test_files/files/tslint.json
  tools/report-converter/tests/unit/tslint_output_test_files/reports.expected.plist
  tools/report-converter/tests/unit/tslint_output_test_files/reports.json
Labels: documentation :book:, enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2660 [server] Fix failed to remove temp directory on server shutdown
  bin/CodeChecker
Labels: bugfix :hammer:, server :desktop_computer:

#2663 [fix] using previous codechecker js api version
  web/server/vendor/Makefile
Labels: bugfix :hammer:

#2665 [client] Configure password file with env variable
  docs/web/authentication.md
  web/client/codechecker_client/client.py
  web/client/codechecker_client/credential_manager.py
  web/codechecker_web/shared/env.py
Labels: CLI :computer:, documentation :book:, enhancement :star2:

#2672 open plist file in binary mode
  analyzer/tests/unit/test_remove_report_from_plist.py
Labels: analyzer :chart_with_upwards_trend:, test :ballot_box_with_check:

#2669 [doc] Remove template scripts section from gerrit docs
  docs/jenkins_gerrit_integration.md
Labels: documentation :book:

#2668 [doc] Fix default values of CC_LOGGER_GCC_LIKE in user guide
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2637 [report-converter] Support Golint
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/golint/__init__.py
  tools/report-converter/codechecker_report_converter/golint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/golint/output_parser.py
  tools/report-converter/codechecker_report_converter/plist_converter.py
  tools/report-converter/tests/unit/golint_output_test_files/Makefile
  tools/report-converter/tests/unit/golint_output_test_files/files/simple.go
  tools/report-converter/tests/unit/golint_output_test_files/simple.expected.plist
  tools/report-converter/tests/unit/golint_output_test_files/simple.out
  tools/report-converter/tests/unit/test_golint_parser.py
Labels: analyzer :chart_with_upwards_trend:, documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2666 [client] Do not store empty plist file to the server
  analyzer/tests/unit/remove_report_test_files/files/empty.h
  analyzer/tests/unit/remove_report_test_files/files/x.cpp
  analyzer/tests/unit/remove_report_test_files/keep_only_empty.expected.plist
  analyzer/tests/unit/remove_report_test_files/keep_only_empty.txt
  analyzer/tests/unit/remove_report_test_files/skip_x_header.expected.plist
  analyzer/tests/unit/remove_report_test_files/x.plist
  analyzer/tests/unit/test_remove_report_from_plist.py
  codechecker_common/plist_parser.py
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/skip/test_skip.py
Labels: CLI :computer:, bugfix :hammer:

#2674 for plistlib the file needs to be opened in binary mode
  analyzer/tests/unit/test_remove_report_from_plist.py
Labels: test :ballot_box_with_check:

#2678 Add severity for new checkers
  config/checker_severity_map.json
Labels: config :gear:

#2675 [cmd] Support Code Climate format for parse command
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/report.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2673 [analyzer] Compiler errors as reports can be disabled.
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_error_disabled.output
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2691 refactor how the analyzer configs are passed for each process
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2688 [doc] Describe hash generation methods
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, documentation :book:

#2692 [report-converter] Metadata
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/tests/functional/cmdline/test_cmdline.py
  tools/report-converter/tests/functional/cmdline/test_files/Makefile
  tools/report-converter/tests/functional/cmdline/test_files/files/simple.go
  tools/report-converter/tests/functional/cmdline/test_files/simple.out
Labels: documentation :book:, enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2680 [test] Fix detection status test cases
  web/tests/functional/detection_status/test_detection_status.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#2703 [server] Handle empty auth string on login
  web/server/codechecker_server/api/authentication.py
  web/tests/functional/authentication/test_authentication.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#2698 [analyzer] Always generate valid log file
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/tests/functional/cmdline/test_cmdline.py
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/test/test_logger.sh
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:, test :ballot_box_with_check:

#2681 [tu-collector] Improve logging
  tools/tu_collector/tu_collector/tu_collector.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, tu_collector :page_with_curl:

#2700 [analyzer][web][dependency] update 3pp python dependencies
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  tools/codechecker_report_hash/requirements_py/dev/requirements.txt
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/database/database.py
Labels: analyzer :chart_with_upwards_trend:, dependencies, web :earth_africa:

#2699 [analyzer] Exit with an error code if the logfile does not exist
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#2704 [cmd] Fix credential manager
  web/client/codechecker_client/credential_manager.py
Labels: CLI :computer:, bugfix :hammer:
