Repository Ericsson/codechecker, pull requests merged in 2020-05, with the labels that each got.

#2707 [analyzer] Add -fext-numeric-literals to IGNORED_OPTIONS_GCC
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2693 [server] Fix getting run lock
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2709 [web] Improve storage logs
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/api/report_server.py
Labels: client :trollface:, server :desktop_computer:

#2679 [cmd] Show available env vars in cmd help
  analyzer/codechecker_analyzer/arg.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tools/build-logger/README.md
  codechecker_common/arg.py
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd/store.py
Labels: client :trollface:, documentation :book:

#2685 Checker config
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze/test_files/checker_config.cpp
  codechecker_common/output_formatters.py
  docs/analyzer/user_guide.md
  web/tests/functional/comment/test_comment.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, enhancement :star2:

#2657 [server] Handle database deadlocks when storing reports
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2237 Distinguish reports of different checkers
  analyzer/codechecker_analyzer/cmd/parse.py
  codechecker_common/report.py
  tools/codechecker_report_hash/codechecker_report_hash/hash.py
  tools/codechecker_report_hash/tests/unit/codechecker_report_hash/codechecker_report_hash_test.py
  web/client/codechecker_client/cmd_line_client.py
  web/server/codechecker_server/api/report_server.py
  web/server/tests/unit/test_report_path_hash.py
Labels: CLI :computer:, enhancement :star2:

#2710 [web] Fix autologin when session expired
  web/client/codechecker_client/client.py
  web/client/codechecker_client/thrift_call.py
  web/client/codechecker_client/thrift_helper.py
Labels: bugfix :hammer:, web :earth_africa:

#2715 [config] Add severity for cert-dcl51-cpp & cert-str34-c
  config/checker_severity_map.json
Labels: config :gear:

#2677 [report-converter] Write metada info into the plist files
  tools/report-converter/codechecker_report_converter/__init__.py
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cppcheck/analyzer_result.py
  tools/report-converter/setup.py
  tools/report-converter/tests/unit/asan_output_test_files/asan.plist
  tools/report-converter/tests/unit/cppcheck_output_test_files/divide_zero.expected.plist
  tools/report-converter/tests/unit/eslint_output_test_files/reports.expected.plist
  tools/report-converter/tests/unit/golint_output_test_files/simple.expected.plist
  tools/report-converter/tests/unit/infer_output_test_files/NullDereference.java.plist
  tools/report-converter/tests/unit/infer_output_test_files/dead_store.cpp.plist
  tools/report-converter/tests/unit/msan_output_test_files/msan.plist
  tools/report-converter/tests/unit/pyflakes_output_test_files/simple.expected.plist
  tools/report-converter/tests/unit/pylint_output_test_files/simple.expected.plist
  tools/report-converter/tests/unit/spotbugs_output_test_files/assign.plist
  tools/report-converter/tests/unit/test_asan_parser.py
  tools/report-converter/tests/unit/test_clang_tidy_parser.py
  tools/report-converter/tests/unit/test_cppcheck_parser.py
  tools/report-converter/tests/unit/test_eslint_parser.py
  tools/report-converter/tests/unit/test_golint_parser.py
  tools/report-converter/tests/unit/test_infer_parser.py
  tools/report-converter/tests/unit/test_msan_parser.py
  tools/report-converter/tests/unit/test_pyflakes_parser.py
  tools/report-converter/tests/unit/test_pylint_parser.py
  tools/report-converter/tests/unit/test_spotbugs_parser.py
  tools/report-converter/tests/unit/test_tsan_parser.py
  tools/report-converter/tests/unit/test_tslint_parser.py
  tools/report-converter/tests/unit/test_ubsan_parser.py
  tools/report-converter/tests/unit/tidy_output_test_files/tidy1.plist
  tools/report-converter/tests/unit/tidy_output_test_files/tidy2.plist
  tools/report-converter/tests/unit/tidy_output_test_files/tidy3_cpp.plist
  tools/report-converter/tests/unit/tidy_output_test_files/tidy3_hh.plist
  tools/report-converter/tests/unit/tsan_output_test_files/tsan.plist
  tools/report-converter/tests/unit/tslint_output_test_files/reports.expected.plist
  tools/report-converter/tests/unit/ubsan_output_test_files/ubsan1.plist
  tools/report-converter/tests/unit/ubsan_output_test_files/ubsan2.plist
Labels: enhancement :star2:, tools :hammer_and_wrench:

#2644 [analyzer] Configure ClangSA plugin directory from env var
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/env.py
  docs/README.md
  docs/analyzer/user_guide.md
  docs/package_layout.md
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2713 [doc] Deploy web server using docker
  docs/README.md
  docs/web/docker.md
  web/docker/services/config/nginx/nginx.conf
  web/docker/services/docker-compose.psql.auth.yml
  web/docker/services/docker-compose.psql.yml
  web/docker/services/docker-compose.sqlite.yml
  web/docker/services/docker-compose.swarm.yml
  web/docker/services/secrets/pgpass
  web/docker/services/secrets/postgres-passwd
Labels: documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#2690 [clang-tidy] Display errors from all non-system headers
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/functional/skip/__init__.py
  web/tests/functional/skip/test_skip.py
  web/tests/libtest/codechecker.py
  web/tests/projects/cpp/project_info.json
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:, clang-tidy :dragon:, test :ballot_box_with_check:

#2721 [documentation][analyzer] add exact compiler name match example
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, documentation :book:

#2719 [config] Remove duplicated entry from the checker severity map
  config/checker_severity_map.json
Labels: config :gear:

#2720 [config] Set severity levels for sanitizer checkers
  config/checker_severity_map.json
Labels: config :gear:

#2682 [analyze] Analyze headers with the analyze skip file
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/tests/functional/skip/test_files/multiple/Makefile
  analyzer/tests/functional/skip/test_files/multiple/a.cpp
  analyzer/tests/functional/skip/test_files/multiple/b.cpp
  analyzer/tests/functional/skip/test_files/multiple/lib.h
  analyzer/tests/functional/skip/test_files/multiple/skipfile
  analyzer/tests/functional/skip/test_files/simple/Makefile
  analyzer/tests/functional/skip/test_files/simple/file_to_be_skipped.cpp
  analyzer/tests/functional/skip/test_files/simple/skip.h
  analyzer/tests/functional/skip/test_files/simple/skip_header.cpp
  analyzer/tests/functional/skip/test_files/simple/skipfile
  analyzer/tests/functional/skip/test_skip.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:, test :ballot_box_with_check:

#2687 [cmd] Support Code Climate format for cmd diff command
  codechecker_common/report.py
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2686 [doc] GitLab integration
  docs/README.md
  docs/gitlab_integration.md
Labels: CI :package:, documentation :book:

#2676 [web] Add description for each run
  docs/web/user_guide.md
  web/api/README.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/thrift_helper.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/store_handler.py
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/report/versions/5f8a443a51e5_add_description_for_run_history.py
  web/server/vendor/Makefile
  web/server/www/scripts/codecheckerviewer/ListOfRuns.js
  web/server/www/scripts/codecheckerviewer/RunHistory.js
  web/tests/functional/cmdline/__init__.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, GUI :art:, database :file_cabinet:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2725 [makefile] Update codechecker_api dependencies automatically
  web/Makefile
Labels: bugfix :hammer:, dependencies, dev env :rescue_worker_helmet:, web :earth_africa:

#2732 [version] Upgrade codechecker api to 6.27.0
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vendor/Makefile
  web/server/www/scripts/version.js
Labels: config :gear:

#2733 [doc] Extend thrift api stable release readme
  web/api/README.md
Labels: documentation :book:

#2734 [makefile] Use python3 binary in Makefiles
  tools/codechecker_report_hash/Makefile
  web/api/Makefile
Labels: bugfix :hammer:

#2728 Fixing profile listing
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/tests/functional/cmdline/test_cmdline.py
Labels: bugfix :hammer:

#2611 [web] Support config file
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/cmd/server.py
  web/tests/functional/cli_config/__init__.py
  web/tests/functional/cli_config/test_server_config.py
  web/tests/functional/cli_config/test_store_config.py
  web/tests/libtest/codechecker.py
Labels: client :trollface:, documentation :book:, enhancement :star2:, server :desktop_computer:, test :ballot_box_with_check:

#2723 Simplify main readme
  docs/README.md
  docs/analyzer/user_guide.md
  docs/install_macosx.md
  docs/web/user_guide.md
Labels: documentation :book:

#2735 [server] Fix logging ldap error
  web/server/codechecker_server/auth/cc_ldap.py
Labels: bugfix :hammer:, server :desktop_computer:

#2736 [refactor] Remove enabled options from cmd config files
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/config/test_config.py
  config/codechecker.json
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/cmd/server.py
  web/tests/functional/cli_config/test_server_config.py
  web/tests/functional/cli_config/test_store_config.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:

#2739 [server] Add new system comment only on review status change
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/review_status/test_review_status.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:, test :ballot_box_with_check:

#2738 Adding new checkers to the profiles, setting severities
  config/checker_severity_map.json
  config/config.json
Labels: config :gear:

#2743 [makefile] Fix cleaning vendor directory
  web/server/vendor/Makefile
Labels: bugfix :hammer:

#2741 fix standalone package builder script py2 -> py3
  scripts/build/wrap_binary_in_venv.py
Labels: bugfix :hammer:

#2742 change the standalone package top level script permissions
  scripts/build/wrap_binary_in_venv.py
Labels: tools :hammer_and_wrench:

#2740 [doc] Extending analyzer and checker config docs
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2737 [version] Bump up version to 6.13.0
  Doxyfile.in
  analyzer/config/analyzer_version.json
  web/config/web_version.json
Labels: version :tada:

#2747 [ldlogger] Fix segmentation fault in logger
  analyzer/tools/build-logger/src/ldlogger-tool.c
Labels: bugfix :hammer:, ldlogger :page_with_curl:

#2749 [cmd] Use report object to trim path prefixes at parse command
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: client :trollface:, refactoring :angry: ➡️ :slightly_smiling_face:

#2748 simplify piping the subprocess call output to devnull
  analyzer/codechecker_analyzer/buildlog/host_check.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#2753 [refactor] cleanup pycodestyle E741 errors
  analyzer/tests/unit/test_statistics_collectors.py
  codechecker_common/plist_parser.py
  web/server/tests/unit/test_source_code_comment.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#2746 [fix] Fix tidyargs file encoding
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze/test_files/extra_args.c
  analyzer/tests/functional/analyze/test_files/saargs
  analyzer/tests/functional/analyze/test_files/tidyargs
Labels: bugfix :hammer:

#2755 [web] fix codechecker_api version
  web/requirements_py/dev/requirements.txt
Labels: bugfix :hammer:, dev env :rescue_worker_helmet:

#2756 [fix] Bugfix in HTML generator in parse command
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: bugfix :hammer:

#2757 Adding .gitignore to codechecker_report_hash tool
  tools/codechecker_report_hash/.gitignore
Labels: config :gear:, tools :hammer_and_wrench:
