Repository Ericsson/codechecker, pull requests merged in 2020-12, with the labels that each got.

#3063 [doc] Use Python3 virtualenv in the install guide
  docker/Dockerfile.test.sqlite.clang7.bionic
  docker/Dockerfile.test.sqlite.clang7.xenial
  docs/README.md
Labels: bugfix :hammer:, dev env :rescue_worker_helmet:, documentation :book:

#3046 [gui] Show a progress bar while removing a run is in progress
  web/server/vue-cli/src/components/ConfirmDialog.vue
  web/server/vue-cli/src/components/Run/DeleteRunBtn.vue
Labels: GUI :art:, enhancement :star2:

#3053 [gui] Show review status in Report Tree view
  web/server/vue-cli/src/components/Report/ReportTree/ReportTree.vue
Labels: GUI :art:, enhancement :star2:

#3066 [test] Introduce Github action for CodeChecker tests
  .github/workflows/install-deps.sh
  .github/workflows/test.yml
  web/server/vue-cli/nightwatch.conf.js
  web/tests/libtest/codechecker.py
Labels: CI :package:, test :ballot_box_with_check:

#3078 [fix][server] review comment parsing with trim path
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/review_status/__init__.py
  web/tests/functional/review_status/review_status_files/Makefile
  web/tests/functional/review_status/review_status_files/divide_zero.cpp
  web/tests/functional/review_status/review_status_files/divide_zero.plist
  web/tests/functional/review_status/test_review_status.py
  web/tests/libtest/codechecker.py
Labels: bugfix :hammer:, server :desktop_computer:

#3071 [gui] Sort runs in ascending order by the latest storage date by default
  web/server/vue-cli/src/views/RunList.vue
Labels: GUI :art:, bugfix :hammer:

#3086 Remove travis
  .travis.yml
  Makefile
  docs/README.md
Labels: CI :package:, config :gear:

#3056 [gui] Set required field for product config form
  web/server/vue-cli/src/components/Product/ProductConfigForm.vue
Labels: GUI :art:, bugfix :hammer:

#3038 [doc] Extend documentation for detection status
  web/server/vue-cli/src/assets/userguide/images/detection_status_flow_chart.png
  web/server/vue-cli/src/assets/userguide/images/detection_status_flow_chart.svg
  web/server/vue-cli/src/assets/userguide/userguide.md
Labels: GUI :art:, documentation :book:

#3062 [server] Print the the skip file content in the server debug logs
  web/server/codechecker_server/api/report_server.py
Labels: server :desktop_computer:

#3069 [doc] Describe the usage flow in the main readme
  docs/README.md
  docs/images/usage_flow.png
  docs/images/usage_flow.svg
Labels: documentation :book:

#3101 [doc] Update docs for CodeChecker analyzers command
  analyzer/codechecker_analyzer/cmd/analyzers.py
  docs/analyzer/user_guide.md
Labels: documentation :book:

#3100 [gui] Add shortcut links to the product page
  web/server/vue-cli/src/components/Layout/TheHeader.vue
  web/server/vue-cli/src/components/Product/ProductNameColumn.vue
  web/server/vue-cli/src/components/Product/index.js
  web/server/vue-cli/src/views/Products.vue
Labels: GUI :art:, usability :+1:

#3079 create venv with interpreter instead of the virtualenv command
  Makefile
  analyzer/Makefile
  analyzer/tools/merge_clang_extdef_mappings/Makefile
  analyzer/tools/statistics_collector/Makefile
  docs/README.md
  tools/codechecker_report_hash/Makefile
  tools/plist_to_html/Makefile
  tools/report-converter/Makefile
  tools/tu_collector/Makefile
  web/Makefile
Labels: CI :package:, dependencies :package:, dev env :rescue_worker_helmet:

#3073 Fix LDAP authentication exception
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/auth/cc_ldap.py
Labels: server :desktop_computer:, web :earth_africa:

#3090 [server] Fix Selenium server timeout
  web/server/vue-cli/nightwatch.conf.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: GUI :art:, bugfix :hammer:, test :ballot_box_with_check:

#3091 [web] Remove docker container after API generation is done
  web/api/Makefile
Labels: web :earth_africa:

#3068 [doc] Show command line features in the main readme
  docs/README.md
Labels: documentation :book:

#3070 [doc] Documentation for report identification
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/report_identification.md
  docs/analyzer/user_guide.md
  docs/usage.md
Labels: documentation :book:

#3106 [api] Increment the API version to 6.37.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: API change :page_facing_up:

#3111 [analyzer] Add -mskip-rax-setup$ in log_parser.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3112 [analyzer] Add -mrecord-mcount$ in log_parser.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:
