Repository Ericsson/codechecker, pull requests merged in 2020-03, with the labels that each got.

#2589 [doc] Add documentation how to log log compiler call made by Bazel
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2590 [doc] Format docs for mkdocs generation
  docs/README.md
  docs/analyzer/gcc_incompatibilities.md
  docs/jenkins_gerrit_integration.md
  docs/supported_code_analyzers.md
  docs/tests.md
  docs/web/docker.md
  docs/web/user_guide.md
Labels: documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#2584 [fix][report-converter] Fix finding module in report-converter
  tools/report-converter/codechecker_report_converter/cli.py
Labels: bugfix :hammer:

#2592 [gui] Show full file path in title at Bug Viewer
  web/server/www/scripts/codecheckerviewer/BugViewer.js
Labels: GUI :art:, enhancement :star2:

#2581 [build-logger] Support debug logging
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/tools/build-logger/Makefile.manual
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
  analyzer/tools/build-logger/test/test_logger.sh
  docs/analyzer/user_guide.md
Labels: documentation :book:, ldlogger :page_with_curl:, test :ballot_box_with_check:

#2475 [analyzer] Fix plist file name collision
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/tests/functional/analyze_and_parse/test_files/Makefile
  analyzer/tests/functional/analyze_and_parse/test_files/filename_collision.output
  analyzer/tests/functional/analyze_and_parse/test_files/filename_collision/a/f.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/filename_collision/b/f.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/filename_collision/main.cpp
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2595 [gui] Set limit and query when getting filter items
  web/server/www/scripts/codecheckerviewer/filter/SelectFilter.js
Labels: GUI :art:, bug :bug:

#2578 [doc] Refactoring doc of supported analyzers
  docs/README.md
  docs/supported_code_analyzers.md
Labels: documentation :book:

#2554 [cmd] improve authentication related log messages
  web/client/codechecker_client/credential_manager.py
  web/client/codechecker_client/token_client.py
Labels: CLI :computer:, web :earth_africa:

#2552 [cmd] Select which file to analyze from the compile command json
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_skipped_in_cmd.output
  docs/analyzer/user_guide.md
  docs/usage.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2476 [analyzer] Cleanup metadata
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: analyzer :chart_with_upwards_trend:

#2566 [analyzer] Skip report from plist
  analyzer/tests/unit/remove_report_test_files/files/x.cpp
  analyzer/tests/unit/remove_report_test_files/files/x.h
  analyzer/tests/unit/remove_report_test_files/files/y.h
  analyzer/tests/unit/remove_report_test_files/skip_all_header.expected.plist
  analyzer/tests/unit/remove_report_test_files/skip_all_header.txt
  analyzer/tests/unit/remove_report_test_files/skip_x_header.expected.plist
  analyzer/tests/unit/remove_report_test_files/skip_x_header.txt
  analyzer/tests/unit/remove_report_test_files/x.plist
  analyzer/tests/unit/test_remove_report_from_plist.py
  codechecker_common/plist_parser.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:, test :ballot_box_with_check:

#2591 [doc] Change user in build command of CodeChecker log
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2600 [fix][cmd] Fix empty CodeChecker invocation
  analyzer/tests/functional/cmdline/test_cmdline.py
  bin/CodeChecker.py
Labels: CLI :computer:, bugfix :hammer:

#2458 [analyzer] Fix Clang Tidy context free hash generation
  analyzer/codechecker_analyzer/analyzers/clangsa/result_handler.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/result_handler.py
  analyzer/codechecker_analyzer/arg.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clangsa.output
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2612 bump up psutil version from 5.2.2 to 5.6.6
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: dependencies

#2620 Bump up python-ldap version to 3.2.0
  web/requirements_py/auth/requirements.txt
Labels: config :gear:, server :desktop_computer:

#2427 [client] add gerrit output format for cmd diff command
  docs/jenkins_gerrit_integration.md
  docs/web/user_guide.md
  scripts/gerrit_jenkins/create_skipfile.py
  scripts/gerrit_jenkins/parse_output_parser.py
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: client :trollface:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:

#2597 [fix] Fix changing detection status to OFF
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/detection_status/test_detection_status.py
Labels: bugfix :hammer:, web :earth_africa:

#2627 [web] Add report hash lib when packaging only web
  web/Makefile
Labels: web :earth_africa:

#2630 [server] Fix printing product statuses
  web/server/codechecker_server/cmd/server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2633 [report-converter] Improve the help message
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/clang_tidy/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/cppcheck/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sanitizers/address/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sanitizers/memory/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sanitizers/thread/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sanitizers/ub/analyzer_result.py
Labels: documentation :book:, tools :hammer_and_wrench:

#2535 Report converter support SpotBugs
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/.gitignore
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/output_parser.py
  tools/report-converter/codechecker_report_converter/spotbugs/__init__.py
  tools/report-converter/codechecker_report_converter/spotbugs/analyzer_result.py
  tools/report-converter/codechecker_report_converter/spotbugs/output_parser.py
  tools/report-converter/codechecker_report_converter/spotbugs/plist_converter.py
  tools/report-converter/tests/unit/spotbugs_output_test_files/Makefile
  tools/report-converter/tests/unit/spotbugs_output_test_files/assign.plist
  tools/report-converter/tests/unit/spotbugs_output_test_files/assign.xml
  tools/report-converter/tests/unit/spotbugs_output_test_files/files/Assign.java
  tools/report-converter/tests/unit/test_spotbugs_parser.py
Labels: enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2601 [cmd] Fix parsing invalid plist file
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/plist_parser.py
Labels: CLI :computer:, refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:

#2623 [cmd] CTU reanalyze option on failure for check command
  analyzer/codechecker_analyzer/cmd/check.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#2631 [ldlogger] Allow more than 'CC_LOGGER_MAX_ARGS' in commands.
  analyzer/tools/build-logger/src/ldlogger-hooks.c
Labels: enhancement :star2:, ldlogger :page_with_curl:

#2618 [ld-logger] Improve debug messages
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/src/ldlogger-tool.c
Labels: ldlogger :page_with_curl:, refactoring :angry: ➡️ :slightly_smiling_face:

#2625 [test] Fix unrecognized analyzer option in test
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_clangsa.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clangsa.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang_tidy.output
Labels: analyzer :chart_with_upwards_trend:, test :ballot_box_with_check:

#2622 [server] Remove unused session salt variable
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#2615 [refactor] Remove db version tables
  web/codechecker_web/shared/db_version.py
  web/server/codechecker_server/database/config_db_model.py
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/config/versions/302693c76eb8_remove_db_version_table.py
  web/server/codechecker_server/migrations/report/versions/a79677f54e48_remove_db_version_table.py
Labels: config :gear:, database :file_cabinet:, refactoring :angry: ➡️ :slightly_smiling_face:

#2634 [report-converter] Support ESLint
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/eslint/__init__.py
  tools/report-converter/codechecker_report_converter/eslint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/eslint/output_parser.py
  tools/report-converter/tests/unit/eslint_output_test_files/Makefile
  tools/report-converter/tests/unit/eslint_output_test_files/files/.eslintrc
  tools/report-converter/tests/unit/eslint_output_test_files/files/index.js
  tools/report-converter/tests/unit/eslint_output_test_files/reports.expected.plist
  tools/report-converter/tests/unit/eslint_output_test_files/reports.json
  tools/report-converter/tests/unit/test_eslint_parser.py
Labels: documentation :book:, enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2624 [docker] Use python3 as a base image in docker file
  web/docker/Dockerfile
Labels: web :earth_africa:

#2639 [store] Keep plist file valid when replacing report hash
  tools/codechecker_report_hash/codechecker_report_hash/hash.py
  tools/codechecker_report_hash/tests/unit/codechecker_report_hash/codechecker_report_hash_test.py
  web/client/codechecker_client/cmd/store.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2614 [cfg] Fix migration script generation for config db
  web/server/codechecker_server/migrations/config/env.py
  web/server/codechecker_server/migrations/report/env.py
Labels: bugfix :hammer:, config :gear:

#2641 [server] Fix empty review status message
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/review_status/test_review_status.py
Labels: bugfix :hammer:, server :desktop_computer:

#2613 [server] Fix relative sqlite file path
  web/server/codechecker_server/cmd/server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2651 [server] Convert ldap values to text
  web/server/codechecker_server/auth/cc_ldap.py
Labels: bugfix :hammer:, server :desktop_computer:

#2650 [server] Allow to filter run history tag names by regex
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: enhancement :star2:, server :desktop_computer:, test :ballot_box_with_check:

#2647 [server] Fix liveness and readyness urls
  web/server/codechecker_server/server.py
Labels: bugfix :hammer:, server :desktop_computer:

#2645 [ld-logger] Update the documentation
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/test/test_logger.sh
Labels: documentation :book:, ldlogger :page_with_curl:

#2640 [report-converter] Support Pylint
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/pylint/__init__.py
  tools/report-converter/codechecker_report_converter/pylint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/pylint/output_parser.py
  tools/report-converter/tests/unit/pylint_output_test_files/Makefile
  tools/report-converter/tests/unit/pylint_output_test_files/files/simple.py
  tools/report-converter/tests/unit/pylint_output_test_files/simple.expected.plist
  tools/report-converter/tests/unit/pylint_output_test_files/simple.json
  tools/report-converter/tests/unit/test_pylint_parser.py
Labels: documentation :book:, enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:
