Repository Ericsson/codechecker, pull requests merged in 2020-10, with the labels that each got.

#2957 [server] ignore encoding errors for source file content
  web/codechecker_web/shared/convert.py
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
  web/tests/projects/cpp/call_and_message.cpp
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#2965 [refactor] reorder how the log levels are printed
  codechecker_common/logger.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#2964 [gui] Refactor unique reports helper icon
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/UniqueFilter.vue
Labels: GUI :art:, refactoring :angry: ➡️ :slightly_smiling_face:

#2956 [server] Set analyzer name for clang-diagnostic checkers
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/projects/cpp/Makefile
  web/tests/projects/cpp/project_info.json
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#2977 [test] Clang diagnostic reports in skip tests
  web/tests/functional/skip/test_skip.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#2970 [user_guide.md]: Add note about new bitbake integration option
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2974 Fix in fixit test related to file modification time
  analyzer/tests/functional/fixit/test_fixit.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#2968 [report-converter] Smatch Parser
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/smatch/__init__.py
  tools/report-converter/codechecker_report_converter/smatch/analyzer_result.py
  tools/report-converter/codechecker_report_converter/smatch/output_parser.py
  tools/report-converter/tests/unit/smatch_output_test_files/files/sample.c
  tools/report-converter/tests/unit/smatch_output_test_files/sample.expected.plist
  tools/report-converter/tests/unit/smatch_output_test_files/sample.out
  tools/report-converter/tests/unit/test_smatch_parser.py
Labels: documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2976 feat(credential_manager): allow users to overwrite location of session file
  docs/web/authentication.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/credential_manager.py
  web/codechecker_web/shared/env.py
  web/server/vue-cli/e2e/init.db.js
Labels: documentation :book:, web :earth_africa:

#2982 Add readability-function-cognitive-complexity
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2963 [refactor] output formatters, type hints, report types
  analyzer/codechecker_analyzer/cmd/analyzer_version.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/fixit/test_fixit.py
  codechecker_common/cmd/version.py
  codechecker_common/output/__init__.py
  codechecker_common/output/codeclimate.py
  codechecker_common/output/gerrit.py
  codechecker_common/output/json.py
  codechecker_common/output/twodim.py
  codechecker_common/plist_parser.py
  codechecker_common/report.py
  tools/codechecker_report_hash/codechecker_report_hash/hash.py
  tools/codechecker_report_hash/tests/unit/codechecker_report_hash/codechecker_report_hash_test.py
  web/Makefile
  web/client/codechecker_client/client.py
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd/store.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/product_client.py
  web/client/codechecker_client/report_type_converter.py
  web/client/codechecker_client/source_component_client.py
  web/client/codechecker_client/token_client.py
  web/client/tests/Makefile
  web/client/tests/unit/__init__.py
  web/client/tests/unit/test_report_converter.py
  web/codechecker_web/cmd/web_version.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/cmd/server.py
  web/tests/Makefile
  web/tests/functional/cli_config/test_store_config.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#2981 [report-converter] Kernel-Doc Parser
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/kerneldoc/__init__.py
  tools/report-converter/codechecker_report_converter/kerneldoc/analyzer_result.py
  tools/report-converter/codechecker_report_converter/kerneldoc/output_parser.py
  tools/report-converter/tests/unit/kerneldoc_output_test_files/files/sample.c
  tools/report-converter/tests/unit/kerneldoc_output_test_files/sample.expected.plist
  tools/report-converter/tests/unit/kerneldoc_output_test_files/sample.out
  tools/report-converter/tests/unit/test_kerneldoc_parser.py
Labels: documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2940 [gui] Show selected filter items at Review status filter
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ReviewStatusFilter.vue
Labels: GUI :art:

#2953 [gui] Expandable runs
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/e2e/init.db.js
  web/server/vue-cli/e2e/pages/history.js
  web/server/vue-cli/e2e/pages/runs.js
  web/server/vue-cli/e2e/specs/history.js
  web/server/vue-cli/e2e/specs/runs.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/DateTimePicker.vue
  web/server/vue-cli/src/components/Layout/TheHeader.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineOpenReportsDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineRunFilter.vue
  web/server/vue-cli/src/components/Run/AnalyzerStatisticsBtn.vue
  web/server/vue-cli/src/components/Run/AnalyzerStatisticsDialog.vue
  web/server/vue-cli/src/components/Run/ExpandedRun.vue
  web/server/vue-cli/src/components/Run/RunFilterToolbar.vue
  web/server/vue-cli/src/components/Run/RunNameColumn.vue
  web/server/vue-cli/src/components/Run/ShowCheckCommandBtn.vue
  web/server/vue-cli/src/components/Run/ShowStatisticsBtn.vue
  web/server/vue-cli/src/components/Run/VersionTag.vue
  web/server/vue-cli/src/components/Run/index.js
  web/server/vue-cli/src/mixins/date.mixin.js
  web/server/vue-cli/src/mixins/index.js
  web/server/vue-cli/src/router/index.js
  web/server/vue-cli/src/store/index.js
  web/server/vue-cli/src/store/modules/run.js
  web/server/vue-cli/src/store/mutations.type.js
  web/server/vue-cli/src/views/RunHistoryList.vue
  web/server/vue-cli/src/views/RunList.vue
Labels: GUI :art:, enhancement :star2:, test :ballot_box_with_check:
