Repository Ericsson/codechecker, pull requests merged in 2020-08, with the labels that each got.

#2879 [cmd] Close and join process pool
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2877 [cmd] Expand environment variables in config file
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  bin/CodeChecker.py
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  web/server/codechecker_server/cmd/server.py
  web/tests/functional/cli_config/test_store_config.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, enhancement :star2:

#2876 [cfg] New guideline rule is covered by a checker
  config/checker_guideline_map.json
Labels: config :gear:

#2867 [db] Add index for content hash column on files table
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/report/versions/2185167f8568_content_hash_index_for_files.py
Labels: database :file_cabinet:, server :desktop_computer:

#2866 [gui] Add missing releases to the new features page
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: GUI :art:

#2880 [analyzer] Clang resource dir not used in CodeChecker
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/host_check.py
  analyzer/tests/unit/test_checker_handling.py
  config/package_layout.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2855 [server] improve endpoint handling
  web/server/codechecker_server/routing.py
  web/server/codechecker_server/server.py
  web/server/tests/unit/test_request_routing.py
Labels: bugfix :hammer:, server :desktop_computer:

#2854 [test] use all the available cores to run pylint
  Makefile
  analyzer/tests/Makefile
  analyzer/tools/merge_clang_extdef_mappings/tests/Makefile
  analyzer/tools/statistics_collector/tests/Makefile
  tools/codechecker_report_hash/tests/Makefile
  tools/plist_to_html/tests/Makefile
  tools/report-converter/tests/Makefile
  tools/report-converter/tests/unit/pylint_output_test_files/Makefile
  web/tests/Makefile
Labels: enhancement :star2:

#2837 improve loading the saved build env
  analyzer/codechecker_analyzer/buildlog/build_manager.py
Labels: enhancement :star2:

#2832 [doc] fix link to the supported analyzers
  docs/README.md
Labels: bugfix :hammer:, documentation :book:

#2878 [gui] Fix setting detection date filter
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/views/RunHistoryList.vue
Labels: GUI :art:, bugfix :hammer:

#2870 [gui] Show line numbers in the report list view
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:

#2860 [server][fix] Fix disconnection product after remove
  web/server/codechecker_server/server.py
  web/tests/functional/products/test_config_db_share.py
Labels: bugfix :hammer:, server :desktop_computer:

#2863 [analyzer] Skip results with skip file on failure
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#2848 [doc] Documentation about CC_SEVERITY_MAP_FILE environment variable
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/parse.py
  docs/analyzer/user_guide.md
Labels: documentation :book:

#2874 [gui] Show filter items for detection date filter
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaseFilter.mixin.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilterIcon.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilterItems.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectOption.vue
Labels: GUI :art:, enhancement :star2:

#2842 [gui] Show source component value in tooltip
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaseSelectOptionFilter.mixin.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
Labels: GUI :art:, enhancement :star2:

#2883 [cmd] Override --config file options from command line
  analyzer/tests/functional/config/test_config.py
  bin/CodeChecker.py
Labels: CLI :computer:, enhancement :star2:, test :ballot_box_with_check:

#2887 [gui] Clear detection date selected filter items on change
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
Labels: GUI :art:, bugfix :hammer:

#2882 [analyzer] Unknown GCC flags
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#2884 [gui] Show filters in expansion panels
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BugPathLengthFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionStatusFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/Layout/FilterToolbar.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ReportHashFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectOption.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectedToolbarTitleItems.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
Labels: GUI :art:, enhancement :star2:, refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:

#2891 [cmd] Revert -MD flag skip
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: bugfix :hammer:

#2892 [gui] Allow diff and review status filters in statistics page
  web/server/vue-cli/src/views/Statistics.vue
Labels: GUI :art:

#2865 [gui] Put Reports button after Runs button in the header menu
  web/server/vue-cli/src/components/Layout/TheHeader.vue
Labels: GUI :art:, refactoring :angry: ➡️ :slightly_smiling_face:

#2893 [gui] Remove regex icon from the report filters
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/Items.vue
Labels: GUI :art:

#2871 [gui] Rename Newcheck to Compare to for better understandability
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/src/assets/userguide/userguide.md
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ComparedToDiffTypeFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ComparedToRunFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ComparedToTagFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/views/RunHistoryList.vue
  web/server/vue-cli/src/views/RunList.vue
  web/server/vue-cli/src/views/Statistics.vue
Labels: GUI :art:

#2885 [analyzer] config file option for the parse subcommand
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/config/test_config.py
  bin/CodeChecker.py
  codechecker_common/cmd_config.py
  config/codechecker.json
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/cmd/server.py
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#2894 [gui] Keepalive component states
  web/server/vue-cli/src/App.vue
  web/server/vue-cli/src/views/ProductDetail.vue
Labels: GUI :art:, enhancement :star2:

#2881 [web] Introduce new detection date filter options
  docs/web/user_guide.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/e2e/specs/history.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/DateTimePicker.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/FixDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/views/RunHistoryList.vue
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/report_viewer_api/test_report_filter.py
Labels: API change :page_facing_up:, documentation :book:, enhancement :star2:, test :ballot_box_with_check:, web :earth_africa:

#2895 [gui] Rename Also found in to Found in
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/SelectSameReport.vue
Labels: GUI :art:

#2896 [gui] Always show down arrow, that will show the other bugs with the same hash
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:

#2901 [test] Fix test when sorting reports
  web/server/vue-cli/e2e/specs/reports.js
Labels: GUI :art:, bugfix :hammer:, test :ballot_box_with_check:

#2900 [api] Increment the API version to 6.29.0 after approval
  web/api/README.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: API change :page_facing_up:

#2829 [report-converter] Support Markdownlint
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/markdownlint/__init__.py
  tools/report-converter/codechecker_report_converter/markdownlint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/markdownlint/output_parser.py
  tools/report-converter/tests/unit/mdl_output_test_files/Makefile
  tools/report-converter/tests/unit/mdl_output_test_files/files/readme.md
  tools/report-converter/tests/unit/mdl_output_test_files/readme.expected.plist
  tools/report-converter/tests/unit/mdl_output_test_files/readme.out
  tools/report-converter/tests/unit/test_mdl_parser.py
Labels: documentation :book:, enhancement :star2:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#2858 [cmd] Logging enabled checkers at the beginning of analysis
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: analyzer :chart_with_upwards_trend:
