Repository Ericsson/codechecker, pull requests merged in 2021-07, with the labels that each got.

#3253 [cmd] Parse command exits with error in case of duplicated suppress c…
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/suppress/__init__.py
  analyzer/tests/functional/suppress/duplicated_suppress.skip
  analyzer/tests/functional/suppress/suppress.expected
  analyzer/tests/functional/suppress/suppress_already_confirmed.skip
  analyzer/tests/functional/suppress/suppress_by_all.skip
  analyzer/tests/functional/suppress/suppress_by_all_in_two_lines.skip
  analyzer/tests/functional/suppress/suppress_export.skip
  analyzer/tests/functional/suppress/suppress_without_bug.skip
  analyzer/tests/functional/suppress/test_suppress.py
  analyzer/tests/functional/suppress/test_suppress_export.py
  analyzer/tests/projects/suppress/Makefile
  analyzer/tests/projects/suppress/duplicated_suppress.cpp
  analyzer/tests/projects/suppress/suppress_already_confirmed.cpp
  analyzer/tests/projects/suppress/suppress_duplicated_by_all.cpp
  analyzer/tests/projects/suppress/suppress_duplicated_in_two_lines.cpp
  analyzer/tests/projects/suppress/suppress_export.cpp
  analyzer/tests/projects/suppress/suppress_without_bug.cpp
  codechecker_common/source_code_comment_handler.py
  web/server/tests/unit/test_source_code_comment.py
  web/tests/functional/store/__init__.py
  web/tests/functional/store/test_proj/Makefile
  web/tests/functional/store/test_proj/double_suppress.cpp
  web/tests/functional/store/test_proj/double_suppress.plist
  web/tests/functional/store/test_store.py
  web/tests/functional/suppress/suppress.expected
  web/tests/functional/suppress/test_suppress_generation.py
  web/tests/projects/suppress/suppress.cpp
  web/tests/projects/suppress/suppress.expected
Labels: CLI :computer:, bugfix :hammer:

#3368 [report-converter] LeakSanitizer Parser
  docs/supported_code_analyzers.md
  docs/tools/report-converter.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/sanitizers/leak/__init__.py
  tools/report-converter/codechecker_report_converter/sanitizers/leak/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sanitizers/leak/output_parser.py
  tools/report-converter/tests/unit/lsan_output_test_files/files/lsan.c
  tools/report-converter/tests/unit/lsan_output_test_files/lsan.out
  tools/report-converter/tests/unit/lsan_output_test_files/lsan.plist
  tools/report-converter/tests/unit/test_lsan_parser.py
Labels: report-converter, tools :hammer_and_wrench:

#3319 [api] Add local package to git automatically and refactore the doc
  .gitignore
  web/api/Makefile
  web/api/README.md
Labels: documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#3374 [cli] Improve log messages for gerrit output
  codechecker_common/output/gerrit.py
Labels: CLI :computer:, usability :+1:

#3362 [gui] Fix exporting checker statistics to CSV
  web/server/vue-cli/src/mixins/to-csv.mixin.js
Labels: GUI :art:, bugfix :hammer:

#3375 [docs] Fix plist generator command for leak sanitizer
  docs/tools/report-converter.md
Labels: documentation :book:

#3366 [refactor] Usage of skip list handler is not optional anymore
  analyzer/codechecker_analyzer/cmd/parse.py
  codechecker_common/skiplist_handler.py
  web/server/codechecker_server/api/mass_store_run.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#3376 [web][NFC] Rephrase "report not found" error message
  web/server/vue-cli/src/views/ReportDetail.vue
Labels: GUI :art:, style :memo:, web :earth_africa:

#3328 [analyzer] Make parse subcommand to work with --skip option correctly
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/util.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3378 [cli] Fix gerrit output
  codechecker_common/output/gerrit.py
  codechecker_common/tests/unit/test_files/lib.cpp
  codechecker_common/tests/unit/test_files/main.cpp
  codechecker_common/tests/unit/test_gerrit_converter.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: bugfix :hammer:, test :ballot_box_with_check:
