Repository Ericsson/codechecker, pull requests merged in 2021-06, with the labels that each got.

#3338 Adding cert checkers to sensitive profile
  analyzer/tests/functional/cmdline/test_cmdline.py
  config/checker_guideline_map.json
  config/checker_profile_map.json
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3339 [server] Fix getting existing analysis info
  web/server/codechecker_server/api/mass_store_run.py
Labels: bugfix :hammer:, server :desktop_computer:

#3343 [version] Bump up version to 6.17.0
  Doxyfile.in
  analyzer/config/analyzer_version.json
  setup.py
  snap/snapcraft.yaml
  web/config/web_version.json
Labels: version :tada:

#3344 [github] Fix pypi package github action
  .github/workflows/pypi.yml
Labels: bugfix :hammer:

#3346 [refactor] Remove doxygen requirement
  Doxyfile.in
  docs/README.md
  docs/deps.md
  docs/install_macosx.md
Labels: documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#3347 [server] Unzip storage zip file to workspace directory
  web/codechecker_web/shared/webserver_context.py
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/tmp.py
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
Labels: bugfix :hammer:, server :desktop_computer:

#3351 [server] Add index for report and run history id columns
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/report/versions/a24461972d2e_add_index_for_report_and_history_id_columns.py
Labels: database :file_cabinet:, performance :runner:, server :desktop_computer:

#3352 Don't hardcode GCC in build-logger Makefile
  analyzer/tools/build-logger/Makefile.manual
Labels: tools :hammer_and_wrench:, tu_collector :page_with_curl:

#3350 Update checker_and_analyzer_configuration.md
  docs/analyzer/checker_and_analyzer_configuration.md
Labels: documentation :book:

#3349 [server] Use processes instead of threads
  docs/web/server_config.md
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
  web/server/config/server_config.json
  web/server/vue-cli/e2e/init.workspace.js
  web/tests/functional/authentication/test_authentication.py
  web/tests/functional/products/test_products.py
  web/tests/functional/ssl/test_ssl.py
  web/tests/libtest/env.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:

#3359 [docker] Web docker image hooks
  web/docker/Dockerfile
  web/docker/entrypoint.sh
  web/docker/hooks/after_build.sh
  web/docker/hooks/before_build.sh
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3360 [server] Comment date collision
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/export_import/test_export_import.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#3357 include package data files in python package.
  MANIFEST.in
Labels: bugfix :hammer:, config :gear:

#3356 Add severity to CodeClimate export
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/output/codeclimate.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#3358 [server] Log run id when storing a run
  web/server/codechecker_server/api/mass_store_run.py
Labels: server :desktop_computer:, usability :+1:

#3355 [cli] Do not print sensitive information when exception happens
  web/client/codechecker_client/thrift_call.py
Labels: CLI :computer:, bugfix :hammer:

#3361 [analyzer] Improve debug log messages
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: analyzer :chart_with_upwards_trend:, usability :+1:

#3364 [docker] Add wait-for script to the docker image
  web/docker/Dockerfile
Labels: usability :+1:

#3341 [cli] Log options in the configuration file
  codechecker_common/cli.py
  codechecker_common/cmd_config.py
Labels: CLI :computer:, usability :+1:

#3365 [docker] Change permission of helper script in docker image
  web/docker/Dockerfile
Labels: usability :+1:
