Repository Ericsson/codechecker, pull requests merged in 2021-01, with the labels that each got.

#3102 [gui] Handle missing report
  web/server/vue-cli/src/views/ReportDetail.vue
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:, usability :+1:

#3124 [gui] Handle missing report
  web/server/vue-cli/src/views/ReportDetail.vue
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:, usability :+1:

#3125 [github] Update codeowners
  CODEOWNERS
Labels: config :gear:

#3123 [server] Change review status date only if necessary
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#3126 [server] Change review status date only if necessary
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#3083 [server] Verify TLS certificate in LDAPS connections
  docs/web/authentication.md
  web/server/codechecker_server/auth/cc_ldap.py
Labels: server :desktop_computer:

#3039 [analyzer][fix] Invocation list YAML config no longer break lines
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_manager.py
  analyzer/tests/functional/ctu/test_ctu.py
  analyzer/tests/functional/ctu/test_files/complex_buildlog.json
  analyzer/tests/libtest/env.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3120 [server] Add regex_groups authentication method
  docs/web/authentication.md
  web/server/codechecker_server/session_manager.py
  web/server/config/server_config.json
  web/tests/functional/authentication/test_authentication.py
  web/tests/libtest/env.py
Labels: config :gear:, enhancement :star2:, server :desktop_computer:

#3105 [server] Print API function name in server logs
  web/server/codechecker_server/server.py
Labels: enhancement :star2:, server :desktop_computer:

#3074 [cli] Bad parameter number to _PlistParser
  codechecker_common/plist_parser.py
Labels: CLI :computer:, bugfix :hammer:, discussion :bulb:

#3115 [analyzer] Fix parse and update plist file
  codechecker_common/output/codeclimate.py
  codechecker_common/plist_parser.py
  codechecker_common/report.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/report_type_converter.py
  web/client/tests/unit/test_report_converter.py
  web/server/codechecker_server/api/report_server.py
  web/server/tests/unit/test_plist_parser.py
  web/server/tests/unit/test_report_path_hash.py
  web/server/tests/unit/test_store_handler.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3129 [client] Diff "resolved" reports of remote to local
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: bugfix :hammer:, client :trollface:

#3130 [gui] Fix checker statistics difference
  web/server/vue-cli/src/components/Statistics/Checker/CheckerStatistics.vue
Labels: GUI :art:, bugfix :hammer:

#3127 [version] Update lxml version to 4.6.2
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: version :tada:

#3067 [gui] Fix links in statistics tables
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
Labels: GUI :art:, bugfix :hammer:

#3131 [test] Add common tests to github actions and fix them
  .github/workflows/test.yml
  Makefile
  codechecker_common/requirements_py/dev/requirements.txt
  codechecker_common/tests/unit/test_gerrit_converter.py
Labels: bugfix :hammer:

#3148 [server] Log unsuccessful authentication requests
  web/server/codechecker_server/api/authentication.py
Labels: server :desktop_computer:

#2576 [report-converter] Skip incorrect CppCheck Plist files
  tools/report-converter/codechecker_report_converter/cppcheck/analyzer_result.py
Labels: analyzer :chart_with_upwards_trend:

#2243 Custom prompt for CC venvs instead of just 'venv'
  Makefile
Labels: dev env :rescue_worker_helmet:

#3051 [server] Fix multiple negative file path in source component filter
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/component/test_component.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#3029 [analyzer] Collect CTU-involved files in the report directory
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/tests/functional/ctu/test_ctu.py
  tools/tu_collector/tests/project/compile_command.json
  tools/tu_collector/tests/project/ctu.cpp
  tools/tu_collector/tests/project/zero.cpp
  tools/tu_collector/tests/project/zero.h
  tools/tu_collector/tests/tu_collector_test.py
  tools/tu_collector/tu_collector/tu_collector.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, enhancement :star2:

#3064 [debug-tools] fix prepare_analyzer_cmd.py
  scripts/debug_tools/prepare_analyzer_cmd.py
Labels: analyzer :chart_with_upwards_trend:

#3157 [CLI] Fix double clang-tidy config flags
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze/test_files/extra_args.c
  analyzer/tests/functional/analyze/test_files/extra_args.cpp
  analyzer/tests/functional/analyze/test_files/tidyargs
  docs/analyzer/user_guide.md
Labels: CLI :computer:, bugfix :hammer:

#3152 [server] Fix getting analyzer statistics for runs
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#3151 [client] Truncate arguments before logging it
  web/client/codechecker_client/thrift_call.py
Labels: CLI :computer:

#3156 [test] Fix server unit tests
  codechecker_common/plist_parser.py
  web/client/tests/Makefile
  web/server/codechecker_server/routing.py
  web/server/tests/Makefile
  web/server/tests/unit/plist_test_files/clang-3.7.plist
  web/server/tests/unit/plist_test_files/clang-3.8-trunk.plist
  web/server/tests/unit/plist_test_files/clang-4.0.plist
  web/server/tests/unit/plist_test_files/clang-5.0-trunk.plist
  web/server/tests/unit/test_plist_parser.py
  web/server/tests/unit/test_request_routing.py
  web/server/tests/unit/test_store_handler.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#3116 [cmd][api] Exporter/Importer command for CodeChecker cmd
  docs/README.md
  docs/web/user_guide.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/helpers/results.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/tests/functional/export_import/__init__.py
  web/tests/functional/export_import/test_export_import.py
Labels: enhancement :star2:, server :desktop_computer:

#3163 [api] Increment the API version to 6.38.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: version :tada:

#3165 [server] Add more info log to the store API function
  web/server/codechecker_server/api/report_server.py
Labels: server :desktop_computer:

#3154 [doc] Using details/summary in md files to show help message
  analyzer/tools/merge_clang_extdef_mappings/README.md
  analyzer/tools/statistics_collector/README.md
  docs/analyzer/user_guide.md
  docs/web/authentication.md
  docs/web/products.md
  docs/web/user_guide.md
  tools/plist_to_html/README.md
  tools/report-converter/README.md
  tools/tu_collector/README.md
Labels: documentation :book:, usability :+1:

#3167 [server] Configure keepalive
  docs/web/server_config.md
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
  web/server/config/server_config.json
Labels: server :desktop_computer:

#3144 [client] Using tags names in diff commands
  docs/web/user_guide.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/helpers/results.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: CLI :computer:, enhancement :star2:

#3147 [gui] Refactoring product overview page
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatisticsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/Overview.vue
  web/server/vue-cli/src/components/Statistics/Overview/Reports.vue
  web/server/vue-cli/src/components/Statistics/Overview/SingleLineWidget.vue
  web/server/vue-cli/src/components/TooltipHelpIcon.vue
Labels: GUI :art:, refactoring :angry: ➡️ :slightly_smiling_face:

#3054 [view] Outstanding reports char day view
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/Overview.vue
Labels: GUI :art:, enhancement :star2:

#3143 [gui] Open filters which set during page load
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/AnalyzerNameFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaseFilter.mixin.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaseSelectOptionFilter.mixin.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineOpenReportsDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineRunFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BugPathLengthFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/CheckerMessageFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/CheckerNameFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ComparedToDiffTypeFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionStatusFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/FilePathFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/Layout/FilterToolbar.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ReportHashFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ReviewStatusFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SeverityFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
Labels: GUI :art:, enhancement :star2:

#3168 [api] Increment the API version to 6.39.0 after approval
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/setup.py
  web/codechecker_web/shared/version.py
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: version :tada:

#3146 [cmd] Do not allow ctu-ast-mode in non-CTU mode
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/ctu/test_ctu.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, enhancement :star2:

#3159 [cmd] Handle duplication warning at store
  web/client/codechecker_client/cmd/store.py
Labels: CLI :computer:, bugfix :hammer:

#3145 [github] Create docker images automatically
  .github/workflows/docker.yml
Labels: config :gear:

#3166 [log] ld_logger debug logs go to report dir
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, bugfix :hammer:, ld-logger :page_with_curl:

#3094 [server] Fix quotes in system comments
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/comment/test_comment.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#3170 Update install_macosx.md
  docs/install_macosx.md
Labels: documentation :book:
