Repository Ericsson/codechecker, pull requests merged in 2021-08, with the labels that each got.

#3390 [doc] Fix broken alembic urls
  docs/web/db_schema_guide.md
Labels: documentation :book:

#3389 [web] Add 'thrift==0.13.0' dependency explicitly
  web/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: bugfix :hammer:, web :earth_africa:, dependencies :package:

#3394 [fix] Typo in thrift package name in requirement file
  web/requirements_py/osx/requirements.txt
Labels: bugfix :hammer:, dependencies :package:

#3391 [doc][fix] Pypi package
  codechecker_common/cli.py
  docs/README.md
Labels: bugfix :hammer:, documentation :book:

#3383 [server] Fix setting analysis_info_id_seq
  web/server/codechecker_server/migrations/report/versions/f8291ab1d6be_fix_setting_analysis_info_id_seq.py
Labels: database :file_cabinet:, bugfix :hammer:

#3392 [cfg] Remove the MallocOverflow checker from the sensitive profile
  config/checker_profile_map.json
Labels: clang sa :dragon:, config :gear:

#3386 [config] Add function argument-parameter checkers to the configuration
  config/checker_guideline_map.json
  config/checker_profile_map.json
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, clang-tidy :dragon:, config :gear:

#3388 [cli] Local diff workflow support
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  codechecker_common/output/baseline.py
  docs/analyzer/user_guide.md
  docs/usage.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/libtest/codechecker.py
Labels: enhancement :star2:, CLI :computer:, test :ballot_box_with_check:, documentation :book:

#3186 [analyzer] Handle clang binary without installed dir
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/clangsa/version.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_clang_version_parsing.py
  analyzer/tests/unit/test_option_parser.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:

#3203 [clang-tidy] Allow to override checker list
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
  web/tests/functional/detection_status/test_detection_status.py
Labels: analyzer :chart_with_upwards_trend:, usability :+1:

#3385 [cmd] Fix check command config file support
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/config/test_config.py
  codechecker_common/cmd_config.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3382 [server] Create columns for product details
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/database/config_db_model.py
  web/server/codechecker_server/migrations/config/env.py
  web/server/codechecker_server/migrations/config/versions/4db450cf38af_add_extra_product_detail_columns.py
  web/server/vue-cli/src/views/Products.vue
  web/tests/functional/store/test_store.py
Labels: database :file_cabinet:, test :ballot_box_with_check:, server :desktop_computer:, usability :+1:

#3411 [analyser] Build log transformer: also ignore -fno-reorder-functions
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3233 Checker label
  CONTRIBUTING.md
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/codechecker_analyzer/checkers.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/codechecker_analyzer/makefile.py
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en3.output
  analyzer/tests/functional/cmdline/test_cmdline.py
  analyzer/tests/unit/test_checker_handling.py
  analyzer/tests/unit/test_checker_labels.py
  codechecker_common/checker_labels.py
  codechecker_common/output/codeclimate.py
  codechecker_common/output/gerrit.py
  codechecker_common/tests/unit/test_gerrit_converter.py
  config/checker_guideline_map.json
  config/checker_profile_map.json
  config/checker_severity_map.json
  config/config.md
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
  config/labels/descriptions.json
  docs/analyzer/user_guide.md
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/report_type_converter.py
  web/client/tests/unit/test_report_converter.py
  web/codechecker_web/shared/webserver_context.py
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/database/db_cleanup.py
  web/server/codechecker_server/server.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
Labels: config :gear:

#3398 [web] Blame view
  web/api/js/codechecker-api-node/dist/codechecker-api-6.41.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.42.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/store.py
  web/codechecker_web/shared/version.py
  web/codechecker_web/shared/webserver_context.py
  web/config/git_commit_urls.json
  web/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/report/versions/ad2a567e513a_git_blame_info.py
  web/server/tests/unit/__init__.py
  web/server/tests/unit/test_git_commit_url.py
  web/server/vue-cli/e2e/pages/reportDetail.js
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Report/Git/GitBlame.js
  web/server/vue-cli/src/components/Report/Git/GitBlameLine.vue
  web/server/vue-cli/src/components/Report/Git/ToggleBlameViewBtn.vue
  web/server/vue-cli/src/components/Report/Report.vue
  web/tests/functional/blame/__init__.py
  web/tests/functional/blame/test_blame_info.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
Labels: GUI :art:, CLI :computer:, test :ballot_box_with_check:, server :desktop_computer:, new feature :+1:
