Repository Ericsson/codechecker, pull requests merged in 2021-12, with the labels that each got.

#3532 Include cppcoreguidelines-virtual-class-destructor in profiles
  config/labels/analyzers/clang-tidy.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3531 [config]Add bugprone-unhandled-exception-at-new to default profile.
  config/labels/analyzers/clang-tidy.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3517 Mention more details in the build instructions
  docs/README.md
Labels: documentation :book:

#3519 [doc] Documentation for parse JSON output
  docs/analyzer/user_guide.md
Labels: documentation :book:

#3524 [cli] Fix html output of CodeChecker parse
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/tests/projects/inclusion/Makefile
  tools/report-converter/tests/projects/inclusion/a.cpp
  tools/report-converter/tests/projects/inclusion/a.cpp_clang-tidy.plist
  tools/report-converter/tests/projects/inclusion/b.cpp
  tools/report-converter/tests/projects/inclusion/b.cpp_clang-tidy.plist
  tools/report-converter/tests/projects/inclusion/f.h
  tools/report-converter/tests/unit/output/html/plist_to_html_test.py
Labels: CLI :computer:, bugfix :hammer:

#3533 [cli] Improve cli store log
  codechecker_common/cli.py
  tools/report-converter/codechecker_report_converter/report/statistics.py
  web/client/codechecker_client/blame_info.py
  web/client/codechecker_client/cmd/store.py
  web/tests/Makefile
Labels: enhancement :star2:, CLI :computer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3538 [cli] Don't generate HTML files for empty plist files
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
Labels: CLI :computer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3540 [docker] Fix running docker container with existing volume
  web/docker/entrypoint.sh
Labels: bugfix :hammer:, package-docker 🐳

#3543 [docker] New build argument (`CC_REPO`) for docker image
  docs/web/docker.md
  web/docker/Dockerfile
Labels: documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:, config :gear:

#3539 [cli] Add checker documentation URLs to static HTML files
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  tools/report-converter/codechecker_report_converter/report/checker_labels.py
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/codechecker_report_converter/report/output/html/static/js/bugviewer.js
  tools/report-converter/tests/unit/output/html/plist_to_html_test.py
Labels: enhancement :star2:, CLI :computer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3534 [server] Simplify query for `Other` source component
  web/server/codechecker_server/api/report_server.py
Labels: server :desktop_computer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3545 [test] Fix non-deterministic test in plist to html
  tools/report-converter/tests/unit/output/html/plist_to_html_test.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#3544 [gui] Fix number of outstanding reports chart
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
Labels: GUI :art:, server :desktop_computer:

#3550 [req] Upgrade `python-ldap` to `3.4.0`
  web/requirements_py/auth/requirements.txt
Labels: web :earth_africa:

#3553 [req] Upgrade `lxml` to `4.7.1`
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: dependencies :package:

#3541 [doc] Added link to basic database setup
  docs/web/docker.md
Labels: documentation :book:

#3547 [fix] No rebuild on satisfied requirements
  web/Makefile
Labels: bugfix :hammer:, dev env :rescue_worker_helmet:, dependencies :package:

#3536 [cmd] Allow escaping `:` in run names with `\:`
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: enhancement :star2:, CLI :computer:

#3557 Certain Errors Fixed
  docs/README.md
Labels: documentation :book:
