Repository Ericsson/codechecker, pull requests merged in 2021-03, with the labels that each got.

#3202 [fix] Fix file path in codeclimate output
  codechecker_common/output/codeclimate.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, bugfix :hammer:

#3212 [client] Fix creating session file
  web/client/codechecker_client/credential_manager.py
Labels: CLI :computer:, bugfix :hammer:

#3215 [tools] Add type hints to codechecker report hash tool
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  tools/codechecker_report_hash/codechecker_report_hash/hash.py
  tools/codechecker_report_hash/requirements_py/dev/requirements.txt
  tools/codechecker_report_hash/tests/Makefile
  tools/codechecker_report_hash/tests/unit/codechecker_report_hash/__init__.py
  web/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, tools :hammer_and_wrench:

#3160 [report-converter] Sparse parser
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/sparse/__init__.py
  tools/report-converter/codechecker_report_converter/sparse/analyzer_result.py
  tools/report-converter/codechecker_report_converter/sparse/output_parser.py
  tools/report-converter/tests/unit/sparse_output_test_files/Makefile
  tools/report-converter/tests/unit/sparse_output_test_files/files/sample.c
  tools/report-converter/tests/unit/sparse_output_test_files/files/sample.h
  tools/report-converter/tests/unit/sparse_output_test_files/sample.c.expected.plist
  tools/report-converter/tests/unit/sparse_output_test_files/sample.h.expected.plist
  tools/report-converter/tests/unit/sparse_output_test_files/sample.out
  tools/report-converter/tests/unit/test_sparse_parser.py
Labels: documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#3204 [analyze] Fix ccache compiler detection
  analyzer/codechecker_analyzer/analyzer_context.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3194 [analyze] Handle no analyzer use cases
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3191 [client] Fix source content change error when diffing remote runs
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_remote/__init__.py
Labels: CLI :computer:, bugfix :hammer:

#3190 [gui] Use textarea at source component description
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/src/components/Report/SourceComponent/EditSourceComponentDialog.vue
Labels: usability :+1:, web :earth_africa:

#3196 [client] Handle no mandatory env var when using gerrit output
  analyzer/codechecker_analyzer/cmd/parse.py
  codechecker_common/output/gerrit.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, bugfix :hammer:

#3218 Adding severities for two new checkers
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3217 [analyzer] Remove some code duplication from CodeChecker check command
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/log.py
  analyzer/codechecker_analyzer/cmd/parse.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, documentation :book:, refactoring :angry: ➡️ :slightly_smiling_face:

#3195 [gui] Show review status selector even if status change is disabled
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/SelectReviewStatus.vue
Labels: GUI :art:, usability :+1:

#3193 [ref] Use singleton when creating context objects
  analyzer/codechecker_analyzer/analyzer_context.py
  codechecker_common/singleton.py
  web/codechecker_web/shared/webserver_context.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:, web :earth_africa:

#3192 [analyze] Fix cleanup metadata
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3211 [dep] Upgrade python requirements
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  codechecker_common/requirements_py/dev/requirements.txt
  requirements_py/docs/requirements.txt
  web/requirements.txt
  web/requirements_py/auth/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: version :tada:

#3198 [client] Handle invalid proxy settings
  web/client/codechecker_client/helpers/base.py
  web/tests/functional/cmdline/test_cmdline.py
Labels: CLI :computer:, bugfix :hammer:

#3189 [client] Handle suppression properly in diff command
  codechecker_common/report.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3222 [doc] Revise howto
  docs/examples/Makefile
  docs/examples/incl/divide.h
  docs/examples/src/divide.c
  docs/examples/src/main.c
  docs/images/static_html.png
  docs/usage.md
Labels: documentation :book:

#3234 fix run_codechecker.sh
  docs/gitlab_integration.md
Labels: bugfix :hammer:, documentation :book:

#3228 Allow make "venv" and "standalone_package" in both analyzer and web
  Makefile
  analyzer/Makefile
  web/Makefile
Labels: CI :package:, dependencies :package:, dev env :rescue_worker_helmet:, usability :+1:

#3224 [gui] Highlight row in code editor on hover event
  web/server/vue-cli/src/components/Report/Report.vue
Labels: GUI :art:, usability :+1:

#3225 [gui] Highlight report on the scrollbar
  web/server/vue-cli/src/components/Report/Report.vue
Labels: GUI :art:, usability :+1:

#3231 [analyzer] Expose --supress option to the check sub-command
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, enhancement :star2:

#3237 [report-converter][fix] Fix for the SpotBugs report converter
  tools/report-converter/codechecker_report_converter/spotbugs/output_parser.py
  tools/report-converter/tests/unit/spotbugs_output_test_files/Makefile
  tools/report-converter/tests/unit/spotbugs_output_test_files/assign.plist
  tools/report-converter/tests/unit/spotbugs_output_test_files/assign.xml
  tools/report-converter/tests/unit/spotbugs_output_test_files/files/Assign.java
Labels: bugfix :hammer:, tools :hammer_and_wrench:

#3240 [cmd] Improve error message when cmd diff fails on user input
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local/__init__.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, refactoring :angry: ➡️ :slightly_smiling_face:

#3230 [gui] Set filter properly when clicking on the diff count in the statistics page
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
  web/server/vue-cli/src/components/Statistics/Overview/ComponentSeverityStatistics/ComponentSeverityStatistics.vue
Labels: GUI :art:, bugfix :hammer:

#3246 [fix] Fix broken links of source code suppression target
  docs/analyzer/false_positives.md
  docs/usage.md
Labels: documentation :book:

#3229 [server] Fix getting analysis statistics
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#3247 [report-converter][fix] SpotBugs Report Converter Hotfix
  tools/report-converter/codechecker_report_converter/spotbugs/output_parser.py
Labels: bugfix :hammer:, tools :hammer_and_wrench:

#3238 [clang-tidy] Handle Clang Tidy aliases in plist files
  analyzer/codechecker_analyzer/analyzers/clangtidy/output_converter.py
  analyzer/tests/functional/analyze_and_parse/test_files/Makefile
  analyzer/tests/functional/analyze_and_parse/test_files/tidy_alias.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/tidy_alias.output
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3250 [test] Fix non existen report directory test
  web/tests/functional/diff_local/test_diff_local.py
Labels: bugfix :hammer:, test :ballot_box_with_check:
