Repository Ericsson/codechecker, pull requests merged in 2021-04, with the labels that each got.

#3232 [cmd] Change exit codes
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/fixit/test_fixit.py
  analyzer/tests/functional/skip/test_skip.py
  analyzer/tests/functional/suppress/test_suppress_export.py
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/source_change/test_source_change.py
  web/tests/functional/suppress/test_suppress_generation.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, WARN :warning:: Backward compatibility breaker!, analyzer :chart_with_upwards_trend:

#3249 [analyzer] Use maximum CPU resources by default during analysis
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, performance :runner:

#3248 [report-converter][cmd] Parse cpplint Output
  docs/README.md
  docs/supported_code_analyzers.md
  tools/report-converter/README.md
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/cpplint/__init__.py
  tools/report-converter/codechecker_report_converter/cpplint/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cpplint/output_parser.py
  tools/report-converter/tests/unit/cpplint_output_test_files/Makefile
  tools/report-converter/tests/unit/cpplint_output_test_files/files/sample.cpp
  tools/report-converter/tests/unit/cpplint_output_test_files/sample.expected.plist
  tools/report-converter/tests/unit/cpplint_output_test_files/sample.out
  tools/report-converter/tests/unit/test_cpplint_parser.py
Labels: documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#3255 [cmd] Missing exit status description for CodeChecker check
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, documentation :book:

#3256 Removing noisy checkers from the sei-cert guideline
  config/checker_guideline_map.json
  config/checker_profile_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3226 [tools] Add compilation database generator for Bazel
  .github/workflows/test.yml
  analyzer/Makefile
  tools/bazel/.gitignore
  tools/bazel/.noserc
  tools/bazel/.pypirc
  tools/bazel/LICENSE.txt
  tools/bazel/MANIFEST.in
  tools/bazel/Makefile
  tools/bazel/README.md
  tools/bazel/bazel_compile_commands/__init__.py
  tools/bazel/bazel_compile_commands/bazel_compile_commands.py
  tools/bazel/requirements_py/dev/requirements.txt
  tools/bazel/setup.py
  tools/bazel/tests/Makefile
  tools/bazel/tests/projects/BUILD
  tools/bazel/tests/projects/WORKSPACE
  tools/bazel/tests/projects/inc/inc.h
  tools/bazel/tests/projects/main.cc
  tools/bazel/tests/unit/__init__.py
  tools/bazel/tests/unit/test_compile_commands.py
Labels: documentation :book:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#3214 [plist2html] Add type hints
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/plist_to_html/requirements_py/dev/requirements.txt
  tools/plist_to_html/tests/Makefile
  tools/plist_to_html/tests/libtest/env.py
  tools/plist_to_html/tests/unit/plist_to_html/plist_to_html_test.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:, tools :hammer_and_wrench:

#3261 Update docker.md
  docs/web/docker.md
Labels: documentation :book:

#3262 [report-converter][fix] Fix for SpotBugs Report Conveter with Plugins
  tools/report-converter/codechecker_report_converter/spotbugs/output_parser.py
Labels: bugfix :hammer:, tools :hammer_and_wrench:

#3264 [refactor] Fix unused import
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#3266 Add altera-unroll-loops to the list of checkers
  config/checker_severity_map.json
Labels: config :gear:

#3034 [gui] Upgrade npm dependencies
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/main.js
Labels: GUI :art:, server :desktop_computer:

#3179 [gui] Allow to change the outstanding reports chart resolution
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/Overview.vue
Labels: GUI :art:, enhancement :star2:

#3243 [server] Cleanup unused data (comments, review statuses)
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/database/db_cleanup.py
  web/server/codechecker_server/server.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
Labels: server :desktop_computer:, test :ballot_box_with_check:

#3252 [req] Upgrade lxml to 4.6.3
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
Labels: version :tada:

#3263 [client] Fix storage of multiple report directory
  web/client/codechecker_client/cmd/store.py
  web/tests/functional/store/__init__.py
  web/tests/functional/store/test_proj/Makefile
  web/tests/functional/store/test_proj/project_info.json
  web/tests/functional/store/test_store.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3265 [web] Get CodeChecker API version automatically in webpack
  docs/web/api/README.md
  web/server/vue-cli/config/webpack.common.js
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, web :earth_africa:

#3278 [test] Performance test improvement
  scripts/test/run_server_performance_test.py
Labels: enhancement :star2:, test :ballot_box_with_check:

#3280 delete duplicate line
  docs/architecture.md
Labels: documentation :book:

#3268 [web] Move generated API stubs to the repo
  .gitignore
  web/Makefile
  web/api/Makefile
  web/api/README.md
  web/api/change-api-version.sh
  web/api/js/codechecker-api-js/.gitignore
  web/api/js/codechecker-api-js/LICENSE
  web/api/js/codechecker-api-js/README.md
  web/api/js/codechecker-api-js/package.json
  web/api/js/codechecker-api-node/dist/codechecker-api-6.39.0.tgz
  web/api/py/codechecker_api/.gitignore
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/.gitignore
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/requirements.txt
  web/requirements_py/db_pg8000/requirements.txt
  web/requirements_py/db_psycopg2/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/vue-cli/.eslintignore
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, web :earth_africa:

#3284 [githubaction] Fix bazel installation
  .github/workflows/test.yml
Labels: config :gear:, version :tada:

#3283 [test] Compile test project with c++11 explicitly
  web/tests/projects/cpp/Makefile
Labels: bugfix :hammer:, test :ballot_box_with_check:

#3285 [server] Fix failed files uniqueing on the statistics page
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
Labels: bugfix :hammer:, server :desktop_computer:, test :ballot_box_with_check:

#3282 [server] Workaround for SQLite limitation in severity change
  codechecker_common/util.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/database/db_cleanup.py
Labels: bugfix :hammer:, server :desktop_computer:

#3287 [script] Fix performance local compare test message
  scripts/test/run_server_performance_test.py
Labels: bugfix :hammer:

#3288 [fix] Local API package installation
  Makefile
  snap/snapcraft.yaml
  web/docker/Dockerfile
Labels: bugfix :hammer:

#3292 [fix] PostgreSQL database backend setup guide README link
  docs/README.md
Labels: bugfix :hammer:, documentation :book:

#3289 [fix] Server performance test script
  scripts/test/run_server_performance_test.py
Labels: bugfix :hammer:

#3298 Add semicolon to web Makefile
  web/Makefile
Labels: bugfix :hammer:

#3295 [doc] Add note for snap package usage
  docs/README.md
Labels: documentation :book:
