Repository Ericsson/codechecker, pull requests merged in 2021-05, with the labels that each got.

#3291 [refactor] Use Python3 enums
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3251 [package] pypi package support
  .github/workflows/pypi.yml
  .gitignore
  Makefile
  analyzer/Makefile
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/codechecker_analyzer/makefile.py
  bin/CodeChecker
  codechecker_common/cli.py
  codechecker_common/logger.py
  scripts/build/create_commands.py
  scripts/gerrit_changed_files_to_skipfile.py
  setup.py
  tests/functional/binary_package/__init__.py
  tests/functional/binary_package/test_binary_package.py
  web/Makefile
  web/client/codechecker_client/cmd/store.py
  web/codechecker_web/shared/webserver_context.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/cmd/server.py
  web/server/codechecker_server/instance_manager.py
  web/server/codechecker_server/migrations/__init__.py
  web/server/codechecker_server/migrations/report/__init__.py
  web/server/codechecker_server/migrations/report/versions/2185167f8568_content_hash_index_for_files.py
  web/server/codechecker_server/migrations/report/versions/__init__.py
  web/server/codechecker_server/server.py
  web/server/vue-cli/e2e/specs/runs.js
  web/tests/Makefile
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:

#3281 [web] Fix multiple report dir storage
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  web/client/codechecker_client/cmd/store.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/metadata.py
  web/server/tests/unit/test_metadata_parser.py
  web/server/vue-cli/src/components/Run/AnalyzerStatisticsDialog.vue
  web/server/vue-cli/src/components/Run/CheckCommandBtn.vue
  web/server/vue-cli/src/components/Run/CheckCommandDialog.vue
  web/server/vue-cli/src/components/Run/ExpandedRun.vue
  web/server/vue-cli/src/components/Run/RunNameColumn.vue
  web/server/vue-cli/src/components/Run/index.js
  web/server/vue-cli/src/views/RunList.vue
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
  web/tests/functional/store/test_store.py
  web/tests/libtest/codechecker.py
Labels: CLI :computer:, GUI :art:, server :desktop_computer:, test :ballot_box_with_check:, web :earth_africa:

#3300 [web][test] Ignore errors when removing workspace directories
  web/tests/functional/cli_config/__init__.py
  web/tests/functional/cmdline/__init__.py
  web/tests/functional/component/__init__.py
  web/tests/functional/cppcheck/__init__.py
  web/tests/functional/db_cleanup/__init__.py
  web/tests/functional/delete_runs/__init__.py
  web/tests/functional/detection_status/__init__.py
  web/tests/functional/diff_local/__init__.py
  web/tests/functional/diff_local_remote/__init__.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/export_import/__init__.py
  web/tests/functional/extended_report_data/__init__.py
  web/tests/functional/func_template/template__init__.py
  web/tests/functional/instance_manager/__init__.py
  web/tests/functional/products/__init__.py
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/review_status/__init__.py
  web/tests/functional/run_tag/__init__.py
  web/tests/functional/server_configuration/__init__.py
  web/tests/functional/skip/__init__.py
  web/tests/functional/source_change/__init__.py
  web/tests/functional/statistics/__init__.py
  web/tests/functional/store/__init__.py
  web/tests/functional/suppress/__init__.py
  web/tests/functional/update/__init__.py
Labels: test :ballot_box_with_check:, web :earth_africa:

#3279 [server] Permission checking compares auth. names in case insensitive…
  web/server/codechecker_server/permissions.py
  web/server/vue-cli/src/components/Product/Permission/BaseProductPermission.vue
  web/tests/functional/authentication/__init__.py
  web/tests/functional/authentication/test_permission_management.py
Labels: server :desktop_computer:

#3259 [analyzer] Relative include paths to --sysroot
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3307 [test] Refactor process runner function
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  analyzer/tests/functional/ctu/test_ctu.py
  analyzer/tests/functional/ctu_failure/test_ctu_failure.py
  analyzer/tests/libtest/codechecker.py
Labels: analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#3310 Enable the build logger fix for CR and LF by default
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
  analyzer/tools/build-logger/test/test_logger.sh
Labels: ld-logger :page_with_curl:, refactoring :angry: ➡️ :slightly_smiling_face:

#3270 [report-converter] Use codechecker_report_hash module
  tools/report-converter/Makefile
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/cppcheck/analyzer_result.py
  tools/report-converter/codechecker_report_converter/report.py
  tools/report-converter/setup.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, tools :hammer_and_wrench:

#3297 [analyzer] Handle getting options for old analyzer version
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3302 Fix Report-Converter Page on readthedocs
  docs/README.md
  docs/supported_code_analyzers.md
  docs/tools/bazel.md
  docs/tools/codechecker_report_hash.md
  docs/tools/plist_to_html.md
  docs/tools/report-converter.md
  docs/tools/tu_collector.md
  tools/bazel/setup.py
  tools/codechecker_report_hash/setup.py
  tools/plist_to_html/setup.py
  tools/report-converter/setup.py
  tools/tu_collector/setup.py
Labels: documentation :book:

#3290 [refactor] Use python3 new style classes
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/clangsa/version.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/output_converter.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/codechecker_analyzer/makefile.py
  analyzer/codechecker_analyzer/suppress_handler.py
  analyzer/tests/unit/test_checker_handling.py
  analyzer/tests/unit/test_option_parser.py
  analyzer/tools/statistics_collector/codechecker_statistics_collector/collectors/return_value.py
  analyzer/tools/statistics_collector/codechecker_statistics_collector/collectors/special_return_value.py
  codechecker_common/logger.py
  codechecker_common/plist_parser.py
  codechecker_common/report.py
  codechecker_common/skiplist_handler.py
  codechecker_common/source_code_comment_handler.py
  scripts/debug_tools/failure_lib.py
  scripts/debug_tools/prepare_analyzer_cmd.py
  scripts/test/run_server_performance_test.py
  tools/plist_to_html/plist_to_html/PlistToHtml.py
  tools/report-converter/codechecker_report_converter/analyzer_result.py
  tools/report-converter/codechecker_report_converter/output_parser.py
  tools/report-converter/codechecker_report_converter/plist_converter.py
  web/client/codechecker_client/credential_manager.py
  web/client/codechecker_client/helpers/base.py
  web/codechecker_web/shared/webserver_context.py
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/api/config_handler.py
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/server_info_handler.py
  web/server/codechecker_server/auth/cc_ldap.py
  web/server/codechecker_server/database/database.py
  web/server/codechecker_server/permissions.py
  web/server/codechecker_server/profiler.py
  web/server/codechecker_server/server.py
  web/server/codechecker_server/session_manager.py
  web/server/codechecker_server/tmp.py
  web/tests/libtest/thrift_client_to_db.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3301 [pypi] Github action to publish pypi images automatically
  .github/workflows/pypi.yml
  setup.py
Labels: CI :package:

#3305 [ldlogger] Fix warnings
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
Labels: ld-logger :page_with_curl:, refactoring :angry: ➡️ :slightly_smiling_face:

#3317 [fix] Installing codechecker_report_hash module for report-converter
  tools/report-converter/Makefile
Labels: bugfix :hammer:

#3314 enable cyclic-import and consider-iterating-dictionary checks
  .pylintrc
  analyzer/tools/merge_clang_extdef_mappings/.pylintrc
  analyzer/tools/statistics_collector/.pylintrc
  tools/codechecker_report_hash/.pylintrc
  tools/report-converter/.pylintrc
  tools/tu_collector/.pylintrc
Labels: config :gear:

#3315 [githubaction] add coverage for unit tests
  .github/workflows/test.yml
  Makefile
  analyzer/requirements_py/dev/requirements.txt
  analyzer/tests/Makefile
  codechecker_common/requirements_py/dev/requirements.txt
  codechecker_common/tests/unit/Makefile
  web/client/tests/Makefile
  web/requirements_py/dev/requirements.txt
  web/server/tests/Makefile
  web/tests/Makefile
Labels: dev env :rescue_worker_helmet:

#3325 [script] Use logging module at performance measure script
  scripts/test/run_server_performance_test.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3316 [server] Faster query for reports
  web/server/codechecker_server/api/report_server.py
Labels: database :file_cabinet:, enhancement :star2:, performance :runner:, refactoring :angry: ➡️ :slightly_smiling_face:, server :desktop_computer:

#3329 [test] Ignore errors when removing directories
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
  web/tests/functional/store/test_store.py
  web/tests/libtest/env.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3327 [plist2html] Scrollable sidebar
  tools/plist_to_html/plist_to_html/static/css/style.css
Labels: bugfix :hammer:, plist2html :earth_asia:

#3324 [analyzer] Generate reproducer
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#3330 [web] Add documentation link to the bug report
  web/server/vue-cli/src/components/CheckerDocumentationDialog.vue
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportInfo/ShowReportInfoDialog.vue
  web/server/vue-cli/src/components/Report/ReportStepMessage.vue
  web/server/vue-cli/src/components/Report/ShowDocumentationButton.vue
  web/server/vue-cli/src/components/Report/index.js
  web/server/vue-cli/src/views/Reports.vue
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:, web :earth_africa:

#3331 [analyzer] Fix yaml dumper
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_manager.py
  analyzer/tests/functional/ctu/test_ctu.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:

#3333 [version] Upgrade pylint and pycodestyle
  analyzer/requirements_py/dev/requirements.txt
  tools/bazel/requirements_py/dev/requirements.txt
  tools/codechecker_report_hash/requirements_py/dev/requirements.txt
  tools/plist_to_html/requirements_py/dev/requirements.txt
  tools/report-converter/requirements_py/dev/requirements.txt
  tools/tu_collector/requirements_py/dev/requirements.txt
  web/requirements_py/dev/requirements.txt
Labels: version :tada:

#3334 [tu_collector] Fix running tu_collector test target
  analyzer/tests/Makefile
Labels: bugfix :hammer:

#3320 [web] Add analyzer commands for reports
  web/api/Makefile
  web/api/js/codechecker-api-node/dist/codechecker-api-6.39.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.40.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/store.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/store_handler.py
  web/server/codechecker_server/database/db_cleanup.py
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/config/env.py
  web/server/codechecker_server/migrations/report/env.py
  web/server/codechecker_server/migrations/report/versions/dabc6998b8f0_analysis_info_table.py
  web/server/tests/unit/test_collect_path_events.py
  web/server/vue-cli/e2e/pages/runs.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/AnalysisInfoDialog.vue
  web/server/vue-cli/src/components/Report/AnalysisInfoBtn.vue
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Run/AnalysisInfoBtn.vue
  web/server/vue-cli/src/components/Run/ExpandedRun.vue
  web/server/vue-cli/src/components/Run/RunNameColumn.vue
  web/server/vue-cli/src/components/Run/index.js
  web/server/vue-cli/src/components/index.js
  web/server/vue-cli/src/views/RunList.vue
  web/tests/functional/store/test_store.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, test :ballot_box_with_check:, web :earth_africa:

#3336 [web] Remove analysis info migration for reports
  web/server/codechecker_server/migrations/report/versions/dabc6998b8f0_analysis_info_table.py
Labels: bugfix :hammer:, server :desktop_computer:

#3337 Add the severity for 3 new checkers
  config/checker_severity_map.json
Labels: analyzer :chart_with_upwards_trend:, config :gear:

#3313 [analyzer] Set parse subcommand exit code to 2 when any report exist.
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/skipall.txt
  tests/functional/binary_package/test_binary_package.py
Labels: analyzer :chart_with_upwards_trend:, bugfix :hammer:
