Repository Ericsson/codechecker, pull requests merged in 2022-08, with the labels that each got.

#3704 Document misc-confusable-identifiers & modernize-macro-to-enum
  config/labels/analyzers/clang-tidy.json
Labels: clang-tidy :dragon:, config :gear:

#3709 [config] Add alpha.unix.Errno to 'extreme' profile
  config/labels/analyzers/clangsa.json
Labels: clang sa :dragon:, config :gear:

#3702 [doc] Clang-tidy doc URLs changed
  config/labels/analyzers/clang-tidy.json
Labels: documentation :book:, clang-tidy :dragon:

#3674 [CLI] Allow Unix shell-style wildcards in --trim-path-prefix
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/parse.py
  docs/analyzer/user_guide.md
  docs/web/user_guide.md
  tools/report-converter/codechecker_report_converter/util.py
  tools/report-converter/tests/unit/util/test_trim_path_prefix.py
  web/client/codechecker_client/cmd/store.py
Labels: enhancement :star2:, CLI :computer:

#3713 [bugfix] Review status count error fix
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/report_viewer_api/test_report_counting.py
Labels: database :file_cabinet:, bugfix :hammer:, server :desktop_computer:

#3512 [doc] remove dead links in README.md
  docs/README.md
  docs/tools/report-converter.md
Labels: bugfix :hammer:, documentation :book:

#3706 [bugfix] Headers with same name in different dirs
  tools/report-converter/codechecker_report_converter/report/hash.py
  tools/report-converter/tests/unit/parser/plist/test_report_path_hash.py
  tools/report-converter/tests/unit/report_hash/codechecker_report_hash_test.py
  web/tests/functional/store/test_proj/same_headers/lib1/header.h
  web/tests/functional/store/test_proj/same_headers/lib2/header.h
  web/tests/functional/store/test_proj/same_headers/same_headers1.cpp
  web/tests/functional/store/test_proj/same_headers/same_headers2.cpp
  web/tests/functional/store/test_proj/same_headers/same_headers3.cpp
  web/tests/functional/store/test_store.py
Labels: bugfix :hammer:, server :desktop_computer:

#3714 [config] Document `bugprone-assignment-in-if-condition` and `misc-const-correctness`
  config/labels/analyzers/clang-tidy.json
Labels: clang-tidy :dragon:, config :gear:

#3680 [analyzer] Cppcheck support
  .github/workflows/install-deps.sh
  .github/workflows/pypi.yml
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/__init__.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/config_handler.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/result_handler.py
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/host_check.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/Makefile
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_args.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_args.noforward.output
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_args.output
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_multiple.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_multiple_error.output
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_multiple_warning.output
  analyzer/tests/functional/ctu_failure/test_ctu_failure.py
  config/labels/analyzers/cppcheck.json
  config/package_layout.json
  docs/README.md
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/user_guide.md
  docs/supported_code_analyzers.md
  tools/report-converter/codechecker_report_converter/analyzers/cppcheck/analyzer_result.py
  tools/report-converter/tests/unit/analyzers/cppcheck_output_test_files/divide_zero.expected.plist
  web/tests/functional/comment/__init__.py
  web/tests/functional/component/__init__.py
  web/tests/functional/db_cleanup/__init__.py
  web/tests/functional/delete_runs/__init__.py
  web/tests/functional/detection_status/__init__.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff_local/__init__.py
  web/tests/functional/diff_local_remote/__init__.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/extended_report_data/__init__.py
  web/tests/functional/func_template/template__init__.py
  web/tests/functional/instance_manager/__init__.py
  web/tests/functional/products/__init__.py
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/review_status/__init__.py
  web/tests/functional/run_tag/__init__.py
  web/tests/functional/server_configuration/__init__.py
  web/tests/functional/skip/__init__.py
  web/tests/functional/source_change/__init__.py
  web/tests/functional/ssl/__init__.py
  web/tests/functional/statistics/__init__.py
  web/tests/functional/storage_of_analysis_statistics/__init__.py
  web/tests/functional/suppress/__init__.py
  web/tests/functional/update/__init__.py
  web/tests/libtest/codechecker.py
Labels: enhancement :star2:, analyzer :chart_with_upwards_trend:, cppcheck 🐞

#3717 [feat] Find by files anywhere on bugpath
  web/api/js/codechecker-api-node/dist/codechecker-api-6.50.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.51.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/FilePathFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/AnywhereOnReportPath.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectOption.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
  web/tests/functional/component/test_component.py
Labels: enhancement :star2:, GUI :art:, new feature :+1:

#3726 [fix] File filter count for files with 0 reports
  web/server/codechecker_server/api/report_server.py
Labels: GUI :art:, bugfix :hammer:, server :desktop_computer:

#3727 [CI][analyzer] Run coverage check for Cppcheck checkers
  .github/workflows/config_coverage.yml
Labels: CI :package:, analyzer :chart_with_upwards_trend:, cppcheck 🐞
