Repository Ericsson/codechecker, pull requests merged in 2022-10, with the labels that each got.

#3743 [cfg] Allow for release candidate status to be also specified
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/config/analyzer_version.json
  analyzer/tests/functional/analyze/test_analyze.py
  scripts/build/extend_version_file.py
  web/codechecker_web/shared/webserver_context.py
  web/config/web_version.json
Labels: config :gear:, version :tada:

#3761 [test] Update to Ubuntu 20.04 in tests
  .github/workflows/install-deps.sh
  .github/workflows/test.yml
Labels: test :ballot_box_with_check:

#3760 [fix] Fix chunks function not working on certain iterables
  codechecker_common/util.py
Labels: bugfix :hammer:

#3753 report output html: replace in var data=… </script> with &lt;/script&gt; to produce valid HTML
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/codechecker_report_converter/report/output/html/static/js/bugviewer.js
Labels: GUI :art:, bugfix :hammer:

#3773 Add -Xclang to test_host_check.py
  analyzer/tests/functional/host_check/test_host_check.py
Labels: bug :bug:, test :ballot_box_with_check:

#3765 [report-converter] Support Roslynator
  docs/README.md
  docs/supported_code_analyzers.md
  docs/tools/report-converter.md
  tools/report-converter/codechecker_report_converter/analyzers/roslynator/__init__.py
  tools/report-converter/codechecker_report_converter/analyzers/roslynator/analyzer_result.py
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/Makefile
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/Sample.cs.expected.plist
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/files/.gitignore
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/files/Sample.cs
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/files/files.csproj
  tools/report-converter/tests/unit/analyzers/roslynator_output_test_files/out.xml
  tools/report-converter/tests/unit/analyzers/test_roslynator_parser.py
Labels: tools :hammer_and_wrench:, other-analyzer :speech_balloon:, report-converter

#3772 [analyzer][doc] Mention that Z3 as the constraint solver is highly unstable
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/user_guide.md
Labels: documentation :book:, analyzer :chart_with_upwards_trend:, clang sa :dragon:

#3778 [analyzer][cfg] Don't acknowledge apiModeling checkers
  config/labels/analyzers/clangsa.json
Labels: analyzer :chart_with_upwards_trend:, clang sa :dragon:, config :gear:

#3768 [feat] Comment lines in skipfile
  analyzer/tests/unit/test_log_parser.py
  codechecker_common/skiplist_handler.py
  docs/analyzer/user_guide.md
Labels: analyzer :chart_with_upwards_trend:, new feature :+1:

#3763 [doc] Refurbish several parts of the `README`
  docs/README.md
  docs/images/github-actions.png
Labels: enhancement :star2:, documentation :book:

#3776 Typos a/an
  .pylintrc
  analyzer/tools/build-logger/.pylintrc
  analyzer/tools/build-logger/src/ldlogger-logger.c
  analyzer/tools/merge_clang_extdef_mappings/.pylintrc
  analyzer/tools/statistics_collector/.pylintrc
  codechecker_common/checker_labels.py
  docs/web/user_guide.md
  tools/report-converter/.pylintrc
  tools/report-converter/codechecker_report_converter/analyzers/infer/analyzer_result.py
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/tu_collector/.pylintrc
  web/server/codechecker_server/cmd/server.py
  web/tests/functional/component/test_component.py
Labels: enhancement :star2:, documentation :book:
