Repository Ericsson/codechecker, pull requests merged in 2022-01, with the labels that each got.

#3549 [server][gui] Escape values for v-html attributes
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/comment/test_comment.py
  web/tests/functional/export_import/test_export_import.py
  web/tests/functional/store/test_store.py
Labels: GUI :art:, test :ballot_box_with_check:, server :desktop_computer:

#3559 [cli] Fix skipping reports
  analyzer/tests/functional/skip/test_skip.py
  tools/report-converter/codechecker_report_converter/report/__init__.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3572 [cli] Fix link in gerrit output
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  tools/report-converter/codechecker_report_converter/report/output/gerrit.py
  tools/report-converter/tests/unit/output/gerrit/test_gerrit_converter.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3570 [html] Fix static HTML report files
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
Labels: GUI :art:, bugfix :hammer:

#3576 [web] Fix storage of control points
  tools/report-converter/codechecker_report_converter/report/parser/plist.py
  tools/report-converter/tests/unit/analyzers/cppcheck_output_test_files/divide_zero.expected.plist
  tools/report-converter/tests/unit/analyzers/infer_output_test_files/NullDereference.java.plist
  tools/report-converter/tests/unit/analyzers/spotbugs_output_test_files/assign.plist
  tools/report-converter/tests/unit/analyzers/tidy_output_test_files/tidy2.plist
  tools/report-converter/tests/unit/analyzers/tidy_output_test_files/tidy3_hh.plist
  tools/report-converter/tests/unit/analyzers/tsan_output_test_files/tsan.plist
  web/tests/functional/report_viewer_api/test_get_run_results.py
Labels: CLI :computer:, bugfix :hammer:, server :desktop_computer:, web :earth_africa:

#3563 [server] Fix suppressing bug on the server
  web/server/codechecker_server/api/mass_store_run.py
  web/tests/functional/review_status/review_status_files/divide_zero.cpp
  web/tests/functional/review_status/review_status_files/divide_zero.plist
Labels: bugfix :hammer:, server :desktop_computer:

#3568 [cli] Fix source line / file for remote reports
  tools/report-converter/codechecker_report_converter/report/__init__.py
  tools/report-converter/codechecker_report_converter/report/output/plaintext.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/report_type_converter.py
  web/client/tests/unit/test_report_converter.py
  web/tests/functional/diff_remote/__init__.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3579 [cfg] Remove bugprone-easily-swappable-parameters from sensitive profile
  config/labels/analyzers/clang-tidy.json
Labels: clang-tidy :dragon:, config :gear:

#3558 [cli] Fix JSON format of `CodeChecker version` subcommand
  analyzer/codechecker_analyzer/cmd/analyzer_version.py
  codechecker_common/cmd/version.py
  docs/web/user_guide.md
  web/codechecker_web/cmd/web_version.py
Labels: CLI :computer:, WARN :warning:: Backward compatibility breaker!, refactoring :angry: ➡️ :slightly_smiling_face:

#3555 [cli] Add `print-steps` option to `CodeChecker cmd diff`
  docs/web/user_guide.md
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/report_type_converter.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: enhancement :star2:, CLI :computer:, test :ballot_box_with_check:, documentation :book:

#3573 [analyzer] Print info message about logger tool
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_error.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_error_disabled.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_no_warn.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple2.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wunused.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_clangsa.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clangsa.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/diagnostic_message_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/diagnostic_message_hash_clangsa.output
  analyzer/tests/functional/analyze_and_parse/test_files/filename_collision.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en1.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en2.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.en3.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error.steps.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_skipped.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_skipped_in_cmd.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_cstyle.output
  analyzer/tests/functional/analyze_and_parse/test_files/multi_error_suppress_typo.output
  analyzer/tests/functional/analyze_and_parse/test_files/nofail.output
  analyzer/tests/functional/analyze_and_parse/test_files/nofail.steps.output
  analyzer/tests/functional/analyze_and_parse/test_files/saargs_forward.noforward.output
  analyzer/tests/functional/analyze_and_parse/test_files/saargs_forward.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple1.deduplication.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple1.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple1.steps.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple2.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple2.steps.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_all.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_all_empty_filter.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_confirmed.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_false_positive.output
  analyzer/tests/functional/analyze_and_parse/test_files/tidy_alias.output
  analyzer/tests/functional/analyze_and_parse/test_files/tidy_check.output
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3578 [fix] Quote command line segment using shlex
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/libtest/codechecker.py
  analyzer/tests/unit/logparser_test_files/ldlogger response.rsp
  analyzer/tests/unit/logparser_test_files/ldlogger-new-at.json
  analyzer/tests/unit/logparser_test_files/ldlogger-new-response.json
  analyzer/tests/unit/logparser_test_files/ldlogger-new-space.json
  analyzer/tests/unit/logparser_test_files/ldlogger-new.json
  analyzer/tests/unit/test_log_parser.py
Labels: bugfix :hammer:, test :ballot_box_with_check:, analyzer :chart_with_upwards_trend:

#3581 [server] Upgrade npm packages
  .github/workflows/pypi.yml
  .github/workflows/test.yml
  snap/snapcraft.yaml
  web/docker/Dockerfile
  web/server/codechecker_server/api/product_server.py
  web/server/vue-cli/.eslintrc.js
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/config/webpack.dev.js
  web/server/vue-cli/config/webpack.prod.js
  web/server/vue-cli/e2e/pages/product.js
  web/server/vue-cli/e2e/pages/report.js
  web/server/vue-cli/e2e/pages/reportDetail.js
  web/server/vue-cli/e2e/pages/runs.js
  web/server/vue-cli/e2e/specs/products.js
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/e2e/specs/runs.js
  web/server/vue-cli/nightwatch.conf.js
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/ConfirmDialog.vue
  web/server/vue-cli/src/components/Report/Comment/NewComment.vue
  web/server/vue-cli/src/components/Report/Comment/ReportComments.vue
  web/server/vue-cli/src/components/Report/Git/GitBlame.js
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaselineRunFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/DetectionDateFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/components/Report/ReportInfo/ShowReportInfoDialog.vue
  web/server/vue-cli/src/components/Report/SelectReviewStatus.vue
  web/server/vue-cli/src/views/ReportDetail.vue
  web/server/vue-cli/src/views/Userguide.vue
Labels: server :desktop_computer:, version :tada:

#3586 [doc] Update required node version in the documentation
  docs/README.md
Labels: documentation :book:
