Repository Ericsson/codechecker, pull requests merged in 2022-05, with the labels that each got.

#3367 [CI] Add a job that checks coverage of checker labelling
  .github/workflows/config_coverage.yml
  .github/workflows/config_label_check.py
Labels: enhancement :star2:, CI :package:, analyzer :chart_with_upwards_trend:, config :gear:

#3655 [config][CLI] Merge, and don't override when multiple --analyzer-configs are specified
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/arg.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/config/test_config.py
Labels: API change :page_facing_up:, CLI :computer:, bugfix :hammer:, analyzer :chart_with_upwards_trend:, config :gear:

#3653 Fix ctu extdef mapping file with space problem
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_manager.py
  analyzer/tools/merge_clang_extdef_mappings/codechecker_merge_clang_extdef_mappings/merge_clang_extdef_mappings.py
Labels: bugfix :hammer:, clang sa :dragon:

#3580 [feat] Review status belongs to report
  docs/web/user_guide.md
  web/api/js/codechecker-api-node/dist/codechecker-api-6.48.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.50.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/client/codechecker_client/cmd/cmd.py
  web/client/codechecker_client/cmd_line_client.py
  web/client/codechecker_client/helpers/results.py
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/database/run_db_model.py
  web/server/codechecker_server/migrations/report/versions/75ae226b5d88_review_status_for_each_report.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/UniqueFilter.vue
  web/server/vue-cli/src/components/Report/SelectReviewStatus.vue
  web/server/vue-cli/src/components/Report/SelectSameReport.vue
  web/server/vue-cli/src/components/Report/SelectSameReportItem.vue
  web/server/vue-cli/src/components/ReviewStatus/RemoveReviewStatusRuleDialog.vue
  web/server/vue-cli/src/components/Statistics/Checker/CheckerStatistics.vue
  web/server/vue-cli/src/components/Statistics/Component/ComponentStatistics.vue
  web/server/vue-cli/src/components/Statistics/Overview/OutstandingReportsChart.vue
  web/server/vue-cli/src/components/Statistics/Overview/Reports.vue
  web/server/vue-cli/src/components/Statistics/Severity/SeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/StatisticsHelper.js
  web/server/vue-cli/src/components/Statistics/UniqueStatWarning.vue
  web/server/vue-cli/src/components/Statistics/index.js
  web/server/vue-cli/src/views/Reports.vue
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
  web/tests/functional/diff_local_remote_suppress/__init__.py
  web/tests/functional/diff_local_remote_suppress/test_diff_local_remote_suppress.py
  web/tests/functional/diff_local_remote_suppress/test_diff_local_remote_suppress_rule.py
  web/tests/functional/review_status/test_review_status.py
  web/tests/functional/suppress/test_suppress_generation.py
  web/tests/projects/cpp/divide_zero.cpp
  web/tests/projects/cpp/project_info.json
  web/tests/projects/suppress/project_info.json
  web/tests/projects/suppress/suppress.cpp
Labels: enhancement :star2:, server :desktop_computer:
