Repository Ericsson/codechecker, pull requests merged in 2022-07, with the labels that each got.

#3696 [doc] Updating docs about diff command.
  docs/usage.md
  web/server/vue-cli/src/assets/userguide/userguide.md
Labels: documentation :book:

#3659 [log] Improve some debug log
  analyzer/codechecker_analyzer/pre_analysis_manager.py
Labels: enhancement :star2:

#3711 Add a report-converter symlink to the dev_package target
  Makefile
Labels: enhancement :star2:, CLI :computer:, report-converter

#3698 [CLI] Don't ignore compiler warnings, even if clangtidy:take-config-from-directory=true is specified
  analyzer/.noserc
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/tests/unit/test_checker_handling.py
Labels: CLI :computer:, bugfix :hammer:, config :gear:
