Repository Ericsson/codechecker, pull requests merged in 2022-11, with the labels that each got.

#3781 [analyzer] Change the log level to debug when overwriting plist files
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: analyzer :chart_with_upwards_trend:, usability :+1:

#3783 [gui] Set "anywhere on path" in URL
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/BaseSelectOptionFilter.mixin.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/FilePathFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/AnywhereOnReportPath.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SourceComponentFilter.vue
Labels: GUI :art:

#3685 [bugfix] Crash with intercept-build based compilation database
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/tests/functional/skip/test_skip.py
Labels: CLI :computer:, bugfix :hammer:, analyzer :chart_with_upwards_trend:, tu_collector :page_with_curl:

#3775 [db] Garbage collection of analysis_info timeout
  web/server/codechecker_server/database/db_cleanup.py
Labels: enhancement :star2:, database :file_cabinet:, bugfix :hammer:

#3786 [analyzer] Ignore flag '-mword-relocations'
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:

#3754 [fix] Apply all fixits
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/cmd/fixit.py
  analyzer/tests/functional/fixit/test_fixit.py
Labels: bugfix :hammer:, clang-tidy :dragon:

#3791 [test] Fix fixit test
  analyzer/tests/functional/fixit/test_fixit.py
Labels: test :ballot_box_with_check:

#3787 [version] Bump version to 6.22.0
  analyzer/config/analyzer_version.json
  setup.py
  snap/snapcraft.yaml
  web/config/web_version.json
Labels: version :tada:
