Repository Ericsson/codechecker, pull requests merged in 2022-02, with the labels that each got.

#3153 [test] Port LD-logger tests to python
  .github/workflows/test.yml
  analyzer/Makefile
  analyzer/tests/Makefile
  analyzer/tools/build-logger/.noserc
  analyzer/tools/build-logger/.pylintrc
  analyzer/tools/build-logger/Makefile
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/requirements_py/dev/requirements.txt
  analyzer/tools/build-logger/test/test_logger.sh
  analyzer/tools/build-logger/tests/Makefile
  analyzer/tools/build-logger/tests/unit/__init__.py
  analyzer/tools/build-logger/tests/unit/test_escaping.py
  analyzer/tools/build-logger/tests/unit/test_paths.py
Labels: test :ballot_box_with_check:

#3589 [fix] Fix ldlogger escaping a bunch of characters
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/tests/unit/test_escaping.py
Labels: bugfix :hammer:, test :ballot_box_with_check:, ld-logger :page_with_curl:

#3590 [refactor][style] fix compile warnings, missing return statements, etc.
  analyzer/tools/build-logger/src/ldlogger-tool-gcc.c
  analyzer/tools/build-logger/src/ldlogger-util.c
  analyzer/tools/build-logger/src/ldlogger-util.h
Labels: refactoring :angry: ➡️ :slightly_smiling_face:, ld-logger :page_with_curl:

#3591 [docker] Upgrade python version to 3.9.7 in docker image
  web/docker/Dockerfile
Labels: version :tada:

#3585 [doc] Mention CodeChecker vscode extension in the docs
  docs/README.md
  docs/images/vscode.gif
  docs/images/vscode.png
Labels: documentation :book:

#3588 Avoid plist filenames being the same
  docs/tools/report-converter.md
  tools/report-converter/codechecker_report_converter/analyzers/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/tests/functional/cmdline/test_cmdline.py
  tools/report-converter/tests/functional/cmdline/test_files/Makefile
  tools/report-converter/tests/functional/cmdline/test_files/files/b/simple.go
  tools/report-converter/tests/functional/cmdline/test_files/simple.out
  tools/report-converter/tests/unit/analyzers/test_asan_parser.py
  tools/report-converter/tests/unit/analyzers/test_clang_tidy_parser.py
  tools/report-converter/tests/unit/analyzers/test_coccinelle_parser.py
  tools/report-converter/tests/unit/analyzers/test_cppcheck_parser.py
  tools/report-converter/tests/unit/analyzers/test_cpplint_parser.py
  tools/report-converter/tests/unit/analyzers/test_eslint_parser.py
  tools/report-converter/tests/unit/analyzers/test_golint_parser.py
  tools/report-converter/tests/unit/analyzers/test_infer_parser.py
  tools/report-converter/tests/unit/analyzers/test_kerneldoc_parser.py
  tools/report-converter/tests/unit/analyzers/test_lsan_parser.py
  tools/report-converter/tests/unit/analyzers/test_mdl_parser.py
  tools/report-converter/tests/unit/analyzers/test_msan_parser.py
  tools/report-converter/tests/unit/analyzers/test_pyflakes_parser.py
  tools/report-converter/tests/unit/analyzers/test_pylint_parser.py
  tools/report-converter/tests/unit/analyzers/test_smatch_parser.py
  tools/report-converter/tests/unit/analyzers/test_sparse_parser.py
  tools/report-converter/tests/unit/analyzers/test_sphinx_parser.py
  tools/report-converter/tests/unit/analyzers/test_spotbugs_parser.py
  tools/report-converter/tests/unit/analyzers/test_tsan_parser.py
  tools/report-converter/tests/unit/analyzers/test_tslint_parser.py
  tools/report-converter/tests/unit/analyzers/test_ubsan_parser.py
Labels: bugfix :hammer:, tools :hammer_and_wrench:

#3597 [doc] Update documentation with multiple source code comments in the same line
  docs/analyzer/user_guide.md
Labels: documentation :book:

#3599 [doc] Highlight that user must be logged in before token generation
  docs/web/authentication.md
Labels: documentation :book:

#3592 Add readability-duplicate-include severity
  config/labels/analyzers/clang-tidy.json
Labels: config :gear:

#3603 [analyze] Proper exit code for CodeChecker check in case of exception
  analyzer/codechecker_analyzer/cmd/check.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:

#3600 [fix] Fix HTML generation for CodeChecker cmd diff command
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: CLI :computer:, bugfix :hammer:, test :ballot_box_with_check:

#3605 Prefer ldlogger over intercept-build
  analyzer/codechecker_analyzer/buildlog/build_manager.py
  analyzer/codechecker_analyzer/buildlog/host_check.py
  analyzer/codechecker_analyzer/cmd/log.py
Labels: ld-logger :page_with_curl:

#3598 [analyzer] Proper handling of multi-target build
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/unit/test_option_parser.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:

#3323 Not allowing disabling modeling checkers in ClangSA
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/ctu_failure/test_ctu_failure.py
  analyzer/tests/projects/ctu_failure/ctu_failure.saargs
  analyzer/tests/projects/ctu_failure_with_headers/ctu_failure.saargs
  docs/analyzer/checker_and_analyzer_configuration.md
Labels: WARN :warning:: Backward compatibility breaker!, analyzer :chart_with_upwards_trend:, config :gear:
