Repository Ericsson/codechecker, pull requests merged in 2022-09, with the labels that each got.

#3732 [gui] Minor label improvements in the GUI
  web/server/vue-cli/src/components/Statistics/Checker/CheckerStatistics.vue
  web/server/vue-cli/src/components/Statistics/Component/ComponentStatistics.vue
  web/server/vue-cli/src/components/Statistics/Overview/Overview.vue
  web/server/vue-cli/src/components/Statistics/Severity/SeverityStatistics.vue
  web/server/vue-cli/src/components/Statistics/UniqueStatWarning.vue
Labels: GUI :art:

#3738 [feat] Add inconclusive analyzer option to Cppcheck
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
Labels: enhancement :star2:, analyzer :chart_with_upwards_trend:, cppcheck 🐞

#3740 [feat] Add dummy js import
  web/server/vue-cli/config/webpack.common.js
  web/server/vue-cli/src/index.html
  web/server/vue-cli/src/static.js
Labels: web :earth_africa:

#3737 [fix] Fix compiler params with space for Cppcheck
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/tests/functional/analyze_and_parse/test_files/Makefile
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_include.cpp
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_include.output
  analyzer/tests/functional/analyze_and_parse/test_files/cppcheck_undef_include.output
  analyzer/tests/functional/analyze_and_parse/test_files/includes/simple.h
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:, cppcheck 🐞

#3731 [bugfix] Invalid SQL query when filter for file and source component.
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/report_viewer_api/test_report_counting.py
Labels: bugfix :hammer:, server :desktop_computer:

#3735 [bugfix] Fix system include path order
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/tests/functional/ctu/test_ctu.py
  analyzer/tests/functional/ctu/test_files/buildlog.json
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:

#3741 [analyzer] Tests for Cppcheck standard handling
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
Labels: test :ballot_box_with_check:, analyzer :chart_with_upwards_trend:

#3745 Bump version to 6.21.0
  analyzer/config/analyzer_version.json
  setup.py
  snap/snapcraft.yaml
  web/config/web_version.json
Labels: version :tada:

#3746 [bugfix] Old client has different behavior with new server
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/server.py
Labels: bugfix :hammer:, server :desktop_computer:

#3747 [bugfix] Different behavior of diff when run tags are provided
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:

#3749 [bugfix] Don't update review status date
  web/server/codechecker_server/api/mass_store_run.py
  web/tests/functional/review_status/test_review_status.py
Labels: bugfix :hammer:
