Repository Ericsson/codechecker, pull requests merged in 2023-02, with the labels that each got.

#3822 [cmd] Remove --tidy-config flag
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, clang-tidy :dragon:, config :gear:

#3815 Multiroot
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/arg.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/compilation_database.py
  analyzer/tests/unit/test_compilation_database.py
  codechecker_common/util.py
  docs/analyzer/user_guide.md
  docs/usage.md
Labels: enhancement :star2:, CLI :computer:, analyzer :chart_with_upwards_trend:

#3837 [tests] Change subprocess.call to subprocess.Popen
  web/tests/libtest/codechecker.py
Labels: test :ballot_box_with_check:, usability :+1:

#3838 [fix] Fix a condition about checkers being compiler warnings
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/tests/unit/test_checker_handling.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/libtest/codechecker.py
Labels: bugfix :hammer:

#3820 [analyzer] Promote the missing checker warning to an error
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
  web/tests/functional/diff_local/test_diff_local.py
Labels: CLI :computer:, WARN :warning:: Backward compatibility breaker!, analyzer :chart_with_upwards_trend:, usability :+1:

#3840 [web] Fix stale permission caching
  web/server/vue-cli/src/App.vue
Labels: GUI :art:, bugfix :hammer:, web :earth_africa:

#3845 [docs] Reword what labels, guidelines, checkers mean, and their enabling
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  docs/analyzer/user_guide.md
Labels: documentation :book:
