Repository Ericsson/codechecker, pull requests merged in 2023-04, with the labels that each got.

#3871 [doc] Add a chapter about dynamic analysis to the docs
  docs/analyzer/user_guide.md
Labels: documentation :book:

#3875 [doc] Add 6.22.0 new features in GUI
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: documentation :book:, web :earth_africa:

#3866 [analyzer] Add a new flag to demote missing checker errors to a warning
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:

#3870 Dynamic results annotation filter
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/TestcaseFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/views/Reports.vue
  web/tests/functional/component/test_component.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/dynamic_results/test_dynamic_results.py
  web/tests/functional/extended_report_data/test_extended_report_data.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
  web/tests/functional/report_viewer_api/test_hash_clash.py
  web/tests/functional/report_viewer_api/test_remove_run_results.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/functional/run_tag/test_run_tag.py
  web/tests/libtest/thrift_client_to_db.py
  web/tests/projects/dynamic/main.c_clang-tidy_0212cbc2c7194b7a5d431a18ff51bb1c.plist
  web/tests/projects/dynamic/main.c_clangsa_0212cbc2c7194b7a5d431a18ff51bb1c.plist
  web/tests/projects/dynamic/main.c_cppcheck_0212cbc2c7194b7a5d431a18ff51bb1c.plist
Labels: enhancement :star2:, GUI :art:, server :desktop_computer:, web :earth_africa:

#3825 [server] Add store time logging
  analyzer/tests/functional/analyze/test_analyze.py
  codechecker_common/logger.py
  config/logger.conf
  web/server/codechecker_server/api/mass_store_run.py
  web/server/codechecker_server/cmd/server.py
Labels: server :desktop_computer:

#3878 Fix version printing
  analyzer/codechecker_analyzer/analyzer_context.py
  web/codechecker_web/shared/webserver_context.py
Labels: bugfix :hammer:

#3874 [fix] Treat clang-diagnostic-* checkers as compiler flags
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_simple.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_group.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple1.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wno_simple2.output
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_wunused.output
  analyzer/tests/unit/test_checker_handling.py
  web/tests/functional/report_viewer_api/test_get_run_results.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/projects/cpp/project_info.json
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:, clang-tidy :dragon:, deprecate :hourglass_flowing_sand:

#3881 [fix] package-lock.json update due to vuetify version change
  web/server/vue-cli/package-lock.json
Labels: config :gear:

#3882 [doc] Make every second release highlight green
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: GUI :art:

#3887 [fix][server] Fix webapp crash when using component filter
  web/server/codechecker_server/api/report_server.py
Labels: WIP :bomb:, bugfix :hammer:, server :desktop_computer:

#3894 [test] Get rid of mockldap
  .github/workflows/test.yml
  web/requirements_py/dev/requirements.txt
  web/server/tests/unit/test_ccldap.py
Labels: dependencies :package:

#3893 [version] Bump up to version 6.23.0
  analyzer/config/analyzer_version.json
  setup.py
  snap/snapcraft.yaml
  web/config/web_version.json
Labels: version :tada:

#3895 [bugfix] Fix the zombie process issue
  analyzer/codechecker_analyzer/analysis_manager.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:
