Repository Ericsson/codechecker, pull requests merged in 2023-12, with the labels that each got.

#4108 Clang-tidy arch parameter pass fix
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
Labels: bugfix :hammer:, clang-tidy :dragon:

#4097 [gcc][docs] Elaborote on the configuration a bit more
  docs/analyzer/checker_and_analyzer_configuration.md
Labels: documentation :book:, gcc :water_buffalo:

#4109 [analyzer][clang][debug] Fix prepare_analyzer_cmd default configuration
  scripts/debug_tools/prepare_all_cmd_for_ctu.py
  scripts/debug_tools/prepare_analyzer_cmd.py
Labels: bugfix :hammer:, dev env :rescue_worker_helmet:, analyzer :chart_with_upwards_trend:, clang sa :dragon:

#4099 [fix] fix venv_dev and multiprocess lib usage
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  codechecker_common/requirements_py/dev/requirements.txt
  tools/bazel/requirements_py/dev/requirements.txt
  tools/report-converter/codechecker_report_converter/report/checker_labels.py
  tools/report-converter/codechecker_report_converter/report/reports.py
  tools/report-converter/requirements_py/dev/requirements.txt
  tools/tu_collector/requirements_py/dev/requirements.txt
  web/requirements.txt
  web/requirements_py/dev/requirements.txt
  web/requirements_py/osx/requirements.txt
  web/server/codechecker_server/server.py
  web/tests/functional/authentication/__init__.py
  web/tests/functional/cli_config/test_server_config.py
  web/tests/functional/db_cleanup/test_db_cleanup.py
  web/tests/functional/instance_manager/test_instances.py
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/ssl/test_ssl.py
  web/tests/functional/storage_of_analysis_statistics/test_storage_of_analysis_statistics.py
  web/tests/libtest/codechecker.py
Labels: bugfix :hammer:, config :gear:, dependencies :package:

#4111 Eliminate should skip
  codechecker_common/skiplist_handler.py
  tools/report-converter/codechecker_report_converter/report/__init__.py
Labels: refactoring 😡 ➡️ 🙂

#4105 [GUI] Update report sidebar structure and add review status reactivity
  web/server/vue-cli/e2e/pages/reportDetail.js
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportTree/ReportTree.vue
  web/server/vue-cli/src/components/Report/ReportTree/ReportTreeIcon.vue
  web/server/vue-cli/src/components/Report/ReportTree/ReportTreeLabel.vue
  web/server/vue-cli/src/components/Report/ReportTree/ReportTreeRootItem.js
  web/server/vue-cli/src/views/ReportDetail.vue
Labels: GUI :art:, bugfix :hammer:, web :earth_africa:

#4122 [fix] Fix a minor formatting issue
  codechecker_common/util.py
Labels: bugfix :hammer:

#4113 [cfg] Add a config file to change review statuses
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/result_handler.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/result_handler.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/result_handler.py
  analyzer/codechecker_analyzer/analyzers/gcc/result_handler.py
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/parse.py
  analyzer/tests/functional/analyze_and_parse/test_files/Makefile
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status1.yaml
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status1_glob.yaml
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status1_hash.yaml
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status_file.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status_file_glob.output
  analyzer/tests/functional/analyze_and_parse/test_files/simple1_review_status_file_hash.output
  analyzer/tests/functional/analyze_and_parse/test_files/test_dir/simple1.cpp
  analyzer/tests/unit/review_status_config.py
  codechecker_common/review_status_handler.py
  docs/analyzer/user_guide.md
Labels: enhancement :star2:, CLI :computer:, analyzer :chart_with_upwards_trend:, config :gear:

#4127 [fix] Fixing OFF and UNAVAILABLE detectionStatus in the report sidebar
  web/server/vue-cli/src/components/Report/ReportTree/ReportTree.vue
  web/server/vue-cli/src/components/Report/ReportTree/ReportTreeIcon.vue
Labels: GUI :art:, bugfix :hammer:

#4131 Fix remote server path resolution
  codechecker_common/review_status_handler.py
Labels: CLI :computer:, bugfix :hammer:
