Repository Ericsson/codechecker, pull requests merged in 2023-09, with the labels that each got.

#3971 [config] Add some checkers to "default" profile
  config/labels/analyzers/clang-tidy.json
Labels: config :gear:

#3972 [bugfix] Allow the disabling of statisticsbased checkers
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/tests/unit/test_checker_handling.py
Labels: CLI :computer:, bugfix :hammer:

#4001 [bugfix] Make None assignments to be initializations, not overwrites
  web/client/codechecker_client/cmd_line_client.py
Labels: bugfix :hammer:

#3949 Eliminate "unknown" checker state
  analyzer/codechecker_analyzer/analysis_manager.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/config_handler.py
  analyzer/codechecker_analyzer/analyzers/result_handler_base.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze_and_parse/test_files/compiler_warning_default_checker_priority.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_free_hash_v2_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/context_sensitive_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/diagnostic_message_hash_clang_tidy.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_all.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_all_empty_filter.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_confirmed.output
  analyzer/tests/functional/analyze_and_parse/test_files/source_code_comments_false_positive.output
  analyzer/tests/functional/analyze_and_parse/test_files/tidy_check.output
  analyzer/tests/unit/test_checker_handling.py
  config/labels/analyzers/clang-tidy.json
  web/tests/functional/component/test_component.py
  web/tests/functional/detection_status/test_detection_status.py
  web/tests/functional/diff_local/test_diff_local.py
  web/tests/functional/report_viewer_api/__init__.py
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/functional/report_viewer_api/test_report_filter.py
  web/tests/functional/source_change/test_source_change.py
Labels: enhancement :star2:, CLI :computer:, analyzer :chart_with_upwards_trend:, clang sa :dragon:, clang-tidy :dragon:, cppcheck 🐞

#3970 [bugfix] Don't trigger analyzer without enabled checkers
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, bugfix :hammer:, analyzer :chart_with_upwards_trend:

#3974 [GUI] Jump directly to documentation url without error modal
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/src/components/Report/Report.vue
  web/server/vue-cli/src/components/Report/ReportStepMessage.vue
Labels: GUI :art:, test :ballot_box_with_check:, documentation :book:

#3995 [fix] Refine when a report is regarded as outstanding for tags
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/diff_cmdline/test_diff_cmdline.py
  web/tests/functional/diff_remote/test_diff_remote.py
Labels: bugfix :hammer:, server :desktop_computer:

#3712 [db] Eliminating duplicate key constraint violations
  web/server/codechecker_server/api/mass_store_run.py
Labels: database :file_cabinet:, bugfix :hammer:

#3996 [diff] Fix a CLI remote-remote bug where we checked the detection status
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_cmdline/test_diff_cmdline.py
Labels: CLI :computer:, bugfix :hammer:

#4010 [QoL] Add config folder contents to the dev_package target
  Makefile
Labels: enhancement :star2:, usability :+1:, config :gear:

#4012 replace os.uname() with platform.uname() for Windows support
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/tests/unit/test_log_parser.py
  analyzer/tools/build-logger/tests/unit/__init__.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:, platform-windows 🖥

#4014 [GUI] Unnecessary reports columns
  web/server/vue-cli/src/views/Reports.vue
Labels: GUI :art:, usability :+1:, style :memo:

#4023 Fix typo in log
  tools/report-converter/codechecker_report_converter/report/hash.py
Labels: tools :hammer_and_wrench:, report-converter 🔄

#4000 Parse file speed up
  analyzer/codechecker_analyzer/cmd/parse.py
Labels: CLI :computer:, performance :runner:
