Repository Ericsson/codechecker, pull requests merged in 2023-05, with the labels that each got.

#3888 6.22.1 highlights
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: documentation :book:, version :tada:

#3890 [GUI] Add a tooltip about Diff
  web/server/vue-cli/src/components/Run/RunFilterToolbar.vue
Labels: enhancement :star2:, GUI :art:

#3863 [NFC] Factor args out of the diff logic for unit tests
  web/client/codechecker_client/cmd_line_client.py
Labels: refactoring :angry: ➡️ :slightly_smiling_face:

#3911 [fix] One more attempt to fix gui tests
  web/server/vue-cli/e2e/commands/clearAndSetValue.js
  web/server/vue-cli/e2e/pages/product.js
  web/server/vue-cli/e2e/specs/reportDetail.js
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/e2e/specs/reviewStatusRule.js
  web/server/vue-cli/e2e/specs/runs.js
Labels: GUI :art:, bugfix :hammer:, test :ballot_box_with_check:

#3841 Bump GitPython version
  web/requirements.txt
  web/requirements_py/dev/requirements.txt
Labels: version :tada:

#3912 [ci] Remove pypi actions from pullrequest and push events.
  .github/workflows/pypi.yml
Labels: CI :package:

#3913 [analyzer] Yet another unknown gcc flag
  analyzer/codechecker_analyzer/buildlog/log_parser.py
Labels: analyzer :chart_with_upwards_trend:

#3902 [analyzer] Disable cppcheck-preprocessorErrorDirective explicitly
  config/labels/analyzers/cppcheck.json
Labels: config :gear:, cppcheck 🐞

#3891 Update Snapstore publish action
  .github/workflows/snap.yml
Labels: bugfix :hammer:, CI :package:

#3920 [fix] Fix newly surfaced gui test error during cleanup plan testing
  web/server/vue-cli/e2e/specs/reports.js
Labels: GUI :art:, bugfix :hammer:, test :ballot_box_with_check:

#3915 [cmd] Warning message on no run delete.
  web/api/report_server.thrift
  web/client/codechecker_client/cmd_line_client.py
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/report_viewer_api/test_remove_run_results.py
Labels: enhancement :star2:, CLI :computer:

#3824 [refactor] Reducing analyzer config handler
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/clang_options.py
  analyzer/codechecker_analyzer/analyzers/clangsa/config_handler.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_autodetection.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/checkers.py
  analyzer/codechecker_analyzer/makefile.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:, refactoring :angry: ➡️ :slightly_smiling_face:

#3914 [analyzer] Fix crash when an assembler command is analyzed
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/unit/test_option_parser.py
Labels: CLI :computer:, analyzer :chart_with_upwards_trend:
