Repository Ericsson/codechecker, pull requests merged in 2023-07, with the labels that each got.

#3948 [GUI] Pop the call stack when the message starts with "Returning;"
  web/server/vue-cli/src/components/Report/ReportTree/ReportDetailFormatter.js
Labels: GUI :art:

#3927 [feat] Exclude dynamic parts of checker message in hash generation
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/parser.py
  tools/report-converter/codechecker_report_converter/report/__init__.py
  tools/report-converter/codechecker_report_converter/report/hash.py
  tools/report-converter/tests/unit/analyzers/asan_output_test_files/asan.plist
  tools/report-converter/tests/unit/analyzers/tsan_output_test_files/tsan.plist
Labels: report-converter

#3943 [fix] Analysis shouldn't fail on non-existing directory
  analyzer/codechecker_analyzer/pre_analysis_manager.py
  analyzer/tests/functional/ctu/test_ctu.py
Labels: bugfix :hammer:

#3868 [test] Add missing tests for cmdline diffing, and display a bug for tag diffs
  web/server/codechecker_server/api/mass_store_run.py
  web/tests/functional/__init__.py
  web/tests/functional/diff_cmdline/__init__.py
  web/tests/functional/diff_cmdline/test_diff_cmdline.py
Labels: test :ballot_box_with_check:

#3944 Fix local local diff src code suppression
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_cmdline/test_diff_cmdline.py
Labels: CLI :computer:, bugfix :hammer:

#3955 [GUI] Feature highlights in 6.22.0 in the GUI
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: GUI :art:

#3956 [cmd] Fix FP annotations in the case of local-remote diffs
  web/client/codechecker_client/cmd_line_client.py
  web/tests/functional/diff_cmdline/test_diff_cmdline.py
Labels: CLI :computer:, bugfix :hammer:
