Repository Ericsson/codechecker, pull requests merged in 2023-06, with the labels that each got.

#3930 [ldlogger] Recognize linux_spawn alongside exec* calls
  analyzer/tools/build-logger/src/ldlogger-hooks.c
Labels: ld-logger :page_with_curl:

#3919 [analyzer] Use absolute path to logger.so in LD_PRELOAD
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/env.py
  analyzer/tests/unit/test_log_parser.py
  analyzer/tools/build-logger/README.md
  analyzer/tools/build-logger/tests/unit/__init__.py
  analyzer/tools/build-logger/tests/unit/test_paths.py
Labels: tools :hammer_and_wrench:, ld-logger :page_with_curl:, config :gear:

#3933 [test][NFC] Remove every remaining trace of nose in favor of pytest
  .github/workflows/pypi.yml
  codechecker_common/requirements_py/dev/requirements.txt
  codechecker_common/tests/.noserc
  codechecker_common/tests/Makefile
  docs/tests.md
  tests/functional/binary_package/test_binary_package.py
Labels: test :ballot_box_with_check:, CI :package:, dependencies :package:

#3897 [report-converter] Enable multiple input for report-converter
  tools/report-converter/codechecker_report_converter/analyzers/analyzer_result.py
  tools/report-converter/codechecker_report_converter/cli.py
  tools/report-converter/codechecker_report_converter/report/parser/plist.py
  tools/report-converter/tests/functional/cmdline/test_cmdline.py
  tools/report-converter/tests/functional/cmdline/test_files/test_outputs/simple1.out
  tools/report-converter/tests/functional/cmdline/test_files/test_outputs/subdir/simple2.out
  tools/report-converter/tests/functional/cmdline/test_files/test_outputs/subdir/simple3.out
  tools/report-converter/tests/unit/analyzers/test_asan_parser.py
  tools/report-converter/tests/unit/analyzers/test_clang_tidy_parser.py
  tools/report-converter/tests/unit/analyzers/test_coccinelle_parser.py
  tools/report-converter/tests/unit/analyzers/test_cppcheck_parser.py
  tools/report-converter/tests/unit/analyzers/test_cpplint_parser.py
  tools/report-converter/tests/unit/analyzers/test_eslint_parser.py
  tools/report-converter/tests/unit/analyzers/test_golint_parser.py
  tools/report-converter/tests/unit/analyzers/test_infer_parser.py
  tools/report-converter/tests/unit/analyzers/test_kerneldoc_parser.py
  tools/report-converter/tests/unit/analyzers/test_lsan_parser.py
  tools/report-converter/tests/unit/analyzers/test_mdl_parser.py
  tools/report-converter/tests/unit/analyzers/test_msan_parser.py
  tools/report-converter/tests/unit/analyzers/test_pyflakes_parser.py
  tools/report-converter/tests/unit/analyzers/test_pylint_parser.py
  tools/report-converter/tests/unit/analyzers/test_roslynator_parser.py
  tools/report-converter/tests/unit/analyzers/test_smatch_parser.py
  tools/report-converter/tests/unit/analyzers/test_sparse_parser.py
  tools/report-converter/tests/unit/analyzers/test_sphinx_parser.py
  tools/report-converter/tests/unit/analyzers/test_spotbugs_parser.py
  tools/report-converter/tests/unit/analyzers/test_tsan_parser.py
  tools/report-converter/tests/unit/analyzers/test_tslint_parser.py
  tools/report-converter/tests/unit/analyzers/test_ubsan_parser.py
Labels: enhancement :star2:, report-converter

#3942 [env] Upgrade PyYAML to version 6.0
  analyzer/requirements.txt
  analyzer/requirements_py/dev/requirements.txt
  analyzer/requirements_py/osx/requirements.txt
  codechecker_common/requirements_py/dev/requirements.txt
  web/requirements.txt
Labels: config :gear:, dependencies :package:

#3935 [test] Allow additional pytest args to be given through make targets
  analyzer/tests/Makefile
  analyzer/tools/build-logger/tests/Makefile
  analyzer/tools/merge_clang_extdef_mappings/tests/Makefile
  analyzer/tools/statistics_collector/tests/Makefile
  docs/tests.md
  tools/bazel/tests/Makefile
  tools/report-converter/tests/Makefile
  tools/tu_collector/tests/Makefile
  web/tests/Makefile
Labels: test :ballot_box_with_check:

#3904 Introduce sanitizer checker names
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/address/parser.py
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/parser.py
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/ub/parser.py
  tools/report-converter/tests/unit/analyzers/ubsan_output_test_files/ubsan1.plist
  tools/report-converter/tests/unit/analyzers/ubsan_output_test_files/ubsan2.plist
Labels: report-converter
