Repository Ericsson/codechecker, pull requests merged in 2024-02, with the labels that each got.

#4162 [fix] Eliminate unnecessary error logging
  codechecker_common/review_status_handler.py
Labels: bugfix :hammer:, server :desktop_computer:

#4155 [fix] Cppcheck premium version check
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/tests/unit/test_cppcheck_version_parsing.py
Labels: bugfix :hammer:, cppcheck 🐞

#4159 Fix Broken Links In Documentation
  docs/analyzer/user_guide.md
  tools/report-converter/tests/unit/parser/sarif/sarif_test_files/3-Beyond-basics/standard-taxonomy.sarif
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: bugfix :hammer:, documentation :book:
