Repository Ericsson/codechecker, pull requests merged in 2024-05, with the labels that each got.

#4146 [fix] Pass `envp` to `posix_spawn` in `ld_logger`
  analyzer/tools/build-logger/src/ldlogger-hooks.c
  analyzer/tools/build-logger/tests/unit/makefile_test_proj/Makefile
  analyzer/tools/build-logger/tests/unit/makefile_test_proj/dir/Makefile
  analyzer/tools/build-logger/tests/unit/makefile_test_proj/dir/main.c
  analyzer/tools/build-logger/tests/unit/test_paths.py
Labels: bugfix :hammer:, tools :hammer_and_wrench:, ld-logger :page_with_curl:

#4231 chore(ci): Disable failing and dangerous PyPI publishing job
  .github/workflows/pypi.yml
Labels: CI :package:, package-Python 🐍

#4239 Updating clangsa sei cert mapping for clang 18
  analyzer/tests/functional/cmdline/test_cmdline.py
  config/labels/analyzers/clangsa.json
  web/tests/functional/report_viewer_api/test_get_run_results.py
Labels: analyzer :chart_with_upwards_trend:, clang sa :dragon:, config :gear:

#4224 chore(config): Add automatically generated `doc_url`s and `severity`s
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
  config/labels/analyzers/cppcheck.json
  config/labels/analyzers/gcc.json
  config/labels/analyzers/mdl.json
  config/labels/analyzers/pylint.json
  web/tests/functional/report_viewer_api/test_report_counting.py
  web/tests/projects/cpp/project_info.json
Labels: enhancement :star2:, usability :+1:, clang sa :dragon:, clang-tidy :dragon:, config :gear:, other-analyzer :speech_balloon:, cppcheck 🐞

#4236 [fix] Links in static HTML files should be relative
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/tests/unit/output/html/plist_to_html_test.py
Labels: bugfix :hammer:, tools :hammer_and_wrench:, plist2html :earth_asia:, report-converter 🔄

#4235 chore(config): [clang-tidy] Update SEI-CERT Guideline mappings
  analyzer/tests/functional/cmdline/test_cmdline.py
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
Labels: analyzer :chart_with_upwards_trend:, clang-tidy :dragon:, config :gear:

#4241 Fix a crash where config handlers were built with missing binaries
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:

#4237 [fix] Creating new temporary directory for zip files
  web/client/codechecker_client/cmd/store.py
Labels: CLI :computer:, bugfix :hammer:, performance :runner:

#4243 [config] Adding sei-cert rule mappings for clang diagnostics
  analyzer/tests/functional/cmdline/test_cmdline.py
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
Labels: enhancement :star2:, clang-tidy :dragon:, config :gear:

#4227 Always pass absolute paths to skip handler
  analyzer/codechecker_analyzer/buildlog/build_action.py
  analyzer/codechecker_analyzer/buildlog/log_parser.py
  analyzer/tests/functional/skip/test_skip.py
  analyzer/tests/unit/test_option_parser.py
Labels: analyzer :chart_with_upwards_trend:

#4246 [config] Minor updates of the clangsa, clang-tidy profiles
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
Labels: clang sa :dragon:, clang-tidy :dragon:, config :gear:

#4103 [analyze] Removing long enabled checker list at info log level
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: analyzer :chart_with_upwards_trend:, usability :+1:

#4244 Showing closed reports
  web/api/js/codechecker-api-node/dist/codechecker-api-6.57.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.58.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/codechecker_server/api/thrift_enum_helper.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Icons/ReportStatusIcon.vue
  web/server/vue-cli/src/components/Icons/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/ReportStatusFilter.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/SelectOption/SelectOption.vue
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/index.js
  web/server/vue-cli/src/components/Report/ReportFilter/ReportFilter.vue
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
  web/server/vue-cli/src/mixins/index.js
  web/server/vue-cli/src/mixins/report-status.mixin.js
Labels: API change :page_facing_up:, GUI :art:, new feature :+1:
