Repository Ericsson/codechecker, pull requests merged in 2024-01, with the labels that each got.

#4143 [report-converter][fix] Don't crash when we can't find the checker name for ubsan
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/ub/parser.py
  tools/report-converter/tests/unit/analyzers/test_ubsan_parser.py
  tools/report-converter/tests/unit/analyzers/ubsan_output_test_files/ubsan1_nonmatching_msg.out
  tools/report-converter/tests/unit/analyzers/ubsan_output_test_files/ubsan1_nonmatching_msg.plist
Labels: bugfix :hammer:, report-converter 🔄

#4006 [docs] Rewrite the docs for diff
  docs/web/diff.md
  docs/web/user_guide.md
  web/server/vue-cli/src/assets/userguide/userguide.md
Labels: documentation :book:

#4153 Update usage.md: fix typo
  docs/usage.md
Labels: documentation :book:

#4147 [report-converter] Allow for empty strings in sanitizer error msgs
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/address/parser.py
  tools/report-converter/codechecker_report_converter/analyzers/sanitizers/ub/parser.py
  tools/report-converter/tests/unit/analyzers/asan_output_test_files/asan.plist
  tools/report-converter/tests/unit/analyzers/test_asan_parser.py
  tools/report-converter/tests/unit/analyzers/test_ubsan_parser.py
Labels: report-converter 🔄
