Repository Ericsson/codechecker, pull requests merged in 2024-11, with the labels that each got.

#4380 [feat] Adding report annotation for json export
  tools/report-converter/codechecker_report_converter/report/__init__.py
Labels: usability :+1:, new feature :+1:

#4382 [test] Fix test with new clang version
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: test :ballot_box_with_check:

#4384 [feat] Unique reports by different annotations
  tools/report-converter/codechecker_report_converter/report/hash.py
  web/tests/functional/dynamic_results/test_dynamic_results.py
  web/tests/projects/dynamic/main.c_clang-tidy_0212cbc2c7194b7a5d431a18ff51bb1c.plist
Labels: enhancement :star2:

#4359 [fix] Cppcheck unknown C/C++ standard
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/tests/functional/analyze/test_analyze.py
  codechecker_common/util.py
Labels: CLI :computer:, bugfix :hammer:, cppcheck 🐞

#4316 Automatic addition of database before connecting to it
  web/server/codechecker_server/api/product_server.py
  web/server/codechecker_server/server.py
  web/server/vue-cli/src/views/NewFeatures.vue
  web/tests/functional/products/test_config_db_share.py
  web/tests/functional/products/test_products.py
  web/tests/functional/store/test_store.py
  web/tests/libtest/codechecker.py
Labels: enhancement :star2:
