Repository Ericsson/codechecker, pull requests merged in 2024-04, with the labels that each got.

#4152 [store] Unique reports _before_ storing
  tools/report-converter/codechecker_report_converter/report/hash.py
  tools/report-converter/codechecker_report_converter/report/parser/plist.py
  web/client/codechecker_client/cmd/store.py
  web/tests/functional/component/test_component.py
  web/tests/functional/dynamic_results/test_dynamic_results.py
Labels: enhancement :star2:, server :desktop_computer:, performance :runner:

#4202 test(gui): Add front-end test for checked status in AnalysisInfo dialog
  web/server/vue-cli/e2e/pages/runs.js
  web/server/vue-cli/e2e/specs/runs.js
  web/server/vue-cli/src/components/AnalysisInfo/Checker.vue
  web/server/vue-cli/src/components/AnalysisInfo/CheckerGroup.vue
  web/server/vue-cli/src/components/AnalysisInfoDialog.vue
  web/server/vue-cli/src/mixins/api/analysis-info-handling.mixin.js
  web/server/vue-cli/src/mixins/api/index.js
  web/server/vue-cli/src/mixins/index.js
Labels: GUI :art:, test :ballot_box_with_check:, web :earth_africa:

#4213 [fix] Checker Coverage statistics fixing
  web/api/js/codechecker-api-node/dist/codechecker-api-6.56.0.tgz
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/report_server.thrift
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/src/components/Statistics/CheckerCoverage/CheckerCoverageStatistics.vue
  web/server/vue-cli/src/components/Statistics/CheckerCoverage/CheckerCoverageStatisticsDialog.vue
  web/server/vue-cli/src/components/Statistics/StatisticsHelper.js
Labels: API change :page_facing_up:, usability :+1:, style :memo:

#4216 [fix] Replace UTF-8 dash characters
  web/server/codechecker_server/migrations/report/versions/c3dad71f8e6b_store_information_about_enabled_and_disabled_checkers_for_a_run.py
Labels: database :file_cabinet:, bugfix :hammer:, server :desktop_computer:

#4215 [fix] Prevent overlapping report groups
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:, server :desktop_computer:

#4168 [cmd] Restructure static HTML generation
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/codechecker_report_converter/report/output/html/static/css/buglist.css
  tools/report-converter/codechecker_report_converter/report/output/html/static/index.html
  tools/report-converter/codechecker_report_converter/report/output/html/static/js/buglist.js
  tools/report-converter/tests/unit/output/html/plist_to_html_test.py
  web/tests/functional/diff_local_remote/test_diff_local_remote.py
Labels: enhancement :star2:, CLI :computer:

#4172 [feat] Display dynamic columns in static HTML
  tools/report-converter/codechecker_report_converter/report/output/html/html.py
  tools/report-converter/codechecker_report_converter/report/output/html/static/index.html
  tools/report-converter/codechecker_report_converter/report/output/html/static/js/buglist.js
Labels: enhancement :star2:, GUI :art:, new feature :+1:

#4157 [Fix] Add sorting feature and fix filter for testcase.
  web/api/js/codechecker-api-node/dist/codechecker-api-6.56.0.tgz
  web/api/js/codechecker-api-node/dist/codechecker-api-6.57.0.tgz
  web/api/js/codechecker-api-node/package.json
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api/setup.py
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/py/codechecker_api_shared/setup.py
  web/api/report_server.thrift
  web/codechecker_web/shared/version.py
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/package.json
  web/server/vue-cli/src/components/Report/ReportFilter/Filters/TestcaseFilter.vue
  web/server/vue-cli/src/views/Reports.vue
Labels: API change :page_facing_up:, GUI :art:, bugfix :hammer:, server :desktop_computer:, usability :+1:

#4219 [test] Don't assume a checker doc to be online
  analyzer/tests/functional/analyze_and_parse/test_analyze_and_parse.py
Labels: bugfix :hammer:, test :ballot_box_with_check:

#4204 Add functionality to validate analyzer and checker options
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/cmdline/test_cmdline.py
  analyzer/tests/unit/test_checker_handling.py
Labels: enhancement :star2:, CLI :computer:

#4226 Display warning if the compilation database is empty
  analyzer/codechecker_analyzer/cmd/analyze.py
Labels: enhancement :star2:, analyzer :chart_with_upwards_trend:

#4193 [config] Label Clang 18.0-19.trunk SA & Tidy checkers
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
  config/labels/analyzers/cppcheck.json
Labels: analyzer :chart_with_upwards_trend:, clang sa :dragon:, clang-tidy :dragon:, config :gear:

#4229 [fix] Fixing getReportAnnotations subquery
  web/server/codechecker_server/api/report_server.py
Labels: bugfix :hammer:
