Repository Ericsson/codechecker, pull requests merged in 2024-03, with the labels that each got.

#4173 Fix typos
  docs/analyzer/checker_and_analyzer_configuration.md
  docs/analyzer/false_positives.md
  docs/analyzer/gcc_incompatibilities.md
Labels: documentation :book:

#4179 [gcc] Don't emit a missing gcc warning if no checkers are enabled
  analyzer/codechecker_analyzer/analyzer.py
Labels: bugfix :hammer:, gcc :water_buffalo:

#4188 additional guidance for silicon mac users
  docs/install_macosx.md
Labels: documentation :book:

#4174 chore(docs): Remove mentions of Python 2 and ancient Clang limitations from the README
  docs/README.md
Labels: documentation :book:

#4191 fix(migration): Migrate reports with appropriate default checker ID
  web/server/codechecker_server/migrations/report/versions/c3dad71f8e6b_store_information_about_enabled_and_disabled_checkers_for_a_run.py
Labels: database :file_cabinet:, bugfix :hammer:

#4198 fix(migration): Do not emit log output for `checker_id` normalisation
  web/server/codechecker_server/migrations/report/versions/c3dad71f8e6b_store_information_about_enabled_and_disabled_checkers_for_a_run.py
Labels: database :file_cabinet:, bugfix :hammer:, server :desktop_computer:

#4182 [gcc][GUI] Fix indentations for gcc fn calls bug reports
  web/server/vue-cli/e2e/specs/reports.js
  web/server/vue-cli/src/components/Report/ReportTree/ReportDetailFormatter.js
Labels: GUI :art:, bugfix :hammer:, gcc :water_buffalo:
