Repository Ericsson/codechecker, pull requests merged in 2024-08, with the labels that each got.

#4304 [fix] Minor fixing for statistics tabs
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/src/components/Statistics/CheckerCoverage/CheckerCoverageStatistics.vue
  web/server/vue-cli/src/views/Statistics.vue
Labels: GUI :art:, bugfix :hammer:, server :desktop_computer:

#4307 [fix] Don't enable checkers by suffix
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/tests/unit/test_checker_handling.py
Labels: CLI :computer:, bugfix :hammer:

#4294 [Fix] Report sorting in unique mode
  web/server/codechecker_server/api/report_server.py
Labels: API change :page_facing_up:, bugfix :hammer:, server :desktop_computer:, refactoring 😡 ➡️ 🙂

#4306 [fix] Support joker characters at annotation filter
  web/server/codechecker_server/api/report_server.py
  web/tests/functional/dynamic_results/test_dynamic_results.py
  web/tests/projects/dynamic/main.c_cppcheck_0212cbc2c7194b7a5d431a18ff51bb1c.plist
Labels: bugfix :hammer:

#4291 chore(config): Apply invariant fixes from `label-tool`
  config/labels/analyzers/clang-tidy.json
  config/labels/analyzers/clangsa.json
  config/labels/analyzers/cppcheck.json
Labels: clang sa :dragon:, clang-tidy :dragon:, config :gear:, cppcheck 🐞, label-tool 🔖

#4305 Analyzer binary dependent environment
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_base.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/version.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
  analyzer/codechecker_analyzer/analyzers/gcc/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/env.py
  analyzer/codechecker_analyzer/host_check.py
  analyzer/tests/unit/test_env_var.py
Labels: bugfix :hammer:

#4311 [cmd] Checker name prefixes are meant along separator characters
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/codechecker_analyzer/checkers.py
  analyzer/tests/unit/test_checker_handling.py
Labels: CLI :computer:, bugfix :hammer:

#4315 [feat] Implicit include paths added with -idirafter
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangsa/ctu_triple_arch.py
  analyzer/codechecker_analyzer/analyzers/clangsa/statistics.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/analyze/test_analyze.py
  analyzer/tests/libtest/cmd_line.py
  analyzer/tests/unit/test_analyzer_command.py
  analyzer/tests/unit/test_checker_handling.py
  docs/analyzer/user_guide.md
Labels: CLI :computer:, bugfix :hammer:, analyzer :chart_with_upwards_trend:

#4319 [fix] fix compare_results.py sciprt
  scripts/result_listing/compare_results.py
Labels: bugfix :hammer:

#4320 [fix] Don't reset PATH in Cppcheck plugin
  analyzer/codechecker_analyzer/analyzers/cppcheck/analyzer.py
Labels: test :ballot_box_with_check:, analyzer :chart_with_upwards_trend:

#4322 [test] The assertDictContainsSubset() is depreceted and removed
  web/tests/functional/authentication/test_permission_view.py
  web/tests/functional/diff_remote/test_diff_remote.py
  web/tests/functional/report_viewer_api/test_report_counting.py
Labels: test :ballot_box_with_check:

#4325 [fix] Disable clang-diagnostic-error checker
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
Labels: bugfix :hammer:, analyzer :chart_with_upwards_trend:, clang-tidy :dragon:

#4330 [fix] Missing analyzer error
  analyzer/codechecker_analyzer/analyzer.py
  analyzer/codechecker_analyzer/analyzer_context.py
  analyzer/codechecker_analyzer/analyzers/analyzer_types.py
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/analyzers.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/codechecker_analyzer/cmd/checkers.py
Labels: CLI :computer:, bugfix :hammer:, analyzer :chart_with_upwards_trend:
