Repository Ericsson/codechecker, pull requests merged in 2025-04, with the labels that each got.

#4516 fixed url strip error
  web/server/codechecker_server/api/authentication.py
Labels: bugfix :hammer:

#4524 [test] GitHub actions upgrade to 24.04
  .github/workflows/config_coverage.yml
  .github/workflows/test.yml
  scripts/build/__init__.py
  scripts/debug_tools/crash_clustering/__init__.py
  scripts/result_listing/__init__.py
Labels: test :ballot_box_with_check:

#4517 integrated signum fetching and using it as optional username
  docs/web/authentication.md
  web/server/codechecker_server/api/authentication.py
  web/server/codechecker_server/session_manager.py
  web/server/config/server_config.json
Labels: enhancement :star2:

#4531 [bugfix] Don't crash if clangsa binary is missing
  analyzer/codechecker_analyzer/analyzers/clangsa/analyzer.py
Labels: bugfix :hammer:, clang sa :dragon:

#4532 Add paging to the graph API query
  web/server/codechecker_server/api/authentication.py
Labels: enhancement :star2:, server :desktop_computer:, python
