Repository Ericsson/codechecker, pull requests merged in 2025-05, with the labels that each got.

#4522 Moving authlib to the mandatory requirements
  web/requirements.txt
  web/requirements_py/auth/requirements.txt
Labels: dependencies

#4515 [fix] Apply heuristics when diagtool comes with version number
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
Labels: bugfix :hammer:

#4558 [bugfix] Pass the correct interpreter from bin/CodeChecker to the analyzers
  bin/CodeChecker
Labels: bugfix :hammer:, bazel :jigsaw:

#4577 [ld_logger] Fix suffix match on non-absolute paths
  analyzer/tools/build-logger/src/ldlogger-tool.c
  analyzer/tools/build-logger/tests/unit/test_paths.py
Labels: bugfix :hammer:, ld-logger :page_with_curl:
