Repository Ericsson/codechecker, pull requests merged in 2025-01, with the labels that each got.

#4412 [test] Add tests for different report hashes
  web/tests/functional/dynamic_results/test_dynamic_results.py
  web/tests/projects/dynamic/main.c_clang-tidy_0212cbc2c7194b7a5d431a18ff51bb1c.plist
Labels: test :ballot_box_with_check:

#4397 [test] Modernize Pylint config
  analyzer/tools/build-logger/.pylintrc
  analyzer/tools/merge_clang_extdef_mappings/.pylintrc
  analyzer/tools/statistics_collector/.pylintrc
  tools/report-converter/.pylintrc
  tools/tu_collector/.pylintrc
Labels: test :ballot_box_with_check:

#4421 [Fix] Getting file counts query
  web/server/codechecker_server/api/report_server.py
Labels: database :file_cabinet:, server :desktop_computer:, performance :runner:

#4415 [fix] Proper encoding of standard output
  tools/report-converter/codechecker_report_converter/report/output/plaintext.py
Labels: CLI :computer:, bugfix :hammer:

#4416 [gui] Display full filename
  web/server/vue-cli/src/components/Report/ReportTree/ReportDetailFormatter.js
  web/server/vue-cli/src/components/Report/ReportTree/ReportTreeLabel.vue
Labels: GUI :art:

#4399 [fix] Don't crash when diagtool is missing
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
Labels: CLI :computer:, bugfix :hammer:

#4161 [debug][scripts] Add experimental script for clustering similar crashes
  scripts/debug_tools/crash_clustering/README.md
  scripts/debug_tools/crash_clustering/cluster_crashes.py
  scripts/debug_tools/crash_clustering/requirements.txt
Labels: enhancement :star2:, dev env :rescue_worker_helmet:, tools :hammer_and_wrench:

#4436 [fix] Pylint fails on cluster_crashes
  scripts/debug_tools/crash_clustering/cluster_crashes.py
Labels: bugfix :hammer:

#4433 [fix] Guideline stat API refactoring
  web/api/js/codechecker-api-node/dist/codechecker-api-6.60.0.tgz
  web/api/py/codechecker_api/dist/codechecker_api.tar.gz
  web/api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
  web/api/report_server.thrift
  web/server/codechecker_server/api/report_server.py
  web/server/vue-cli/package-lock.json
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatistics.vue
  web/tests/functional/report_viewer_api/test_get_run_results.py
Labels: GUI :art:, server :desktop_computer:, refactoring 😡 ➡️ 🙂

#4445 [Fix] Sorting of the statistics
  web/server/vue-cli/src/components/Statistics/BaseStatisticsTable.vue
Labels: GUI :art:, bugfix :hammer:
