Repository Ericsson/codechecker, pull requests merged in 2025-03, with the labels that each got.

#4475 [feat] Adding rule title column for Guideline stat
  analyzer/tests/unit/test_guidelines.py
  config/guidelines/cwe-top-25-2024.yaml
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatistics.vue
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatisticsTable.vue
Labels: GUI :art:

#4477 [Refactor] Guideline stat parser
  web/server/vue-cli/src/components/Statistics/Guideline/GuidelineStatistics.vue
  web/server/vue-cli/src/views/NewFeatures.vue
Labels: GUI :art:, performance :runner:

#4480 [fix] Bug report bubble display bugfix
  web/server/vue-cli/src/components/Report/Report.vue
Labels: GUI :art:, bugfix :hammer:

#4465 [cmd] Emit errors instead of hiding flags
  analyzer/codechecker_analyzer/cmd/analyze.py
  analyzer/codechecker_analyzer/cmd/check.py
  analyzer/tests/functional/z3/test_z3.py
  web/tests/functional/statistics/test_statistics.py
  web/tests/libtest/codechecker.py
Labels: enhancement :star2:, CLI :computer:, usability :+1:

#4507 [version] Bump version to 6.26.0
  analyzer/config/analyzer_version.json
  setup.py
  snap/snapcraft.yaml
  web/config/web_version.json
Labels: version :tada:

#4438 [NFC] Eliminate the "W" form of clang-tidy warnings
  analyzer/codechecker_analyzer/analyzers/clangtidy/analyzer.py
  analyzer/codechecker_analyzer/analyzers/clangtidy/config_handler.py
  analyzer/codechecker_analyzer/analyzers/config_handler.py
  analyzer/tests/unit/test_checker_handling.py
  codechecker_common/checker_labels.py
  config/labels/analyzers/clang-tidy.json
Labels: refactoring 😡 ➡️ 🙂, clang-tidy :dragon:

#4512 [fix] Display chronological order in GUI
  web/server/vue-cli/src/views/Reports.vue
Labels: bugfix :hammer:, web :earth_africa:

#4513 [fix] Fix missing CC_LIB_DIR when dev_package is used
  codechecker_common/cli.py
Labels: bugfix :hammer:
